[2021-04-28 16:33] jasvazquez commented on #73
No te preocupes. En cuanto tenga un hueco (y no creo que sean antes del fin de semana 😓 ) te creo un vídeo explicando cómo  hacerlo sobre una máquina virtual 👍🏻

[2021-04-28 16:41] jasvazquez commented on #32
No termino de ver claro que esté terminado (aunque todavía no he tenido tiempo de probar las releases que mencionas)

Este fin de semana estuve trabajando en el tema y, cuando creía tener la solución, descubrí el fallo que has comentado de ejecutar **siempre** update-minino (lo cual, aunque no sea molesto, no procede ni me parece "ético")

Llevo una semana bastante mala de trabajo y de salud (poca

[2021-04-28 16:44] jasvazquez commented on #78
Sí que comparten (como que está copiado y pegado el código entre los dos scripts)
Pensé que lo borraba al terminar pero optaré por generar nombres únicos y evitar problemas, descuida

[2021-04-28 16:47] jasvazquez commented on #75
Parece que te estorba _xterm_ pero no me gusta la idea de que el sistema esté haciendo cosas por detrás y no sepamos qué ocurre ni (de momento) tengamos forma de notificar al usuario el resultado del proceso.

Había optado por usar _xterm_ precisamente para poder interactuar con el script y, aunque esté en la lista de _sudoers_ (buen trabajo) creo que debería seguir visible mientras no tengamos un

[2021-04-28 17:48] aosucas499 commented on #32
Vaya por Dios compañero, espero que no sea nada y mejores. Instentaré echar ratillos probando y jugando con las releases a ver si te ahorro tiempo y lo soluciono.

[2021-04-28 17:50] aosucas499 commented on #78
Igualmente voy a probar a mirar tu código y darle un nombre diferente a cada uno y probar, si se soluciona lo subo y sino te lo dejo. A ver si esta semana que tengo más tiempo libre puedo quitarte algo de trabajo en esto y que mejores.

[2021-04-28 17:54] aosucas499 commented on #75
Update-minino está agregado a sudoers con éxito. Se ejecuta en cada inicio y no pide clave. Si te gusta por ahora que lo tengamos un tiempo mostrando la terminal lo vuelvo añadir.
5929b096bb8af8cdebe520ceef3a41f29367ee74

[2021-04-28 18:11] aosucas499 commented on #78
Creo que con esto vale temporalmente, si posteriormente quieres cambiar nombre o algo usted mismo. La metida de pata haría que algunos pc's que tengo en el aula TIC con autoupdate de customize se me rompiesen y tenía que buscarle una solución temporal.

b630a0ba7bc73ab1a931a69cd046c166034ec722
3cdaab4fce3e39c156b09f254e2e5b9918a19b7d
71b008caadbd3844a3440f03e8bd6ec1af8a77b2

Tan solo he cambiado l

[2021-04-28 18:17] profeIAP commented on #32
Descuida, poca cosa... gracias por los "buenos deseos" 👍🏻

[2021-04-28 18:19] jasvazquez commented on #75
Preferiría (mientras no tengamos otra forma) dejarlo así: sale "barato" y nos ahorramos "sustos" 😉

[2021-04-28 18:37] aosucas499 commented on #75
Cierro tras comprobar que funciona perfectamente en release [1.2.5](https://github.com/aosucas499/minino-TDE/releases/tag/1.2.5). Se ejecuta en cada inicio sin pedir contraseña y se ve gráficamente con xterm.

[2021-04-28 18:38] #75 closed, assigned to aosucas499

[2021-04-28 19:05] aosucas499 commented on #78
Problema solucionado en la [release 1.2.5](https://github.com/aosucas499/minino-TDE/tree/1.2.5).

Para resumir, tenemos update-minino que se ejecuta en cada inicio #32 sin pedir clave #75, mostrando salida en xterm (5929b096bb8af8cdebe520ceef3a41f29367ee74) y customize-minino que vuelve a funcionar #78. Todo probado desde la versión "fix-centros".

![VirtualBox_minino TDE_28_04_2021_20_52_17](http

[2021-04-28 19:07] #78 closed, assigned to jasvazquez

[2021-04-28 20:07] aosucas499 commented on #69
He añadido la función satisfactoriamente, aunque cabe destacar la duda de si en el futuro esta función debe activar/instalar la función 'activarautologin' automáticamente o dejarlo a opción del usuario.

e8f74e776e2924c75172cab410c99bcf04310cae

[Release 1.2.6](https://github.com/aosucas499/minino-TDE/releases/tag/1.2.6)

También queda pendiente y relacionada con esta tarea, añadir la instalación

[2021-04-29 12:15] Samcarfe commented on #73
Muchisísimas gracias @jasvazquez, no me corre prisa, cuando puedas, siempre será de ayuda.

[2021-04-29 16:21] jasvazquez commented on #73
Pues no me lo digas muy fuerte que, con la avalancha de tareas que ha estado moviendo el amigo @aosucas499 igual no va a poder ser el fin de semana 🤣  (se hará lo que se pueda y un poco más 😉 👍🏻 )

[2021-04-29 17:02] aosucas499 opened #79 "apagado automático"
Era necesario añadir a customize-minino la opción de instalar una aplicación que apague el equipo automáticamente a una hora determinada y definida por las necesidades de cada usuario.

Viene muy bien para el control de presencia de Séneca y que el dispositivo se apague automáticamente al acabar la jornada laboral o en cualquier equipo usado en el centro para que igualmente no necesite la interven

[2021-04-29 17:19] aosucas499 commented on #69
añadido apagado automático en customize-minino en tarea #79 -  03ea6e9d63e64a8d4fda81378ef07939a7172b9b -  [release 1.2.7](https://github.com/aosucas499/minino-TDE/releases/tag/1.2.7)

![VirtualBox_minino TDE_29_04_2021_19_14_34](https://user-images.githubusercontent.com/72696244/116593674-a14b1780-a921-11eb-81ef-40998af9151a.png)

[2021-04-29 17:19] aosucas499 commented on #79
añadido apagado automático en customize-minino   03ea6e9d63e64a8d4fda81378ef07939a7172b9b -  [release 1.2.7](https://github.com/aosucas499/minino-TDE/releases/tag/1.2.7)

![VirtualBox_minino TDE_29_04_2021_19_14_32](https://user-images.githubusercontent.com/72696244/116592110-e8d0a400-a91f-11eb-8b82-54e46d0e5a25.png)

![VirtualBox_minino TDE_29_04_2021_19_14_58](https://user-images.githubuserconte

[2021-04-29 17:20] #79 closed, assigned to aosucas499

[2021-04-29 17:23] jasvazquez commented on #79
¿No estamos ante un caso similar a Gimp?
O, lo que es lo mismo... ¿no serviría con explicar cómo se instala o qué  programas hay para hacerlo? 🤔
Prefiero no cargar _customize-minino_ con cosas que podría hacer cualquiera fácilemente 😅

[2021-04-29 17:33] #69 closed, assigned to nobody

[2021-04-29 17:34] aosucas499 commented on #79
Pues creo que viene muy bien, es algo que instalo en todos los PC's del centro y que aunque mucha gente instala no sabe como modificar para la hora (experiencias de cosas que me pidieron en educaandos plus)

[2021-04-29 17:39] aosucas499 commented on #79
Otra cosa es si lo ves bien que incluyamos el control de presencia y el apagado automático en la misma función.

[2021-04-29 18:00] jasvazquez commented on #75
Buen trabajo, compi 👍🏻

[2021-04-29 18:32] aosucas499 commented on #79
¿Lo ponemos en una? Control de presencia que incluya el apagado automático...de todas maneras es algo que solicitan y tiene sentido, un dispositivo que va a estar usándose para fichar lo suyo es que se apague solo.

[2021-04-29 18:37] profeIAP commented on #79
Lo hagamos como lo hagamos, el problema persistirá.

Habría que buscar algún "truqui" lo suficientemente "transparente" e inocuo como para saber cuándo desinstalar el programa sin fastidiar a nadie

[2021-04-29 19:07] aosucas499 commented on #79
No entiendo tu punto de punto de vista, imagino que te refieres a que desinstalar el control de presencia implicaría desinstalar el apagado automático. No se me ocurre una situación en la que en un dispositivo se necesite desinstalar el apagado automático y no el control de presencia o viceversa.

En todo caso se me ocurre que la desinstalación del control de presencia preguntara al usuario si qui

[2021-05-01 11:20] jasvazquez commented on #77
Se me ha pasado completamente subir [el enlace del torrent](https://drive.google.com/file/d/1fAoSEl0Htw0xaGFrdItbF5HNcIrsxxt2/view?usp=sharing)
Si es que no ando "fino" 😅

[2021-05-01 11:51] aosucas499 commented on #77
![imagen](https://user-images.githubusercontent.com/604744/116788302-1eed5f80-aaa9-11eb-9a3c-470eb9a6ee4d.png)
Tira de muerte!!! Esto va a ser mi router. Te pasaré por drive la versión oficial del HP y me haces el torrent cuando tengas tiempo.

[2021-05-01 16:15] jasvazquez commented on #77
Vaya, me alegro aunque no creo que las tengamos todas con nosotros.
Avisa cuando termine de descargar la ISO 😏 😇

[2021-05-01 16:17] aosucas499 commented on #77
Terminó

![Screenshot_2021-05-01-18-17-05-919_net yupol transmissionremote app](https://user-images.githubusercontent.com/72696244/116788379-7db2d900-aaa9-11eb-9e43-5cff23d855d3.jpg)
![Screenshot_2021-05-01-18-16-59-505_net yupol transmissionremote app](https://user-images.githubusercontent.com/72696244/116788383-81466000-aaa9-11eb-841c-1bdac626850f.jpg)

[2021-05-01 16:19] jasvazquez commented on #77
Uyyy... qué bueno. Ya sólo nos queda crear la ISO (uno de estos días) y publicarla por este medio 😍 👍🏻

[2021-05-01 16:21] aosucas499 commented on #77
Pues pronto tendremos que hacerla. Hace mucho que la hicimos la anterior y con el autoupdate vendría bien.

[2021-05-01 16:50] jasvazquez commented on #77
Sí, pero está igual "de fino" que yo 🤣
Intentaré dedicarle un rato (espero que de calidad)  y tratamos de cerrar el tema 👍🏻

[2021-05-01 16:52] jasvazquez commented on #79
No soy de molestar "innecesariamente" al usuario: cuanto menos se pregunte, más contento estará 😉

Estoy pensando en los amigos que usan Minino para montar un hilo musical en el centro o aquellos coles que no tengan servidor de contenidos y quisieran que los equipos, al terminar la jornada se apagasen automáticamente sin tener que revisarlos.

En mi centro, hay **demasiados/as** que pasan de apaga

[2021-05-01 19:47] aosucas499 commented on #79
Entiendo entonces que dejamos la función tal cual está añadida en customize-minino

[2021-05-01 20:06] jasvazquez commented on #79
No sé, déjame pensarlo: en _customize-minino_ (salvo que me digas lo contrario) y pudiendo instalarse como cualquier otro programa, no termino de verlo necesario (no me gustaría llenarlo de opciones innecesariamente)

[2021-05-02 17:20] jasvazquez commented on #32
Compi, quedo a la espera de que puedas hacerle alguna prueba (mañana si éso 😉 )

[2021-05-03 19:07] aosucas499 commented on #32
Excelente trabajo compañero. He probado y aquí tienes el testing:

1. Arrancando desde la release 1.2.7 se ha puesto a actualizar a la 1.2.8, pidiéndome confirmación. Puedes observar en estas imágenes el aviso y la fecha de update-minino a días previos a tu nueva release.
![VirtualBox_minino TDE_03_05_2021_20_51_02](https://user-images.githubusercontent.com/72696244/116919794-1a17df80-ac52-11eb-85

[2021-05-03 19:10] aosucas499 commented on #32
También comentar que  ya no sale xterm haciendo todo el trabajo en cada inicio si update-minino está actualizado a la última release. Da un pequeño pantallazo en cada inicio y desaparece, cosa que ya la veo aceptable.

He hecho otra prueba que no estoy seguro, ya que no me queda hoy más tiempo. Creo recordar que el check que hace update-minino sobre si existe customize-minino como app del sistema

[2021-05-06 20:24] aosucas499 commented on #77
Compañero, algún día que tengas tiempo y te acuerdes, créame el torrent para el backup de educaAndOS oficial para los HP Probook 455 g7. Lo he intentado en el pc de manera gráfica e intenté toda la tarde descargarlo desde el pc y el móvil a través de datos y no ha habido manera, me da que mi compañía de fibra O2 (movistar) me está capando algo. A ver si podemos compartirlo con los compañeros que n

[2021-05-07 06:08] josemariagomariz commented on #59
Así es, vas a configuración de audio (botón derecho en el icono de sonido) y quitas el mute de la pestaña que pone head.... y vuelve a funcionar

[2021-05-07 16:05] jasvazquez commented on #77
Andrés, de mil amores te lo haría pero en mi centro no tenemos los HP 🤔

[2021-05-07 16:15] aosucas499 commented on #77
Me refiero a que me crees el archivo .torrent de esta versión. Creo que mi compañía me corta la subida.

[2021-05-08 11:04] jasvazquez commented on #32
Me alegra que te guste Andrés (gracias)

Gestionar la ausencia de `/usr/bin/update-minino` (de customize no recuerdo haber incluido nada) es un "work in progress" y lo dejé por un comportamiento "curioso" con el que no me quedaron más ganas de pelear el pasado fin de semana 😅 .
Si lo consideras interesante le dedico algo más de tiempo pero ten en cuenta un detalle: la idea es partir de una ISO que

[2021-05-08 11:05] jasvazquez commented on #77
¿Sigues necesitándola "bro"? 🤔

[2021-05-08 11:45] aosucas499 commented on #32
No! Vamos a por la release, solo te lo decía porque pensé que lo incluiste. Genial así!!!

[2021-05-08 11:47] aosucas499 commented on #77
Voy a probar diferentes clientes torrent y crear archivos .torrent  y sino lo consigo te aviso. Ya más que nada por la duda. Te aviso en caso contrario y me la creas, mil gracias compañero!

[2021-05-08 11:50] jasvazquez commented on #77
A ti, Andrés

No sé que trackers estarás usando pero el que puse en el artículo lo voy a cambiar porque ha quedado obsoleto.
El correcto sería éste

![imagen](https://user-images.githubusercontent.com/604744/117537964-55c0f980-b004-11eb-80b5-4f313b66741d.png)

[2021-05-08 12:06] aosucas499 commented on #77
Puse ambos, con puerto 6969 y 80. Quizás como han comentado en el grupo de Telegram sea un problema de transmission. Probaré con otro y así de paso si lo consigo cuando generemos la release de minino, podemos compartirla así.

[2021-05-09 10:37] aosucas499 commented on #77
Por fin lo he conseguido, parece que el problema era de transmission, aunque no estoy seguro al 100%. Lo he generado desde qbittorrent y he abierto el puerto en el router con la IP del pc de sobremesa, este puerto antes lo tenía abierto en el servidor de TV del KIII pro. Pero es raro, ahora esta mañana también me comparte el kiii la ISO de los dell y la del HP.

Resumiendo, generaré con qbittorren

[2021-05-09 10:37] aosucas499 opened #80 "Generar ISO autoactualizable"
Pues eso, basándonos en la última release, habiendo probado la increíble función de autoupdate, creo que podemos generar la que posiblemente sea la última ISO. ¿Cómo lo ves?

[2021-05-09 12:15] profeIAP commented on #77
Como si sólo lo compartimos así hasta que alguien se queje por no poder acceder (en dicho caso, ya buscaríamos soluciones 😉)

¿Crees conveniente lanzar la versión actualizable de Minino a todo el mundo o mejor abrir una fase de pruebas proporcionando la nueva ISO sólo a unos cuantos e ir abriendo poco a poco el acceso según funcione? 🤔

[2021-05-09 12:15] profeIAP commented on #80
Justo y... necesario 😅👍🏻

[2021-05-09 12:19] aosucas499 commented on #77
Pues ahora que lo dices y los buenos betatesters que tenemos en el grupo, creo que tu idea es mejor.

[2021-05-09 13:37] profeIAP commented on #77
Uuummm... ¿hablamos de usar sólo el torrent o de una "beta privada"? 😉 🤔

[2021-05-09 13:39] aosucas499 commented on #77
Ambas jajaja. Por ahora la ISO la compartimos solo por torrent, y durante unos días solo de forma privada hasta que comprobemos que no salen errores.

[2021-05-09 13:55] jasvazquez commented on #77
Me parece bien 👍🏻

[2021-05-09 14:23] jasvazquez commented on #73
Desde luego, estoy para que me encierren: cree [el vídeo](https://drive.google.com/file/d/1w6LVzAfgXI3YA5cGQzEXtEJcngM1Od1p/view?usp=sharing) el lunes pasado, lo subí a Drive para compartirlo y ni me he acordado de ponerlo aquí 🙈

Te lo dejo en el enlace @Samcarfe, espero que te sea de utilidad 👍🏻

[2021-05-09 15:33] jasvazquez opened #81 "Falla activación modo incógnito"
Haciendo pruebas con minino-fixCentros, detecto que no existe en el escritorio del usuario el icono de la última versión de Firefox

![imagen](https://user-images.githubusercontent.com/604744/117577919-2eddf280-b0ec-11eb-9394-bbefcc7c799d.png)

Resulta curioso cuando [`update-minino` se encarga de crearlo](https://github.com/aosucas499/minino-TDE/blob/6e61bdbef0c9e0d6b1a70ffe16c7b30ce6b49c76/updat

[2021-05-09 15:54] aosucas499 commented on #81
Mi versón de fix-centros si tiene el icono de la última versión. El problema es que en ese momento teníamos la instalación en la carpeta /home/usuario/firefox. Después propusimos incluirla como aplicación del sistema y eso hacía update-minino, borrarlo de la carpeta de usuario, el icono, etc... y lo vuelve hacer el proceso pero como app del sistema.

[enlace al código de la función](https://github

[2021-05-09 16:16] jasvazquez commented on #81
Qué liá tengo con las ISOs de Minino, @aosucas499 🙈

En su día descargué la última ISO que tenemos en el README.md al entender que era la "fixCentros" y los iconos que tiene en el escritorio son los que puedes ver en la siguiente captura

![imagen](https://user-images.githubusercontent.com/604744/117579298-867f5c80-b0f2-11eb-97f9-ae5ccabc7851.png)

**NOTA:** conste que lo que estás viendo es poste

[2021-05-09 16:28] jasvazquez opened #83 "Permitir "pre Releases""
Sería interesante poder marcar algunas _releases_ como versiones previas

![imagen](https://user-images.githubusercontent.com/604744/117579660-373a2b80-b0f4-11eb-99c5-b500d4246c88.png)

de modo que podamos hacer desarrollos/pruebas que no le salten a los usuarios finales.

Hasta ahora vengo usando _forks_ y _pull requests_ pero sería bastante más cómodo hacerlo todo en el repositorio oficial

[2021-05-09 16:30] aosucas499 commented on #81
jajajaj mira la foto. La versión fix-centros es la primera que teníamos. Es de noviembre del 2020.

![Captura de pantalla de 2021-05-09 18-25-26](https://user-images.githubusercontent.com/72696244/117579683-4d47ec00-b0f4-11eb-9b13-219de3a1c367.png)

Esta foto es de la fix-centros recién cargada en máquina virtual, el instalador.

![VirtualBox_test_09_05_2021_18_28_58](https://user-images.githubuse

[2021-05-09 16:32] aosucas499 commented on #83
Por mi genial. Estas versiones no se autoactualizarían, ¿correcto?

[2021-05-09 16:35] jasvazquez commented on #81
Creo recordar que hablamos en su día (porque yo pregunté que por qué no partíamos de la GALPon original) que preferías la de noviembre porque habías hecho una serie de cambios que ya ni recordabas (si lo hicieses me preocuparía mi agostada memoria 🤣 )

Yo creo que lo suyo sería usar la más "original" posible y así tener todo completamente automatizado y gestionado por el script ¿no?

[2021-05-09 16:38] jasvazquez commented on #83
No termino de tenerlo claro pues podría ser necesario para probar según qué cosas.
Igual la IDEA es una tontería, es lo que mi amigo Teo llama una "idea cúbica": tengo que darle patadas hasta ponerla redonda.
La he dejado aquí anotada para que no se me olvide en las brumas de mi memoria 😅

[2021-05-09 16:47] aosucas499 commented on #81
Si sí, yo era por si te daba problemas y preferías la de enero. Seguimos partiendo como siempre de fix-centros. De hecho, siempre la genero así, arranco fix-centros, aplico update-minino y genero iso.

[2021-05-09 16:52] aosucas499 commented on #83
Genial entonces. Mi duda es si tienes que decidirlo antes de generar nuestra última ISO "rolling release".

[2021-05-09 17:06] jasvazquez commented on #81
Creo que ya sé qué está pasando... ¿técnicamente debería quedar así?

![imagen](https://user-images.githubusercontent.com/604744/117580708-8a62ad00-b0f9-11eb-89ed-f2f52ea8f2d2.png)

**TRADUCCIÓN:** que desaparezca el _firefox-83_ y que en su lugar aparezca el _firefox-latest_

[2021-05-09 17:08] aosucas499 commented on #81
Seguramente firefox83 es el icono de firefox instalado en la carpeta usuario y -latest una vez instalado en /usr/lib

[2021-05-09 17:08] jasvazquez commented on #83
Espero que no...

El código que pueda añadir para implementarlo (si finalmente se implementa esta idea) se actualizaría automáticamente junto a `update-minino` en la próxima release que nos animemos a publicar.

¿Alguna "gracia/utilidad" debía tener la versión _rolling_ de Minino? 😉

[2021-05-09 17:11] aosucas499 commented on #83
Genial entonces!

[2021-05-09 17:21] jasvazquez opened #84 "Actualizar Firefox a la versión 88"
Compruebo que existe la versión 32bits de Firefox 88

![imagen](https://user-images.githubusercontent.com/604744/117581156-b41cd380-b0fb-11eb-81ce-731a660d4f3f.png)

Sería interesante plantearnos su actualización de la 83 que actualmente utiliza Minino-TDE

[2021-05-09 17:22] jasvazquez commented on #84
Aquí la [url al nuevo ejecutable de firefox](https://download-installer.cdn.mozilla.net/pub/firefox/releases/88.0/linux-i686/es-ES/firefox-88.0.tar.bz2)

[2021-05-09 17:38] aosucas499 commented on #84
Lo penśe compañero, pero al ser un sistema tan antiguo, pensé que mejor lo metíamos una vez generada la rolling-release, una vez  probemos esa versión de firefox y veamos que no reduce la ram, funciona rápida, etc...

[2021-05-09 18:52] jasvazquez commented on #84
Genial, me parece buen plan
La apunté como IDEA por lo mismo 😉

[2021-05-10 06:07] Samcarfe commented on #73
Muchísimas gracias.

Y no te preocupes por eso de la cabeza, creo que nos está pasando a todos, debe ser un efecto colateral del Covid-19.

Saludos

[2021-05-10 06:09] profeIAP commented on #73
Pollos sin cabeza algunas veces 🤷🏻‍♂️
Cuando tengas oportunidad de probarlo, avisa 👍🏻

[2021-05-10 06:10] Samcarfe commented on #73
No me deja acceder al drive

[2021-05-10 06:12] profeIAP commented on #73
Ahora deberías poder entrar: acabo de aceptar tu solicitud de acceso 😉👍🏻

[2021-05-10 06:14] Samcarfe commented on #73
Gracias, que eficiencia!!!!

[2021-05-10 06:39] Samcarfe commented on #73
Ya lo he probado y, siento decir, que sigue igual, no se activa el usb.
El USB aparece, el driver aparece cargado en el lsmod, he seguido los pasos tal y como me has enseñado en el video y nada.
He vuelto a probar el pincho en dos ordenadores diferentes y va  bien, pero no consigo que vaya en esta máquina.
Muchas gracias por todo el esfuerzo y dedicación.

[2021-05-10 13:52] jasvazquez commented on #73
Pues el driver en principio está compilado y cargado por lo que debería estar funcionando... ¿no será como [lo que te pasó con el Acer Aspire One](https://github.com/aosucas499/minino-TDE/issues/68#issuecomment-813869042), no?

Yo apostaría por que NetworkManager no esté gestionando la tarjeta de red más que por el driver en sí 🤔

[2021-05-10 15:45] jasvazquez commented on #83
Como IDEA se me ocurre que sólo se actualice si existe determinado fichero en el `$HOME` o "perdido" en el sistema.
De este modo los "usuarios finales" no se verían "molestados" por las actualizaciones parciales y los desarrolladores tendríamos la opción de activar (dejando el fichero) o desactivar (borrándolo/renombrándolo) dicha posibilidad.

Se me ha pasado incluirlo como opción en `customize-m

[2021-05-10 16:50] aosucas499 commented on #83
Me parece genial ese "easter egg". Con lo de customize te refieres a que customize-minino también se actualizara a una prerelease si encontrara el huevo de pascua no?

[2021-05-10 16:51] aosucas499 commented on #83
Pienso que si lo hacemos en uno (update-minino), lo hacemos en otro no (customize)?

[2021-05-10 16:51] jasvazquez commented on #81
Aunque sospecho que el problema que me estaba dando era por usar `update-minino.sh` con _sudo_ desde el código clonado por _git_, opto por usar $USER a la hora de copiar el icono y descargo los ficheros en `/tmp` mediante el commit 145a5da para que no exista la posibilidad de dejar basura en `/usr/bin`

[2021-05-10 16:51] #81 closed, assigned to nobody

[2021-05-10 16:59] jasvazquez commented on #83
Veo que ando "espeso" 🤣 😅

En realidad me refería a incluir en `customize-minino` una opción tipo

+ "Activar modo kamikaze e instalar cualquier actualización de desarrollo que pueda romper mi sistema"
+ "Activar modo inestable de desarrollador sabiendo que me romperá Minino_TDE a la primera de cambio"

De modo que si se activa, metería el "easter egg" en el sistema y cualquier _release_ que se pu

[2021-05-10 17:06] aosucas499 commented on #83
Ah vale, te entiendo ahora, yo también ando espeso leyendo los lunes...sin modos "huevo de pascua" en customize-minino mejor. Ese huevo de pascua lo metemos de forma manual cuando estemos de desarrollo y lo borramos al generar releases oficiales

[2021-05-10 17:08] jasvazquez commented on #83
Yo no termino de verlo en `customize-minino`: sólo nos va a dar dolores de cabeza y quejas de los que lo activen
Yo prefiero hacer un `touch` con un nombre de fichero en algún sitio y listo

[2021-05-10 17:10] aosucas499 commented on #83
Si sí, con touch, meter la opción "developer" en customize no!!!

[2021-05-11 06:38] Samcarfe commented on #73
@jasvazquez lo he probado y tampoco va... Pero creo que pueden ir los tiros por ahí, ya que detecta el pincho, tiene el driver bien instalado, pero es como si no lo gestionara.
Al colocar el pincho en otro ordenador (da igual el SO) se enciende automáticamente un led verde que trae incorporado, pero en el caso de esta máquina no es así, se queda apagado y no hace nada.
He llegado a pensar que se t

[2021-05-11 09:00] jasvazquez commented on #73
¿Un `sudo iwlist scan` permite identificar las redes wifi en tu ubicación?
Agradecería captura de pantalla 👍🏻

[2021-05-11 09:30] Samcarfe commented on #73
He hecho el sudo iwlist scan y me ha dicho que no soporta el escaneo
Aquí llevas el pantallazo:
![PANTALLAZO_MININO_2](https://user-images.githubusercontent.com/79637829/117793132-3a482f80-b24c-11eb-9746-530a1cf40510.jpeg)

[2021-05-11 09:59] profeIAP commented on #73
Observa que ninguna es la supuesta interfaz del pincho USB

¿Habrá que "levantarla"?

Era un `up` pero no recuerdo ahora mismo la sintaxis del comando

En cuanto pueda (no tengo claro que sea esta tarde) intento hacer alguna prueba

[2021-05-11 16:36] jasvazquez commented on #73
Necesito que instales el paquete `lshw`
Cuando lo tengas

+ lanza un `lshw -C network`
+ busca el que tenga como _bus info_ un valor tipo usb@N:M
+ anota el valor del campo **logical name**

Con el valor anterior lanza un `sudo ifconfig MILOGICALNAME up`

![Captura_mar may 11 16:36:02](https://user-images.githubusercontent.com/604744/117852891-57debe80-b277-11eb-970e-eca04b26d1f6.png)

En este eje

[2021-05-12 06:26] Samcarfe commented on #73
Hola:
He instalado lshw. He ejecutado lshw -c network y no aparece el "pincho", solo detecta la tarjeta de red de la placa base, como puedes comprobar:
![PANTALLAZO_MININO_3](https://user-images.githubusercontent.com/79637829/117928274-9ae27580-b2fb-11eb-8816-14657a22f382.jpeg)

Siento que no estoy siendo de mucha ayuda, pero la verdad, me tiene desconcertado .

[2021-05-12 07:45] jasvazquez commented on #73
Poco a poco.

Sólo se me ocurren dos posibilidades
+ que el puerto usb esté estropeado (aunque en ocasiones has mostrado capturas de `lsusb` y lo detecta)
+ que el driver no esté cargado (recuerda el comando `lsmod` pero no tiene mucho sentido porque `lshw` es para detectarlo físicamente)

De todos modos vamos a probar:
+ lanza un `lsmod | grep 88`
+ lanza un `lsusb`
+ manda capturas de ambos

Gra

[2021-05-12 12:15] Samcarfe commented on #73
Entiendo que el lsmod es para listar los drivers, pero me da a mi que no aparecen.
![PANTALLAZO_MININO_4](https://user-images.githubusercontent.com/79637829/117973293-7f439300-b32c-11eb-86e8-7ba3d609d0ea.jpeg)

[2021-05-12 14:25] jasvazquez commented on #73
En realidad, lo que no aparece es el driver del pincho usb porque el `| grep 88` del final es para filtrar nuestro driver (si lo quitas verás gran cantidad de información pero no nos resulta de utilidad)

Al  menos tenemos una "pista": parece que no está cargado el driver que has compilado.

Lanza un `sudo modprobe 8821au` como [hablamos aquí](https://github.com/aosucas499/minino-TDE/issues/73#iss

[2021-05-12 16:31] Samcarfe commented on #73
Cierto, mi "dislexia" es así de chunga... Pero si te das cuenta, en esta respuesta tuya aparece el 8812au... Menudo lío con los 12 y 21 au...

Pruebo en un rato y dejo comentario.

[2021-05-12 20:00] jasvazquez commented on #73
Dislexia vs mi Alzheimer 🙈
Es verdad que lo estuvimos hablando en su día (y que ya había desaparecido de mis recuerdos 🤷🏻‍♂️)
No tengo claro ahora mismo cuál genera la compilación del driver: tendré que mirar el vídeo para aclararlo aunque tiene más sentido tu propuesta.
Siempre puedes probar con ambas 😅👍🏻

[2021-05-13 11:31] jasvazquez commented on #73
Duda aclarada compi... apostaría a 8821au 😉

![imagen](https://user-images.githubusercontent.com/604744/118120014-867fa500-b3ef-11eb-88b9-eaa7bf8d1767.png)

[2021-05-14 06:37] Samcarfe commented on #73
Hola @jasvazquez :
He vuelto a compilar el driver, utilizado el driver de Edimax 8821au, tal y como  me recomendste, todo ha funcionado bien, cuando he hecho el lsmod aparecía el driver.

Para asegurarme de que se actualizaba todo correctamente, he reiniciado la máquina y sigue sin funcionar, peor al hacer lsmod ya no aparece el driver...

[2021-05-14 15:21] jasvazquez commented on #73
Realmente no hacía falta volverlo a compilar Samuel (para que te evites trabajo la próxima vez 👍🏻 )
Antes de reiniciar y cuando estabas viendo el driver con `lsmod`: ¿aparecían las wifis con el comando `iwlist` que te comenté el otro día?
Supongamos que tenemos que buscar la forma de activar el driver en cada reinicio (lo dejamos para más adelante) ¿puedes cargar con `modprobe` el driver una vez r

[2021-05-20 19:00] jaimecarrascogarcia opened #85 "No autoactualiza con wifi Andared - versión pruebas rolling"
Adjunto capturas, del problema que hay a continuación:

![photo_2021-05-19_09-14-59](https://user-images.githubusercontent.com/77231941/119034164-5b2c2580-b9ae-11eb-90d5-c685603a681e.jpg)
![photo_2021-05-20_20-58-27](https://user-images.githubusercontent.com/77231941/119034205-68491480-b9ae-11eb-81b6-708ecd20c735.jpg)

¿A qué puede ser debido?

[2021-05-20 19:31] profeIAP commented on #85
Hola Jaime, ya me comentó @aosucas499 algo del problema pero no sé si llegó a hacer unas pruebas que comentó.

Tengo entendido que ibas a probar en otro equipo ¿te falla en ambos?

Teniendo en cuenta cómo va en mi centro Andared ¿podrías probar en casa con ese equipo? 🤔

[2021-05-20 19:43] aosucas499 commented on #85
Llegué a probar, en virtualbox iba bien. También me comentó el problema el compañero "Joaquín Cabrera". Primero me comentó el mismo problema que @jaimecarrascogarcia . Posteriormente se llevó el PC a casa y todo le iba genial con cable. Lo raro es que me dijo que también le iba bien con wifi en casa, cosa rara. A no ser que algo en la conexión TCP de Andared esté restringida y afecte al [código de

[2021-05-20 20:10] aosucas499 commented on #85
Como prueba para @jaimecarrascogarcia , si  los fallos fueron conectando el pc al wifi del centro, podríamos probar a cambiar el código de comprobación de Internet. Pasos:

1. Abrir terminal con el equipo en el centro conectado a Andared y escribir:
  `sudo pluma /usr/bin/customize-minino`

2. Se abrirá el archivo en el editor de texto gráfico y buscamos la variable que contiene el código:

`funct

[2021-05-21 05:55] profeIAP commented on #85
Interesante alternativa (de más alto nivel en el protocolo TCP/IP) a la función que comprueba la conexión @aosucas499 👍🏻

[2021-05-21 06:05] pieroproietti commented on #74
Hola,

I'm continuing my adventure with penguin's eggs and krill, a new CLI Linux installer.

I think the idea to the new installer krill is good: made in CLI something like GUI installer calamares, but the way - of course - is long.

It is not finished yet, but it is working. i just remastered a minino from yours ISO, and put it on [sourceforge](https://sourceforge.net/projects/penguins-eggs/file

[2021-05-21 16:31] aosucas499 commented on #85
Me alegro que te guste, busqué por internet alguna comprobación que usara algún método para puertos que seguro que no estaban capados en Andared.

[2021-05-21 16:34] aosucas499 commented on #74
Thank you so much friend @pieroproietti !!!!
What amazing gift!!! We'll try next week ASAP...very excited to try our iso with your interesting project

[2021-05-21 16:59] pieroproietti commented on #74
It's nice to see so many peoples working on an educational project.

Have nice weekend

Il giorno ven 21 mag 2021 alle ore 18:34 aosucas499 <
***@***.***> ha scritto:

--
*Piero Proietti*
*Via Pio Joris 15, 00155 Roma*
*sito:  h ***@***.***>ttp://penguins-eggs.net
<http://penguins-eggs.net>*
*Internet MAIL:  ***@***.*** ***@***.***>*

[2021-05-23 15:53] aosucas499 commented on #85
@jaimecarrascogarcia me comentó en Telegram que la prueba le funcionó en el portátil conectado a Internet por wifi en el centro. También me comentó que otro compañero que la probó, "Oscar", no necesitaba este fix incluso en el centro, por lo que suponemos que algunos servidores en los centros tienen unos puertos capados y otros no en la conexión Wifi.

Descartamos que sea un problema del código de

[2021-05-23 16:52] aosucas499 commented on #74
My friend @pieroproietti. I have tried the version and it breaks the terminal when you finish the settings and "click" to install. I remember it happend the same time ago when penguineggs was adapted to install in debian jessie. Probably is a problem of our distribution. Did you try to install in virtual box o anything?

[2021-05-23 17:04] pieroproietti commented on #74
I installed it on VM KVM (proxmox ve), 4 GB scsi 16GB. Never tried onì real
hardware. I added kernel 3.19 and  spice-vdagent

Il dom 23 mag 2021, 18:52 aosucas499 ***@***.***> ha scritto:

[2021-05-23 18:02] aosucas499 commented on #74
I tried in virtual box 6.1 on ubuntu 20.04 focal. I'll try on real hardware.

[2021-05-23 19:09] aosucas499 opened #86 "actualizar de la versión TDE Minino a la rolling sin instalar"
Se hace necesario un script que lanzado en los sistemas con la versión de enero de este año, actualice a la versión rolling en cuánto pase las pruebas #85 #80

Tenemos que descartar la opción de que vuelvan a instalar en todos los sistemas Minino TDE de los centros educativos, sería un duro trabajo para los docentes y desmotivaría hacia nuestra distribución.

Bit.ly muestra que entre todas las ver

[2021-05-24 05:18] chipygr commented on #85
Efectivamente, me comentó Jaime la situación y probé la version Rolling en el centro en dos Toshibas, uno verde y uno azul. En ambos podia trabajar con el customize sin problemas, así que entendimos que el problema deberia venir de la red del centro, no de parche en si.

[2021-05-24 06:29] pieroproietti commented on #74
I saw this morning, installing my version of minino-tde distro on a previus formatted disk, who it mount /dev/sda1 as swap, so get error during installation. To solve I just removed, with gparted, the swap partition before to install. Sorry, krill need to evolve more, but  - at the same time  - to evolve need to be used, for that I propose it.

[2021-05-24 14:18] aosucas499 commented on #85
El compañero Joaquín Cabrera me comenta por Telegram:

[2021-05-24 17:20] jaimecarrascogarcia commented on #85
Bravo equipo, ya lo teneis!!!!

[2021-05-24 18:36] aosucas499 commented on #86
A falta del alguna prueba más, tenemos el [script](https://github.com/aosucas499/minino-TDE/blob/main/updateToRolling.sh) para actualizar de una versión anterior a la versión actual "Rolling".

A parte de actualizar update-minino y customize-minino, copia la configuración de los iconos del escritorio, la barra inferior y el fondo de pantalla como predeterminados por si en el futuro cambiamos de in

[2021-05-24 18:39] aosucas499 commented on #86
Se necesitan probadores/testers...

[2021-05-24 18:42] aosucas499 commented on #85
Cuando @jaimecarrascogarcia lo pruebe en los próximos días en el cole con Andared y nos dé su opinión de increíble betatesters,  y probemos a actualizar en equipos con la anterior versión (yo mismo lo haré en mis chuck norris del cole) #86 , publicamos la ISO y la info. #80

[2021-05-25 16:38] aosucas499 commented on #86
Con la ayuda y feedback de @jaimecarrascogarcia se plantea un problema en el script. Funciona y actualiza pero da problema de falta de detección de red en los dispositivos conectados a la wifi Andared.

 El motivo es debido a que este script no puede descargar la última release, copiar update-minino al sistema y actualizar, porque al ser la última release, update-minino detecta  que es la última y

[2021-05-25 16:40] aosucas499 commented on #86
Con la ayuda y feedback de @jaimecarrascogarcia se plantea un problema en el script. Funciona y actualiza pero da problema de falta de detección de red en los dispositivos conectados a la wifi Andared.

 El motivo es debido a que este script no puede descargar la última release, copiar update-minino al sistema y actualizar, porque al ser la última release, update-minino detecta  que es la última y

[2021-05-25 17:01] aosucas499 commented on #85
Comprobado que funciona por @jaimecarrascogarcia y "Joaquín Cabrera"

[2021-05-25 17:01] #85 closed, assigned to nobody

[2021-05-25 17:51] aosucas499 commented on #32
Dejo apuntado aquí (tras 1 hora calentándome la cabeza) que update-minino no solo necesita nueva release para actualizar, también necesita algún cambio en su código.

[2021-05-26 06:05] profeIAP commented on #32
cosas de los "hashes" 🤣😅

[2021-05-26 19:05] jaimecarrascogarcia commented on #32
Compañeros, después de probar la magnífica ISO "testing", me encuentro con el problema de que en los Toshiba NB500, comparándolos con otros modelos en concreto, la mayoría de los reinicios de sistemas no actualiza ya que no hay conexión a internet. El problema es que el "auto update" se inicia antes que la conexión, y a este no le da tiempo a conectarse a tiempo.
Creo que sería interesante, hacer

[2021-05-28 17:00] aosucas499 commented on #86
Hecho y funcionando. [Commit](https://github.com/aosucas499/minino-TDE/commit/aefe9f8a1574e2b575d412cabc2766b693425e1f)

[2021-05-28 17:00] #86 closed, assigned to nobody

[2021-05-28 17:02] aosucas499 commented on #80
Cerrando las tareas #86 y #85. ¿Cómo vemos lanzar la ISO?

[ISO link](https://bit.ly/3bjdD8R)

[2021-05-29 07:36] chipygr commented on #80
Descargando y testando

[2021-05-30 20:17] aosucas499 commented on #32
Mismo problema con las lamentablets, dan fallo siempre al iniciar, si cierras e inicias sesión ya detecta pero de inicio la red tarda más en cargarse. Voy a probar a meterle unos segundos de sleep a la función.

[2021-05-30 20:58] aosucas499 commented on #32
Creo que solventado f937435031f21ec0af5185745d6501f03ca5f5f3
[Nueva release](https://github.com/aosucas499/minino-TDE/releases/tag/1.3.5)

[2021-06-02 19:30] aosucas499 commented on #69
![customize-minino](https://user-images.githubusercontent.com/72696244/120541114-c253cc00-c3e9-11eb-932f-02dc697c117c.png)
añadida imagen para usar en readme

[2021-06-03 19:48] jaimecarrascogarcia opened #87 "Añadir aplicación para indicar temperatura de la CPU"
Se me ha planteado, algunos bloqueos de sistema, y creo que son por sobrecalentamiento.... en algunos dispositivos entre ellos algunos Acer aspire one d270 y toshiba nb500, ¿se podría añadir alguna aplicación que indique la temperatura?

Muchas gracias!!!

[2021-06-03 19:52] aosucas499 commented on #87
Comprueba como va cambiando la temperatura de la CPU en una terminal con:

`watch sensors`

La idea es buena como applet.

[2021-06-03 19:53] aosucas499 commented on #87
En la barra de tareas trae iconos para controlar gráficamente el porcentaje de carga de la CPU (azul) y de RAM (en rojo), para que vigiles si algo de eso sube y hace que se "freezeen" esos dispositivos.

[2021-06-03 19:55] jaimecarrascogarcia commented on #87
Correcto compi, pero no indica la temperatura aproximada la que está el dispositivo.....no se si sería clave saberlo...

[2021-06-03 19:56] aosucas499 commented on #87
Minino trae ya el applet. Se añade pulsando con el botón derecho en la barra por la derecha y "añadir o quitar elementos". En el apartado "miniaplicaciones del panel" selecciona y añade "monitor de temperatura". Te saldrá un número en la barra indicando la temperatura. Abre un vídeo de youtube y verás como sube.

[2021-06-03 20:07] aosucas499 commented on #87
Si quieres estresar la CPU para que suba y no te vale con youtube.

1. instala este programa:
`sudo apt-get install stress`

2. En la terminal ejecuta:
`sudo stress -c 'nº cpus del dispositivo' --io 4 --vm 2 --vm-bytes 128M`

[2021-06-03 20:32] jaimecarrascogarcia commented on #87
Estupendo!!!! voy a probar, en cuando tengas un hueco, como hemos hablado a mi no me sale la opcion de control de temperatura, por si "puedes añadirla por defecto en la barra de tareas"........:)

[2021-06-03 20:57] profeIAP commented on #87
Aunque útil, yo no sería partidario de cargar más la barra.

Inicialmente pensé en ponerlo en el `customize-minino` pero quizás mejor a la documentación (wiki). Si no hay muchas ganas/tiempo de hacerlo, con enlazar a esta tarea sería más que suficiente 🤔

[2021-06-30 11:16] aosucas499 commented on #80
Funcional

[2021-06-30 11:16] #80 closed, assigned to aosucas499

[2021-06-30 13:24] #32 closed, assigned to jasvazquez

[2021-09-03 19:20] #19 closed, assigned to aosucas499

[2021-09-10 05:51] rbenit68 opened #88 "Jessie has been moved to archive.deb-multimedia.org (23/3/2021)"
Saludos,

Según https://deb-multimedia.org, es necesario actualizar en /etc/apt/sources.list.d/multimedia.list la linea

deb http://www.deb-multimedia.org ...

por

deb http://archive.deb-multimedia.org ...

para evitar los errores de apt update.

Gracias por vuestro trabajo, estaba usando Bodhi Linux 4.5/5.0.0 (Ubuntu) pero prefiero Debian.

[2021-09-14 13:05] aosucas499 commented on #88
Muchas gracias. Lo apunto para el próximo cambio en el sistema y lo añado en el autoupdate.

[2021-09-18 16:10] Wendower opened #89 "¿Qué tal va esta distribución con los Toshiba NB500 y NB200?"
Lo dicho ¿qué tal funciona con estos modelos?

[2021-09-18 16:16] aosucas499 commented on #89
Buenas compañero, la sección isuues es para pedir nuevas funciones, comentar fallos. Para preguntar por cómo va en un pc coméntalo en el grupo de telegram. En ambos va genial.

[2021-09-18 16:16] #89 closed, assigned to nobody

[2021-09-18 16:30] Wendower commented on #89
¿Cómo se llama ese grupo de Telegram? No sabía ni que existía.

[2021-09-18 16:32] aosucas499 commented on #89
Perdón compañero no leí bien que escribías desde fuera de Andalucía. Este es el grupo de coordinadores tic de Andalucía. https://t.me/coordinacionTicAndalucia

Esos modelos son de los primeros que adaptamos con minino tde, pues tenemos muchos en los coles.

[2021-09-26 13:03] aosucas499 commented on #87
Como se observó en su día, ya trae el control de temperatura. Solo que el applet detecta loa drivers o no del dispositivo. Por lo tanto aparece la opción dependiendo del dispositivo.

[2021-09-26 13:03] #87 closed, assigned to nobody

[2021-09-26 13:04] #83 closed, assigned to nobody

[2021-09-26 13:06] #70 closed, assigned to nobody

[2021-09-26 13:09] #24 closed, assigned to nobody

[2021-09-26 13:11] aosucas499 commented on #33
Cierro tras observar que solo hay paquetes para sistemas de 32 bits.

[https://packages.microsoft.com/repos/ms-teams/pool/main/t/teams/]()

[2021-09-26 13:11] #33 closed, assigned to nobody

[2021-09-26 13:18] #35 closed, assigned to nobody

[2021-11-03 16:02] pieroproietti commented on #74
Just today I picked up your minino-TDE to try again the coexistence with the new versions of eggs. Currently with eggs you can support from Debian jessie to bookworm, Devuan beowulf, chimaera, Ubuntu bionic, focal, hirsute and impish. I wrote about this in my [blog](https://penguins-eggs.net/2021/11/02/distros-that-can-be-remastered-with-eggs/)

[2021-11-10 14:08] aosucas499 commented on #74
Wow amazing job my friend!!! I'll take a look ASAP. Thank you!!!

[2022-03-16 19:18] aosucas499 commented on #88
Disculpa la tardanza, solucionado. Se actualizar al reiniciar, tras confirmación del usuario.

https://github.com/aosucas499/minino-TDE/commit/1586505dc4ef4c2b14c5b128b309c2dfb50ffbfe

https://github.com/aosucas499/minino-TDE/releases/tag/1.3.6

[2022-03-16 19:18] #88 closed, assigned to nobody

[2022-06-23 02:41] ana585 commented on #69
open windows
##- [x] #- - [ ] traductor @aosucas499 [_![image](https://user-images.githubusercontent.com/74079709/175192527-c4f1f753-fd21-40b4-9f99-724d2999b72a.jpeg)_]()[_![image](https://user-images.githubusercontent.com/74079709/175192584-7dce01d2-4664-44de-a21f-cdee977b2fb9.jpeg)_]()@🗝🛌🪟🎏🪞📪📪✉️📯📫📩🎎🏮🎐📧📭📄📉🗒📑💌🧧📯🗞🗞📅📕❤️🔓☯️✝️🆘🅰️🅱️🆎⚠️🚸❗️❔❎✅🛗🏧🌐📶⬆️↙️➡️⏬◀️🔼🔽⏪↔️🔀🔃🔄🔂🔁*️⃣#️⃣🔢9️⃣9️⃣4️⃣6️⃣7️⃣8️⃣3️⃣2️⃣1️⃣0️⃣🆓🆖