[2020-12-03 19:07] jasvazquez opened #1 "Activar autologin"
Permitir acceso automático al sistema sin tener que introducir usuario y contraseña

[2020-12-03 19:20] jasvazquez opened #2 "Instalar teclado en pantalla"
Actualmente da problemas pero sería interesante poder contar con este teclado en pantalla especialmente por la existencia de equipos a los que no les funcionan ciertas teclas.

[2020-12-03 19:22] jasvazquez opened #3 "Instalar Gimp"
Suele ser una herramienta muy usada y de las primeras que suelen instalarse.

El principal problema es el rendimiento que pudiese llegar a tener por lo que es posible que requiera cierta optimización.

[2020-12-03 19:25] jasvazquez opened #4 "Menú gráficos duplicado en ImageMagik"
Eliminar el menú que aparece repetido

[2020-12-03 19:26] jasvazquez opened #5 "Crear script para actualizar la hora"
Se hace necesario implementar un script que permita actualizar la hora del equipo mediante el protocolo NTP

[2020-12-03 19:26] jasvazquez opened #6 "Activar sonido por defecto"
Actualmente está desactivado por defecto al iniciar el sistema

[2020-12-03 19:34] jasvazquez opened #7 "Enlazar proyecto y recursos en punto de encuentro TDE"
Desde el grupo Telegram [se sugiere](https://t.me/c/1191811099/50223) la idoneidad de publicitar el proyecto y los recursos elaborados por este proyecto en la moodle del Punto de Encuentro TDE como medio de darle publicidad y generar nuevas ideas y sinergias

[2020-12-04 18:27] jasvazquez commented on #1
Aunque observo que existe la posibilidad de hacerlo desde la interfaz de usuario
![image](https://user-images.githubusercontent.com/604744/101200362-7ad0cb00-3666-11eb-98fc-2f3e85de713c.png)

me está dando tantos problemas (y me parece tan poco lógico su funcionamiento) que he preferido activar el autologin (para _usuario_) lanzando el siguiente código desde la terminal de comandos

[code]

@aosuc

[2020-12-04 18:32] jasvazquez opened #8 "Contactar con autores de Minino"
Sería interesante [contactar con los creadores del proyecto](https://minino.galpon.org/es/%C2%BFqui%C3%A9nes-somos) e intercambiar experiencias para ver cómo podríamos mejorar/actualizar la versión actual de su distribución

![image](https://user-images.githubusercontent.com/604744/101200950-46114380-3667-11eb-90f8-92b80dedb721.png)

[2020-12-04 18:50] jasvazquez commented on #4
@aosucas499 existe una posible solución gráfica

![image](https://user-images.githubusercontent.com/604744/101202660-d81a4b80-3669-11eb-86ec-7bd565eea705.png)

Pero me gustaría encontrar la forma de hacerlo desde la terminal de comandos 😅

[2020-12-04 18:52] jasvazquez commented on #4
Incluso sin usar la terminal 🤣
![image](https://user-images.githubusercontent.com/604744/101202930-3fd09680-366a-11eb-90bf-e521b272f71d.png)

[2020-12-04 18:54] jasvazquez commented on #4
Y aquí está el fichero que "molesta"... sólo habría que lanzar un ``rm`` desde la terminal 😉
![image](https://user-images.githubusercontent.com/604744/101203082-74dce900-366a-11eb-9c32-e237540ab5bc.png)

[2020-12-04 18:55] jasvazquez commented on #4
Solucionado... basta con lanzar un

[code]

[2020-12-04 18:55] #4 closed, assigned to jasvazquez

[2020-12-04 19:21] aosucas499 commented on #8
![minino@galpon org](https://user-images.githubusercontent.com/72696244/101205406-dfdbef00-366d-11eb-8dcd-a908d3ad7ca3.png) (Imagen modificada borrando nombre e email personal de la respuesta)

Contacté ayer por la tarde. He intercambiado algún email con ellos hoy.
minino@galpon.org
Cualquier duda se puede contactar en ese correo haciendo referencia a nuestro proyecto.

[2020-12-04 19:21] #8 closed, assigned to aosucas499

[2020-12-04 19:29] aosucas499 commented on #4
Añadimos un script al código donde añadir las mejoras/funcionalidades para aplicar a la iso.

[2020-12-04 19:45] aosucas499 commented on #6
![400120300910_76748](https://user-images.githubusercontent.com/72696244/101207343-c9836280-3670-11eb-8f1f-5682a8782ba0.jpg)

Mensaje del compañero que tiene el problema:

Probaremos en ese modelo, en virtualbox sale el volumen del "master M" silenciado pero mejor resolverlo en el dispositivo en cuestión.

[2020-12-04 19:48] aosucas499 commented on #6
![1607111275025780281480352981511](https://user-images.githubusercontent.com/72696244/101208182-0dc33280-3672-11eb-9f50-b1bf4d1a7dd6.jpg)
Modelo Samsung N100SP

[2020-12-04 20:03] aosucas499 commented on #3
**Sin Gimp, consumo de RAM:**

![minini-no-gimp-ram](https://user-images.githubusercontent.com/72696244/101209133-90002680-3673-11eb-960f-8a751294c7e1.png)

**Con Gimp instalado,  consumo de RAM:**

![minino-gimp-ram](https://user-images.githubusercontent.com/72696244/101209218-b0c87c00-3673-11eb-98c4-bbe1b101f512.png)

**No parece que esta versión de GIMP consuma recursos excesivos si la comparam

[2020-12-04 20:14] aosucas499 opened #9 "Añadir paquete "git" para descargar scripts/archivos directamente al sistema desde Github."

[2020-12-04 20:16] aosucas499 commented on #3
Si lo ves bien añado el comando al script. Esperando feedback...

[2020-12-04 20:18] aosucas499 commented on #9
Se añade el comando al script "update-minino".
`sudo apt-get install git -y`

[2020-12-04 20:18] #9 closed, assigned to aosucas499

[2020-12-04 20:38] jasvazquez commented on #6
Desgraciadamente, no tengo equipos de esos en mi centro para poder hacer pruebas.

[2020-12-04 20:41] jasvazquez commented on #4
Me parece una gran idea @aosucas499 👍🏻

[2020-12-04 20:43] jasvazquez commented on #3
Veo que lo has añadido al script (aunque comentado)

Por mí está bien pues es uno de los programas que (sí o sí) necesito tener instalado en cualquier equipo que uso 👍🏻

[2020-12-05 10:58] aosucas499 commented on #3
Añadido pues. Que no te falte de "na". Pero no debemos perder la perspectiva del proyecto,  su uso en sistemas antiguos con pocos recursos, que puedan ser prestados al alumnado y puedan usar las herramientas mínimas necesarias que se le van a pedir desde el centro: moodle, gsuite...

[2020-12-05 11:07] #3 closed, assigned to aosucas499

[2020-12-05 11:18] aosucas499 opened #10 "Incluir tutorial de instalación"
Hay gente que no se maneja muy bien con la instalación de sistemas eligiendo particiones, vendría bien un tutorial en PDF con imágenes o incluso en vídeo (by el Padrino) en la que se explique cómo instalar el sistema, creación de particiones, incluyendo al menos una recomendación mínima de partición SWAP.

[2020-12-05 11:22] profeIAP commented on #3
Claro Andrés pero, si no se usa, no "consume".
De momento y por muy modesto que sea el disco duro tenemos espacio suficiente para incluirlo.
El objetivo sigue claro: un sistema operativo decente en equipos de pocos recursos y antiguos para poder usar herramientas webs de hoy en día 😉

[2020-12-05 11:24] profeIAP commented on #10
Buena idea, el amigo Eloy nos podría venir de perlas con sus habilidades "multimedia" y capacidad de "transmisión" ¿No te parece que estamos tardando en incluirlo en el repositorio oficialmente? 🤔

[2020-12-05 11:30] jasvazquez opened #11 "Optimizar arranque Firefox"
Existe la posibilidad de "precargar" (en el arranque del sistema) determinados programas y procesos. La idea (porque no deja de ser eso) sería incluir Firefox (si el rendimiento general y el tiempo de arranque actual no se resiente) en base a que la actividad principal a la que se dedicarán estos equipos es la navegación web para poder abrir las herramientas web que se usan actualmente en la docen

[2020-12-05 11:31] jasvazquez commented on #3
Claro Andrés pero, si no se usa, no "consume".
De momento y por muy modesto que sea el disco duro tenemos espacio suficiente para incluirlo.
El objetivo sigue claro: un sistema operativo decente en equipos de pocos recursos y antiguos para poder usar herramientas webs de hoy en día 😉

[2020-12-05 12:31] aosucas499 commented on #1
Lo podemos incluir, el debate interno que tengo es que habrá gente que por seguridad en algún centro o que lo quiera instalar en su dispositivo personal, quizás quiera instalar el sistema con login. Desde luego con tu código solo lo habilitaríamos para el típico usuario "usuario" que es poco productivo para la seguridad. Veo factible el incluirlo en el script y que si se instala con usuario, no pi

[2020-12-05 12:37] jasvazquez commented on #1
Siempre podemos
+ "documentar" que es el comportamiento por defecto para usuario/usuario (y sugerir/documentar que se cree otro usuario si desea algo de "intimidad")
+ Revisar la opción de menú  que tan extraño comportamiento ofrece actualmente

![image](https://user-images.githubusercontent.com/604744/101243221-fc743780-36fe-11eb-8f2c-d6545bd34aff.png)

[2020-12-05 12:43] jasvazquez commented on #1
Otra posibilidad que se me ocurre es [mejorar el script](https://github.com/aosucas499/minino-TDE/blob/11d6005aa8af57729c307094ac92a233c0513841/update-minino.sh) ofreciendo una interfaz gráfica (no sería excesivamente costoso) en la que elegir cómo se desea personalizar Minino.

Se me ocurre [poner un "checkbox"](https://es.wikipedia.org/wiki/Casilla_de_verificaci%C3%B3n) para elegir (o no) el ini

[2020-12-05 12:51] aosucas499 commented on #1
Buena idea. Por lo pronto he incluido tu código en el script.

[2020-12-05 13:06] jasvazquez opened #12 "Permitir personalizar el script de actualización"
Modificar el [script que actualiza la iso de Minino](https://github.com/aosucas499/minino-TDE/blob/bd59d47548c159f7a2c4f58e0254180b99fc0ebc/update-minino.sh) para permitir elegir al usuario qué modificaciones quiere que sean llevadas a cabo tal y como hemos decidido en la tarea #1

En un principio, y con los requisitos actuales, se entiende que sería suficiente con el [uso de Zenity para mostrar d

[2020-12-05 13:07] jasvazquez commented on #1
Andrés, doy por cerrada (nuevamente) esta tarea tras dar de alta la tarea #12 como puedes observar justo encima de este comentario 👍🏻

[2020-12-05 13:07] #1 closed, assigned to jasvazquez

[2020-12-05 13:20] aosucas499 commented on #12
Buena herramienta, no la he usado, estamos en tus manos con esta mejora 😄

[2020-12-05 13:28] jasvazquez commented on #12
Sin problemas, intentaré dedicarle un rato esta tarde y montar un prototipo.
Es sencillo de usar y nos puede dar muchas satisfacciones 💪🏻
Si más adelante se nos queda "corto" siempre podemos tirar de Python o herramientas similares para montar algo más complejo 👍🏻

[2020-12-05 13:31] jasvazquez commented on #5
~Esta tarea empieza a "quemarme".~

~Para asentar un "flujo de trabajo" común, comentar que lo habitual en metodologías ágiles (de las que ya irás comprobando que soy un "adepto") es que las correcciones (etiqueta FIX en nuestro caso) deben ser acometidas antes que ninguna otra (no están permitidos los fallos 😉 y, si se tienen, deben corregirse a la mayor brevedad posible)~

~¿Cómo podemos  meterl

[2020-12-05 16:18] jasvazquez commented on #12
Bueno, como prueba de concepto no está mal ¿Qué te parece @aosucas499? 😉

![image](https://user-images.githubusercontent.com/604744/101250559-e4f87700-371d-11eb-8181-0690543d143a.png)

[2020-12-05 18:49] jasvazquez commented on #12
Implementado @aosucas499 en el commit 269e418
Si no se entiende algo, avisa y comento más el código 👍🏻

[2020-12-05 18:49] #12 closed, assigned to jasvazquez

[2020-12-06 11:33] aosucas499 commented on #5
¿Te quema la tarea de la hora o en general las pruebas?

[2020-12-06 12:46] jasvazquez commented on #5
Mil perdones Andrés... confundí la tarea.
Me llevo el comentario a donde procede hacerlo 😅 🙈

[2020-12-06 12:46] jasvazquez commented on #6
Esta tarea empieza a "quemarme".

Para asentar un "flujo de trabajo" común, comentar que lo habitual en metodologías ágiles (de las que ya irás comprobando que soy un "adepto") es que las correcciones (etiqueta FIX en nuestro caso) deben ser acometidas antes que ninguna otra (no están permitidos los fallos wink y, si se tienen, deben corregirse a la mayor brevedad posible)

¿Cómo podemos meterle m

[2020-12-06 12:49] aosucas499 commented on #6
Esta me ocupo yo estos días que tengo aquí un Samsung en casa.

[2020-12-06 12:52] jasvazquez commented on #6
Genial, de todos modos igual le dedico un rato y miro si se puede hacer mediante script (y así no depende de que tengamos que acordarnos, o no, de hacerlo) 👍🏻

[2020-12-06 13:19] jasvazquez opened #13 "Modo incógnito por defecto"
Me planteo si sería interesante (sobre todo si el público objetivo es el alumnado aunque puedan usarlo el profesorado) si sería de interés (evitar que se guarden contraseñas principalmente) activar por defecto dicho modo en el navegador web.

[2020-12-06 14:00] aosucas499 commented on #13
Es interesante, el curso pasado yo tenía el Firefox para el alumnado siempre en modo "no guardar nada", pero en el grupo parece que no les hacía mucho. Me hicieron referencia a que siempre estaba en modo incógnito. Yo lo prefiero, sería cuestión de preguntar.

[2020-12-06 14:22] jasvazquez commented on #13
¿Para qué preguntar cuando tenemos la posibilidad de hacerlo opcional gracias a #12? 😉
Salvo que me digas lo contrario, voto por añadirlo como opción al menú del script de configuración ¿Te parece)? 🤔

[2020-12-06 14:24] aosucas499 commented on #13
Genial idea 😄

[2020-12-06 14:29] jasvazquez commented on #13
Era la solución más "lógica"
Ha sido una gran idea incluir la opcionalidad en el script 💪🏻
Cambio las etiquetas a esta tarea tras tomar la decisión 👍🏻

[2020-12-06 16:13] jasvazquez opened #14 "Evaluar consumo principales navegadores web"
Como ayuda a las distintas pruebas que se están realizando en los equipos de dotación, podría ser interesante conocer el consumo de memoria base que tienen [los distintos navegadores que vamos localizando](/home/jasvazquez/Descargas/sistema/illedelinux-debian-jwm.iso)

![image](https://user-images.githubusercontent.com/604744/101285581-46841880-37e6-11eb-9d0a-63ffdf0de7e0.png)

Para realizar dicha

[2020-12-06 16:24] jasvazquez opened #15 "Elegir kernel en función del ordenador"
Tras conversación con @aosucas499 sobre el fantástico rendimiento de Minino en los portátiles de dotación y achacando dicho comportamiento al uso de una versión anterior del kernel, me planteo la posibilidad de (automáticamente y en función del equipo en el que se vaya a utilizar el sistema) hacer un downgrade/upgrade según convenga para aprovechar mejor el equipo.

De este modo, sacaríamos más pa

[2020-12-06 16:36] jasvazquez commented on #5
Cuidado Andrés, [estas líneas](https://github.com/aosucas499/minino-TDE/blob/9babc1c4de063577d40d9ba5c53374f921118043/update-minino.sh#L18-L21)  están dando problemas debido a la ruta relativa que estamos usando

![image](https://user-images.githubusercontent.com/604744/101286208-7da7f900-37e9-11eb-897b-5d8315bd7554.png)

[2020-12-06 16:36] aosucas499 commented on #15
No lo veo si lo que piensas es en incluir una modificación de kernel en el update script. Si lo que te planteas es usar un kernel más actual para equipos más modernos creo que es mejor usar otra distribución para esos menesteres, partir de 0 como me contaste con otras opciones y dejar este minino tal cual.

[2020-12-06 16:41] jasvazquez commented on #5
Aunque, ahora que lo pienso, me surge la duda...
+ ¿por qué has optado por incluir la ejecución del script como algo opcional?
+ ¿no debería ser por defecto en todos los equipos?

[2020-12-06 16:44] aosucas499 commented on #12
He estado pensando en esto y no me convence. La idea del update-script yo la veo simplemente como un script para actualizar entre versiones ISOs. La idea de la personalización que has hecho me encanta pero creo que podríamos incluirla mejor como una app paralela y dejar el script-update para actualizaciones necesarios que no necesiten la opinión del usuario.

[2020-12-06 16:49] aosucas499 commented on #5
Como te comento en #12, no me convence mezclar el update-script con las elecciones para el usuario. Al querer añadirlo a tu modificación del script me he liado con la idea.

[2020-12-06 16:54] jasvazquez commented on #15
En realidad es
+ pensando en esa posible nueva versión (basada en Arch, en [illedelinux-debian](https://sourceforge.net/projects/illedelinux/files/) o la que se tercie que se porte relativamente bien y nos guste)
+ o incluso si descubrimos que un kernel se porta algo mejor en unos equipos de dotación que en otros (por falta de drivers o por incompatibilidades)

La idea es intentar ajustar lo máxim

[2020-12-06 17:00] jasvazquez opened #16 "Scripts independientes o mega script de actualización"
Tras implementar la tarea #12 y comenzar a usar el script de actualización, surgen dudas sobre la idoneidad o no de este planteamiento por lo que creo esta tarea donde poder debatir las ventajas e inconvenientes asociados, evaluar las distintas opciones y poder tomar una decisión sobre cómo proceder

[2020-12-06 17:01] jasvazquez commented on #12
Por no mezclar temas, opto por crear la tarea #16 👍🏻

[2020-12-06 17:01] jasvazquez commented on #5
Por no mezclar temas, opto por crear la tarea #16 👍🏻

[2020-12-06 17:05] aosucas499 commented on #5
Con respecto a lo de las rutas relativas, pensando en que el update-script sea algo para simplemente actualizar de una versión a otra, yo pensé en aplicar en la iso antigua este script usando un "git clone aosucas499/minino-tde". ¿Cómo lo aplicas o lo has pensado tú?

[2020-12-06 17:06] jasvazquez commented on #16
Andrés, en base a [este comentario](https://github.com/aosucas499/minino-TDE/issues/12#issuecomment-739528906) quizás debemos decidir cuál sería la forma más cómoda y acertada de crear las distintas _releases_ del sistema.

No tengo claro haber entendido la duda que te ha surgido pero intuyo que igual el problema es que sería más práctico contar con dos scripts:

1. Uno para **uso interno** nuestr

[2020-12-06 17:08] jasvazquez commented on #5
Ambas cosas no están reñidas: se puede hacer un ``git clone aosucas499/minino-tde /tmp/minimo-tde`` de modo que sepas que (sí o sí) tu script va a estar siempre en la carpeta ``/tmp/minimo-tde``

No sé si he logrado explicarlo 😅

[2020-12-06 17:11] aosucas499 commented on #15
Ah genial entonces. Ya me habías asustado y [te iba a mandar esto](https://andalinux.wordpress.com/2014/02/04/proyectos-minimalistas-o-menos-es-mas/)

[2020-12-06 17:14] jasvazquez commented on #15
Descuida, el _memento mori_ siempre lo tengo presente.
Todavía no se me ha ido la pinza del todo 🤣

![image](https://user-images.githubusercontent.com/604744/101287153-c8783f80-37ee-11eb-8ad2-cf48c2dc1fbb.png)

[2020-12-06 17:18] aosucas499 commented on #16
Tal cual!!! Yo creo que es la idea perfecta. Dos para no mezclar. El nuevo script con zenity para personalización me encanta y mantener el update-script para nosotros o si alguien con los conocimientos que tenga una versión anterior instalada en 30 pc's y no quiere andar volviendo a instalar en todos, lo use.

[2020-12-06 17:19] aosucas499 commented on #13
jajajajaj me vas a matar con tanta etiqueta y nuevos "temas"

[2020-12-06 17:25] aosucas499 commented on #5
Claro que te explicas bien, el que no se explica bien hoy soy yo.
Debería no dar problemas igualmente aunque descargues el proyecto en la carpeta /tmp, ¿no? Creo recordar que puse que busque los archivos necesarios en la carpeta ntp que se descarga del proyecto junto al script. Le echo un vistazo.

[2020-12-06 17:29] jasvazquez commented on #16
La posibilidad de actualizar equipos me preocupa: el script deberá ser lo "suficientemente fino" como para detectar ese caso y no meter la pata 🙈

[2020-12-06 17:34] jasvazquez commented on #13
Sorry Andrés 😅 todavía estoy en fase "de pruebas" hasta encontrar la combinación mínima más eficiente para lo que nos  traemos entre manos... prometo (y espero estar haciéndolo así, avisa si no es el caso) no cambiar "a lo loco... Panchito"

![image](https://user-images.githubusercontent.com/604744/101287610-961c1180-37f1-11eb-991f-1ab406c6e4d2.png)

[2020-12-06 17:35] aosucas499 commented on #16
La otra opción es crear un update-manager y un repositorio en launchpaj 😄

[2020-12-06 17:37] aosucas499 commented on #16
Fuera de bromas, dejamos el update script solo para nosotros.

[2020-12-06 17:43] jasvazquez opened #17 "Aplicar downgrade al kernel en Debian"
Es curioso observar lo bien que se comporta Minino y que otras distribuciones basadas igualmente en Debian (9 o incluso 10) con kernels más actuales y un consumo igual o menor, el rendimiento no se acerque ni de lejos.

A modo de experimento y para confirmar\refutar la teoría de tratarse de la versión del kernel usada por Minino

![image](https://user-images.githubusercontent.com/604744/101287772-

[2020-12-06 17:43] aosucas499 commented on #13
No te preocupes, me acostumbraré a tu nivel organizativo/creativo.

[2020-12-06 17:45] aosucas499 commented on #17
Mi teoría del kernel es solo una teoría, teoría por eliminación, también podemos preguntarles a los creadores.

[2020-12-06 17:55] aosucas499 commented on #5
Me funciona aunque lo descargue en /tmp/minino-tde. Me he perdido en porqué te ha fallado ahí. ¿Descargaste solo el update script sin la carpeta?

[2020-12-06 18:02] jasvazquez opened #18 "Ofrecer la posibilidad de instalar Gimp opcionalmente"
Puesto a permitir personalizar el sistema quizás sea más adecuado enseñar a instalar cualquier programa en Debian (tenemos centro de software dentro de Minino) que dar la opción de seleccionarlo.

Si diese problemas (como ocurre con OnBoard) lo entendería pero no tiene sentido que conforme crezcan las solicitudes de programas, optemos por incluir todos y cada uno de ellos aquí 🤔

[2020-12-06 18:07] jasvazquez commented on #16
Vale, creamos entonces una tarea para dividir el script en dos:

1. Uno para **actualizar** la ISO de Minino
1. Otro para **personalizar** la instalación

La idea original del script que tenemos es que el profesorado sólo tenga que instalar la ISO del Minino "original" y que, gracias al script pueda convertirlo en el Minino "vitaminado" que tenemos actualmente.

Para ellos podría ser algo más cost

[2020-12-06 18:08] aosucas499 commented on #18
Totalmente de acuerdo, como hablamos aquí #3, no veo necesario incluir Gimp con lo fácil que es instalarlo. Me parece una idea genial no incluir programas o la opción en el zenity cuando sea fácil hacerlo desde el centro de software con los repos de debian jessie o como dijiste una vez esto va a ser un (no recuerdo tu expresión) "poyaqueestamos añade..."

[2020-12-06 18:12] jasvazquez commented on #5
Altamente probable (creo recordar que usé un ``wget`` y luego me sorprendió ver que habías subido una carpeta nueva 😅 )

Igual sería interesante modificar el script para que lo primero que haga es un `git clone` de nuestro repositorio (un script "auto contenido") en la línea de [lo que planteo en este comentario](https://github.com/aosucas499/minino-TDE/issues/16#issuecomment-739540338). De este m

[2020-12-06 18:14] jasvazquez commented on #17
Sería una buena opción ¿Te parece que creemos tarea y les preguntemos? 😉
¿Para qué pegar cabezazos cuando igual no les importa darnos algo de luz al respecto, no te parece?

[2020-12-06 18:16] jasvazquez commented on #18
Genial, duda resuelta a falta de matizar un punto ¿hace falta documentar cómo se instala software o confiamos que el profesorado lo buscará en Internet?

Igualmente se me ocurre usar la wiki o, incluso quizás mejor, crear un documento en Google Docs (la gente se maneja mejor con ellos) tipo "Usando Minino-TDE" 🤔

[2020-12-06 18:17] aosucas499 commented on #16
Mi escasa experiencia me dice que al final van a querer una ISO, y esta distro SystemBack la genera rápidamente, la fibra de 600 que me pusieron sube la ISO en unos minutos. AL final systemback es una herramienta muy poderosa para que cualquier coordinador TIC la use y genere la distro a su antojo para su centro.

Algo me dice que la mayoría no quieren usar un script en la terminal o incluso gráfi

[2020-12-06 18:19] aosucas499 commented on #18
Me gusta la idea de la wiki. También se puede crear en google docs y poner el enlace en la wiki, lo que veas mejor.

[2020-12-06 18:19] aosucas499 commented on #17
Genial.

[2020-12-06 18:24] jasvazquez opened #19 "Preguntar por optimizaciones de Minino"
Tras estar [hablando sobre el curioso rendimiento que presenta Minino](https://github.com/aosucas499/minino-TDE/issues/17#issuecomment-739537507) y nuestras dudas de si el motivo real (o no) es la versión 3.16 del kernel en la tarea #17, se nos ocurre preguntar a los autores de Minino por si pueden darnos algo de luz al respecto y encontramos una forma de extrapolar dicha mejora a alguna versión m

[2020-12-06 18:25] jasvazquez commented on #19
Andrés, te la asigno a ti por ser el "interlocutor oficial" con los compañeros de Minino 😅

[2020-12-06 18:29] jasvazquez commented on #16
Bueno, podemos optar por una solución intermedia e ir viendo cómo evoluciona cada una de las opciones. Me explico:
1. Podemos crear ISOs conforme vayamos generando _releases_ de Minino-TDE y mantener el script (como bien dices) para los que no quieran empezar de cero en los equipos que tienen instalados (esto va a suponer desarrollar algún método para saber en qué versión está y qué debemos actual

[2020-12-06 18:34] jasvazquez commented on #18
No soy partidario de tener que estar actualizando dos documentos distintos: si podemos evitarnos algún esfuerzo más allá del que ya estamos haciendo, mejor que mejor (tiempo que podemos dedicar a cosas más productivas 😉 )

La elección la veo de este modo:

1. Compartir el enlace de la wiki y así la gente visita este rincón de Github (igual conseguimos "apoyos")
1. Usar Google Docs que la gente man

[2020-12-06 18:37] jasvazquez opened #20 "Eliminar la opción de instalar Gimp"
Tras debatirlo en la tarea #18 decidimos que no interesa ofrecer la posibilidad de instalar Gimp, que es mejor enseñar a instalar/desinstalar software en Minino

[2020-12-06 18:42] aosucas499 commented on #19
Perfect!

[2020-12-06 18:42] jasvazquez commented on #13
Implementado en el commit 3d297c7

[2020-12-06 18:42] #13 closed, assigned to jasvazquez

[2020-12-06 18:43] aosucas499 commented on #5
Genial.

[2020-12-06 18:45] #20 closed, assigned to jasvazquez

[2020-12-06 18:46] aosucas499 commented on #5
Cerramos el issue de la hora, está incluido en la parte del script que vamos a dejar para actualizar ISO's.

[2020-12-06 18:46] #5 closed, assigned to aosucas499

[2020-12-06 18:50] jasvazquez commented on #14
@aosucas499 cuando tengas un rato, échale una pensadita y me dices si esta tarea merece la pena o no tenerla en cuenta.

¿Crees interesante catalogar los diferentes navegadores en función del consumo de recursos que tengan y su funcionalidad (sirven para Meet, abren Moodle, se trabaja de un modo fluido en Google Docs, ...)?

[2020-12-06 18:53] jasvazquez commented on #10
Se me ocurre que podría incluirse en el documento (o wiki) que estamos hablando en la tarea #18, concretamente [a partir de este comentario](https://github.com/aosucas499/minino-TDE/issues/18#issuecomment-739541427)

[2020-12-06 19:31] jasvazquez opened #21 "Cambiar el tema por defecto del sistema"
El tema actual es excesivamente antiguo y un cambio de imagen podría "rejuvenecerlo".

Es sólo una IDEA porque ni es necesario ni corre prisa pero estaría bien un cambio de imagen: supone poco coste y hay soluciones muy elegantes por ahí

![image](https://user-images.githubusercontent.com/604744/101290292-83a9d400-3801-11eb-8e99-959ed2117b16.png)

![image](https://user-images.githubusercontent.com

[2020-12-06 20:20] aosucas499 commented on #21
No me hace cambiar nada que pueda influir en el rendimiento o apariencia. Me gusta cómo es. Son buenas ideas si  hacemos otra distro como las ideas que tuviste con arch pero me gustaría dejar este proyecto tal cual, con los arreglos de algunos fix para usar en los centros y dejarla estable tal cual está.

[2020-12-06 20:26] aosucas499 commented on #14
Todo estudio es digno de tener en cuenta y más teniendo ya tu script para analizarlos. Por los comentarios de la gente los navegadores que tenemos van bastante bien, cada uno para lo suyo, pero es cierto que se necesita un cierto feedback o análisis de funcionalidades.

[2020-12-06 20:27] aosucas499 commented on #18
Esto lo cerramos ya, ¿no? Me está agobiando un poquito tantos temas abiertos jajaja

[2020-12-06 20:30] #21 closed, assigned to jasvazquez

[2020-12-06 20:31] #15 closed, assigned to jasvazquez

[2020-12-06 20:32] jasvazquez commented on #21
¿Algo así como mantener la "imagen corporativa" de Minino-TDE? 😏 ¿Un tributo a los compañeros que lo han desarrollado originalmente y cedido a la Comunidad?

Lo respeto Andrés pero el cambio del tema no influiría en el rendimiento general (espero)

Personalmente me gustaría estirar Minimo "classic" todo lo posible (nos da margen para mejorar y definir su evolución) pero sin perder de vista la posi

[2020-12-06 20:36] jasvazquez commented on #14
¿Sería interesante abrir dicha posibilidad al profesorado (si es que alguien se anima a colaborar, con la hoja de cálculos que publicamos, al final creo que soy el único que escribe cosas 🤣 ) con un Google Forms (o similar), lo dejamos para ir haciéndolo poco a poco como tareas independientes o simplemente nos olvidamos del tema?

Se me ocurre la posibilidad de ofrecer una opción en el menú de Min

[2020-12-06 20:38] jasvazquez commented on #18
No te agobies: las DUDAS e IDEAS no cuentan
En el flujo de trabajo actual que estamos definiendo (sobre la marcha) son los TODO y FIX los que marcan el "tajo pendiente" 😉

[2020-12-06 20:38] jasvazquez commented on #18
Sin embargo no hemos tomado una decisión: ¿wiki o docs? 😏

[2020-12-06 20:40] jasvazquez commented on #17
Sé que [andas agobiado con tanta tarea](https://github.com/aosucas499/minino-TDE/issues/18#issuecomment-739558758), pero voy a optar por abrir la tarea nuevamente (observa que es una IDEA que no hay por qué implementar, sólo queda anotada por si nos "aburrimos" o encontramos una forma sencilla de llevarla a cabo, para que no se olvide 😉 )

[2020-12-06 20:41] aosucas499 commented on #21
No te lo niego, pero los temas influyen en el rendimiento, y esa puede ser uno de las claves de minino. Pensar en cambiarle a esta distro el entorno de escritorio, o la base debian...no lo veo.

[2020-12-06 20:44] aosucas499 commented on #17
¿Aburrirnos? En 5 días esto en vez de un minino es un perrito.

[2020-12-06 20:48] aosucas499 commented on #18
Me parece buena la idea de WIKI porque está en el mismo lugar que el proyecto. Haz tú el docs y yo lo voy pasando a la wiki.

[2020-12-06 20:51] aosucas499 commented on #14
No me hace la idea de incluir más navegadores para que vayan probando. Funciona bien y está testado con alumnado que usa google gsuite y moodle. Su rendimiento es bueno incluso en dispositivos con 1gb de RAM. Otra cosa si quieres es hacer una rama testing para los que quieren probar cosas nuevas.

[2020-12-06 20:52] aosucas499 commented on #11
Creo que eso influiría en el increíble arranque que tiene el sistema. Y no siempre va a ser usado (sí en su mayoría) para usar el navegador.

[2020-12-06 20:53] #11 closed, assigned to jasvazquez

[2020-12-06 20:55] aosucas499 commented on #18
Pero esta tarea era sobre GIMP. Seguimos en la que has puesto sobre tutorial de instalación y ahí hablamos.

[2020-12-06 20:55] #18 closed, assigned to jasvazquez

[2020-12-06 20:56] aosucas499 commented on #16
Perfect, ISO's con periocidad y mantener el script.

[2020-12-06 20:58] aosucas499 commented on #10
Google Docs te encargas tú que eres un artista de los tutoriales escritos y yo lo voy pasando a la wiki. ¿Ok?

[2020-12-06 21:30] aosucas499 commented on #17
En este proyecto no he pensado en cambiar a ninguna otra distribución candidata, va bien como está.

[2020-12-06 21:30] #17 closed, assigned to jasvazquez

[2020-12-06 22:36] aosucas499 commented on #13
Tras probar tu implementación, los navegadores abren en modo privado, pero con tan solo pulsar en abrir nueva ventana vuelve al modo normal, creo que es debido a que en la configuración de la foto sigue dejando la opción de recordar historial, etc...

![minino-firefox64-private](https://user-images.githubusercontent.com/72696244/101294963-de9bf500-381a-11eb-9d81-13482241026b.png)

Yo lo hice en su

[2020-12-06 22:48] aosucas499 commented on #16
Dividido el script en dos, uno para actualizar iso y otro para añadir opciones, apps...

[2020-12-06 22:49] #16 closed, assigned to jasvazquez, aosucas499

[2020-12-06 23:01] jasvazquez opened #22 "Objetivo del proyecto"
Tras la conversación mantenida (entre otras) en la tarea #17 considero Interesante fijar los objetivos y expectativas de Minino-TDE y su posible evolución a Perrete-TDE 🤣

Sigo pensando que no deberíamos perder de vista el que considero debería ser uno de los objetivos básicos de este trabajo (por entender que es su finalidad): aprovechar los equipos de dotación antiguos que todavía se usan en muc

[2020-12-06 23:02] jasvazquez commented on #16
Genial, buen trabajo Andrés 👍🏻

[2020-12-06 23:16] #14 closed, assigned to jasvazquez

[2020-12-06 23:17] aosucas499 commented on #22
Me gusta la idea de mantener este sistema que va genial, reparando posibles incompatibilidades con algún dispositivo de los centros, (como el que no he tenido tiempo de mirar sobre el sonido en Samsung) y añadir alguna necesidad que surja en los compañeros. Es decir, este sistema tal cual con pequeñas reparaciones. Yo veo mejor que la idea de ofrecer algo con más futuro lo creemos a partir de otro

[2020-12-06 23:20] jasvazquez commented on #21
No creo que sea la clave de su rendimiento el tema usado ni que influya tanto como temes.

Yo no soy amante de la estética (aunque la aprecie) y dejo las distros que me instalo como salen de la caja pero esta agradecería cualquier retoque por pequeño que fuese 😅😇

[2020-12-06 23:21] jasvazquez commented on #21
Igual se puede plantear crear tarea a medio plazo (IDEA) el probar si cambia el tiempo de arranque o la usabilidad del sistema en general 🤔

[2020-12-06 23:23] jasvazquez commented on #10
Este es largo, de ahí que un vídeo (como propusimos inicialmente) sería una opción más acertada ¿No te parece? 🤔

[2020-12-06 23:29] jasvazquez commented on #22
¿Aún siendo conscientes que tendrá una vida relativamente corta?

Yo apostaría por incluir los cambios que vayan surgiendo pero de modo que estas modificaciones (tal y como estamos haciendo hasta ahora) puedan ser portadas a Perrete-TDE (verás que al final se le queda el mote 🤣)

Si lo hacemos bien (y de ahí que me resulte interesante #21 por dar cierta continuidad al proyecto) podamos dar el salt

[2020-12-06 23:33] aosucas499 commented on #10
No sé, mi cabeza solo ve etiquetas y tareas abiertas. Podemos preguntar en el grupo y a ver si así tenemos más opiniones o gente que se pase por aquí. Vamos a tomarnos unos días de descanso. Lo merecemos.

[2020-12-07 10:17] jasvazquez opened #23 "Permitir activar el acceso por ssh opcionalmente"
Para las distintas pruebas siempre estoy instalando de forma recursiva _openSSH_ para poder conectarme remotamente a la máquina virtuablBox por lo que, ya que lo necesito, sería interesante ofrecer dicha posibilidad a cualquier usuario al tiempo que me facilito el trabajo de desarrollo y depuración.

[2020-12-07 10:33] jasvazquez commented on #6
Parece sencillo poder implementarlo (otra cosa es que pueden producirse fallos según el modelo de ordenador que deberíamos gestionar)

![image](https://user-images.githubusercontent.com/604744/101340274-c7dbb980-387f-11eb-9d08-2f61056a0398.png)

Para listar los controles que podemos manejar podemos hacer uso de `amixer -c 0 controls`

**NOTA:** el uso de `-c 0` es para usar el primer dispositivo (

[2020-12-07 10:44] #23 closed, assigned to jasvazquez

[2020-12-07 10:57] jasvazquez opened #24 "Influencia del navegador web en el rendimiento general"
Con la mente puesta en la tarea #19 y tras probar una Raspbian i386 (utiliza Chromium 79) en el Toshiba NB500 me planteo hasta que punto influye la versión de los navegadores que estamos usando en Minino-TDE

![image](https://user-images.githubusercontent.com/604744/101342475-eabb9d00-3882-11eb-87b5-668ebfead1dc.png)

[2020-12-07 14:56] aosucas499 commented on #6
Esto lo voy a solucionar gráficamente, pues fue en este modelo en el que lo bajé el sonido para los alumnos, es el que usan mis alumnos. Lo activo y así genero una ISO con eso solucionado que solo afecta a este netbook y con lo que hemos añadido hasta ahora. De paso genero un enlace definitivo minino-tde.iso

[2020-12-07 15:02] aosucas499 opened #25 "Teclado virtual matchbox provoca problemas"
Pues eso, rompe los gráficos al usarlo y al contrario de lo que pensé no se soluciona ni al reiniciar. Así que desinstalo y cuando genere la nueva iso por lo del sonido como comento en esta tarea #6 queda todo bien para el futuro. Se buscará la manera de compilar onboard para este menester #2

[2020-12-07 16:49] aosucas499 commented on #25
Aplicado https://github.com/aosucas499/minino-TDE/commit/815e24441f82c85874bd63495d931ca3d4f31fd2

[2020-12-07 16:49] #25 closed, assigned to aosucas499

[2020-12-07 18:23] aosucas499 opened #26 "customize-script como aplicación del sistema"
Veo una buena idea hacer este script aplicación del sistema, instalable desde el update-minino.sh e incluso actualizable desde este cada vez que se use.

[2020-12-07 18:34] aosucas499 commented on #26
Queda pendiente hacer que la app no tenga que ser ejecutada con la terminal activa para introducir la contraseña root desde el archivo .desktop del menú de aplicaciones o el escritorio. Ideas:
1. Pkexec
2. Como con el archivo ntp-fix hacerla accesible para el usuario copiando un archivo en /etc/sudoers.d/ (no lo veo factible pues cualquier estudiante podría liar un desastre)

[2020-12-07 21:21] aosucas499 commented on #26
Parece que no es necesaria la terminal https://github.com/aosucas499/minino-TDE/commit/ea93841bc235d06b62b518c41f89e60314786215  y muestra el menú gráfico para introducir la contraseña, así que parece que va bien así el script customize como una aplicación del sistema con acceso en el escritorio y el menú de "aplicaciones / minino".

[2020-12-07 21:27] #26 closed, assigned to aosucas499

[2020-12-08 11:38] jasvazquez commented on #13
Buen apunte el de usar `$USER` Andrés, anoto crear nueva tarea para extender el comportamiento a todos los usuarios del sistema 👍🏻

Se observa que el comportamiento comentado es normal pues debe existir la posibilidad de "salir" del modo incógnito y no vernos "enclaustrados" en el mismo máxime si la finalidad de esta tarea es arrancar por defecto en dicho modo, no impedir el uso del modo de navega

[2020-12-08 11:41] aosucas499 commented on #13
Me parece buena opción entonces  😉

[2020-12-08 11:42] aosucas499 commented on #13
De todas maneras tengo previsto pasar el firefox 83 al sistema en lugar de que resida en el HOME

[2020-12-08 11:43] jasvazquez opened #27 "Extender modo incógnito a cualquier usuario del sistema"
Sugiere @aosucas499 la posibilidad de activar el modo incógnito a cualquier usuario del sistema y no solo a _usuario/usuario_ en la tarea #13.

Al crear esta tarea me surge la duda (y así lo etiqueto): ¿tiene sentido activarlo para todos en lugar de únicamente para _usuario/usuario_?

Con un usuario "público" como es _usuario/usuario_ tiene sentido proteger que no se guarden "por despiste" (o equi

[2020-12-08 11:53] jasvazquez commented on #13
Lo anoto como tarea pues de tipo IDEA (no es urgente ni necesario pero es algo interesante de tener) 👍🏻

[2020-12-08 11:55] jasvazquez opened #28 "Pasar Firefox 83 a la raíz del sistema"
Tras sugerencia de @aosucas499 consideramos interesante [quitar Firefox del directorio `$HOME` de _usuario/usuario_](https://github.com/aosucas499/minino-TDE/issues/13#issuecomment-740569978) sobre todo teniendo en cuenta que podemos contar con varios usuarios en el sistema y no tiene sentido limitarlo al usuario "público"

[2020-12-08 12:24] aosucas499 commented on #27
Pues es una duda razonable. Quizás se podría activar la sesión privada en los navegadores solo para el usuario público.

[2020-12-08 12:58] jasvazquez commented on #27
Pues lo damos por resuelto tal y como está ahora: sólo _usuario/usuario_ (que es el usuario "público") cuenta con la posibilidad de  iniciar sesión por defecto en los navegadores en modo incógnito 👍🏻

[2020-12-08 12:58] #27 closed, assigned to jasvazquez, aosucas499

[2020-12-08 13:00] jasvazquez opened #29 "Modificar activación modo incógnito en navegadores"
Tras implementarse #28, Firefox 83 no estará en `$HOME` como espera por lo que debe cambiarse su comportamiento para que apunte a la ruta correcta.

[2020-12-08 13:02] jasvazquez commented on #28
Como te has asignado la tarea entiendo que la estás implementado, por lo que cambio la etiqueta a TODO (ha dejado de ser una IDEA a ser una REALIDAD 😉 )
Si lo he malinterpretado, ten a bien deshacer el cambio de etiquetas 👍🏻

[2020-12-08 13:23] aosucas499 commented on #28
Sí, tengo el script original que era para usar con Guadalinex para actualizar firefox sin root, ya que no es necesario en minino, lo voy simplemente a actualizar con las carpetas del sistema. Bien interpretado😉

[2020-12-08 16:12] jasvazquez opened #30 "Notificar resultado script personalización"
Tras [la implementación](https://github.com/aosucas499/minino-TDE/commit/ea93841bc235d06b62b518c41f89e60314786215#r44914696) de la tarea #26 se abre la necesidad de poder notificar en caso de error qué ha ocurrido para que el usuario pueda actuar en consecuencia y resolverlo.

De momento hemos vuelto a activar la salida por terminal pero sería interesante

1. mostrar un "log" si hay un fallo
1. mo

[2020-12-08 16:13] jasvazquez commented on #30
Se me ocurre que lo más sencillo podría ser redireccionar la salida a un fichero de log y mostrarlo si hay algún problema durante el proceso.

Igualmente sería interesante que las funciones devolviesen el resultado de la ejecución (0=ok como suele ser normal en los programas en C y Linux por extensión)

[2020-12-08 16:42] jasvazquez commented on #7
Agradecería correcciones "de estilo" @aosucas499 😅

![image](https://user-images.githubusercontent.com/604744/101513685-c0e6a100-397c-11eb-893a-992ec64d9221.png)

[2020-12-08 16:57] aosucas499 commented on #30
Me parece una idea genial.

[2020-12-08 17:51] jasvazquez opened #31 "Limitar personalización de Minino"
Tras la implementación de las tareas #12 y #26 se presenta la posibilidad de que el profesorado pueda usar varias veces el script de personalización lo cual, en algunas de las opciones ofrecidas (como es el caso de #1) provocará fallos inevitablemente (cada vez que se active la opción de _autologin_ se volverá a introducir (innecesariamente) una nueva entrada en `/etc/lightdm/lightdm.conf`

La dud

[2020-12-08 18:28] jasvazquez commented on #2
No sabiendo si el objetivo realmente es contar expresamente con OnBoard o con un teclado en pantalla me planteo la siguiente posibilidad... ¿Cómo lo ves @aosucas499?

![Peek 08-12-2020 19-26](https://user-images.githubusercontent.com/604744/101525375-820c1780-398b-11eb-8f73-71189bc5f954.gif)

[2020-12-08 18:52] aosucas499 commented on #2
El objetivo era incluir teclado en pantalla para algunos que comentaron que tenían teclas rotas en algunos dispositivos. Ese florence es más bonito que el marchbox!!! Y por lo que veo no da problemas. Por mí inclúyelo en el update-minino y cerramos la tarea de onboard! Enhorabuena!!

[2020-12-08 18:54] aosucas499 commented on #7
Yo creo que tiene mucho estilo y buena redacción. Por poner algo les enlazaría con el github, aunque en otro comentario, quiero generar pronto una iso y así se comenta con las mejoras.

[2020-12-08 19:09] aosucas499 commented on #6
Tras investigar este finde con el modelo samsung en casa he descubierto que es un bug. Un bug que solo afecta a ese modelo por la tarjeta de sonido "realtek alc269vc". El sonido suena como dijo el compañero si le subes el volumen a "headphones" y esto no debería ocurrir ya que ese volumen debe mantenerse bajado e intercambiarse con el de "speaker" cuando se le conecta unos auriculares. Con auricul

[2020-12-08 19:32] jasvazquez commented on #6
Me tomo la libertad de editar el comentario que has hecho para apuntar directamente a la respuesta que mencionas 👍🏻

¿Damos por finalizada la tarea o la cambiamos a IDEA? (algo a hacer en un futuro si se considera oportuno)

[2020-12-08 19:34] jasvazquez commented on #7
Quizás demasiado serio para un hilo de un foro, de ahí que preguntase tu opinión al respecto Andrés 😅

He puesto enlace a github (oculto justo antes del emoji del biceps) pero ya habrá tiempo (cuando publiques la nueva _release_ de Minino-TDE) de hacer hincapié y, si se deja, de cambiar el texto para recoger los enlaces "esenciales" del proyecto (ISO, GitHub, ...) 👍🏻

[2020-12-08 19:35] aosucas499 commented on #6
Como veas, sin duda es uno de los dispositivos en los que más se va a instalar junto al chuck norris, luego tenemos que intentar solucionarlo aunque sea un script al inicio que haga un reconocimiento de la tarjeta de sonido y si la detecta aplique el fix. Algo que hacer aunque sin prisa. TODO, IDEA, lo que veas...

[2020-12-08 19:36] aosucas499 commented on #7
Perfect crack.

[2020-12-08 19:38] jasvazquez commented on #6
Vale, vamos hablando, quizás TODO sea más acertado (gracias por sugerirlo)

Necesitaríamos el ID de la tarjeta de sonido para echar un vistazo a dicho script (con un simple condicional y [lo que indiqué más arriba](https://github.com/aosucas499/minino-TDE/issues/6#issuecomment-739830466) debería ser más que suficiente)

Déjame que  haga algunas pruebas y vamos viendo cómo meterle mano 👍🏻

[2020-12-08 19:49] aosucas499 opened #32 "Autoactualizar update-minino.sh"
Me ha surgido la idea de auto-actualizar el update-minino.sh para nosotros y para aquellos que no quieran actualizar con pendrive y volver a instalar.

Había pensado dos opciones:

1. Añadirlo como una opción seleccionable al customize-minino.
2. Archivo desktop que se ejecute al inicio en /etc/xdg/autostart

Otra duda que me surje es si debería de hacerse actualizando simplemente el script a la v

[2020-12-08 19:59] #2 closed, assigned to jasvazquez

[2020-12-08 20:10] aosucas499 commented on #6
![IMG_20201208_210810](https://user-images.githubusercontent.com/72696244/101536056-ca323680-3999-11eb-83f7-0dc6e5418532.jpg)

[2020-12-08 22:16] jasvazquez commented on #7
Pues entonces la damos por terminada 😉👍

[2020-12-08 22:16] #7 closed, assigned to jasvazquez

[2020-12-08 22:42] aosucas499 commented on #19
Me llama la atención lo que comentan en su web sobre Wayland o systemd y el abandono del proyecto. Les escribiré para preguntar lo que comentaste en tu primer comentario. También recordar que yo le apagué muchos servicios activos a la distro, se pueden ver desconectados en la aplicación del menú minino o utilidades llamada servicios.

[2020-12-09 15:28] aosucas499 commented on #31
Si es solo la tarea #1 ¿ qué te parece crear ya que tenenos la carpeta customize, tener un lightdm.conf para cuando hay autologin y otro para login normal? Al seleccionarlo en el script se copiaría sustituyendo y no habría problemas de repetición. También lo he pensado porque observé que cuando instalas con otro usuario distinto de usuario, la pantalla de login muestra usuario para seleccionar aun

[2020-12-09 18:27] jasvazquez commented on #31
Es una opción que he estado barajando pero presupone que el `lightdm.conf` sólo lo cambiamos nosotros desde el script: si alguien lo edita (vete a saber para qué) se lo estaríamos "machacando" cada vez con la versión "original"

Otra posibilidad sería anotar un "hash" y si no coincide con el esperado, eliminar la opción del menú de personalización (no creo que podamos deshabilitarla)

[2020-12-09 18:34] aosucas499 commented on #31
[Lightdm.conf](https://wiki.archlinux.org/index.php/LightDM_(Espa%C3%B1ol))

¿Qué podrían querer cambiar? La aplicación que había en minino no cambiaba nada o la podríamos borrar no? En todo caso lo que veas mejor, si ves alguna manera la implantamos.

[2020-12-09 18:34] jasvazquez commented on #19
Ya somos dos a los que nos ha llamado la atención dicha frase 🤔

[2020-12-09 18:36] aosucas499 commented on #19
Yo les escribí ayer, en cuanto contesten te cuento aquí.

[2020-12-09 18:54] jasvazquez commented on #32
El problema lo encuentro principalmente en conocer el "punto de partida": necesitaríamos conocer qué versión concreta hay en un equipo para poder llevarlo a la última versión.

Se me ocurre evaluar (que conste "en acta" que lo tenía anotado porque lo estaba viendo venir 😅 ) [el uso de TimeShift](https://dev.to/rahedmir/how-to-use-timeshift-from-command-line-in-linux-1l9b) (acá el "git de linux") y

[2020-12-09 19:03] aosucas499 commented on #32
Para tomarlo con calma haciéndolo así. Miraré la herramienta cuando tenga algo más de tiempo. De todas maneras,¿ tú crees que con lo que vamos a ir aplicando en el update-minino.sh de instalar o borrar cuatro cosas es necesario eso?

[2020-12-09 19:10] jasvazquez commented on #31
Ten en cuenta que no todo es cambiar ficheros completos: actualmente tenemos como opción la instalación de software como el acceso por _ssh_ (tarea #23)

Igual la solución planteada en #32 de usar Timeshift podría ser una alternativa global (tanto para la actualización de Minino-TDE como para la personalización realizada por el usuario)

Si me apuras y queremos dejarlo todo como "lo tenía el usuar

[2020-12-09 19:13] jasvazquez commented on #32
Y tanto... como para una versión nueva "monotemática" que sólo incluya esta funcionalidad.

Creo que debemos:
1. centrarnos en cerrar las pocas tareas (que no son IDEA) que nos quedan ahora mismo
1. pulirlas para que todo esté "redondo" (y funcione correctamente)
1. publicar esa versión (antes de seguir "inventando" mejoras)

O, lo que es lo mismo... "[memento mori](https://andalinux.wordpress.com

[2020-12-09 19:14] jasvazquez commented on #32
Yo creo que, ahora mismo, deberíamos centrarnos en lo que tenemos, olvidarnos de esta idea (por mucho que me esté gustando) y si alguien quiere actualizar el equipo, que lo haga manualmente.

Ya implementaremos el Minino-TDE release "autoupdate" con la mejor solución que encontremos entre las que estamos planteando ¿no te parece? 🤔

[2020-12-09 19:23] aosucas499 commented on #32
Me parece buena idea y más ahora que viene  tiempos de curro máximo. Lo miramos en navidades.😉

[2020-12-09 19:32] jasvazquez commented on #32
Sea, como IDEA queda y ya estas navidades le damos una vuelta al tema 👍🏻

[2020-12-11 15:17] aosucas499 commented on #7
¿Te puedes creer que he entrado en el aulavirtual y en el tde y soy incapaz de encontrar tu hilo?

[2020-12-11 15:36] jasvazquez commented on #7
No, Andrés, no me extraña que no la veas: la he pasado y estoy esperando que le den el visto bueno 🤷
Cuando esté te aviso 👍

[2020-12-11 15:37] aosucas499 commented on #7
¿Tienen filtro de post?🙄

[2020-12-11 15:39] jasvazquez commented on #7
Realmente no, pero va a aparecer en una categoría nueva que todavía no ha sido publicada en el punto de encuentro TDE 😉

[2020-12-11 16:33] aosucas499 commented on #7
Wow!😆

[2020-12-11 19:17] aosucas499 commented on #19
Respuesta del email:

Hola, Andrés, perdona la tardanza.
Te comento algunas notas que quizás te puedan servir:
Lo más importante son los demonios del inicio, lo hemos dejado pelaísimo, sólo lo necesario para arrancar el entorno y la sesión gráfica. La sesión gráfica también suele tener por defecto servicios o programas que no nos interesan, así que también los quitamos.
Decidimos exactamente qué e

[2020-12-11 21:48] jasvazquez opened #33 "Software Teams para Linux"
Manolo García pregunta hoy en Telegram si sería posible contar con este programa en Minino-TDE.
Parece complicado pero no estaría de mas echarle un vistazo

[2020-12-11 21:53] aosucas499 commented on #33
Lo veo casi imposible, contando que solo tienen debs para 64 bits.
[Link](https://www.microsoft.com/en-us/microsoft-365/microsoft-teams/download-app#desktopAppDownloadregion)

[2020-12-11 22:29] jasvazquez commented on #19
Francamente interesante las cuatro "pinceladas" que te han dado.

Me planteo estudiar seriamente la pila de "servicios" definidas para montar el entorno gráfico del sistema 🤔

[2020-12-11 22:30] jasvazquez commented on #7
Creo que ya deberías poder acceder a ella 😉

[2020-12-11 22:33] jasvazquez commented on #33
No, si complicado (de serie) ya parece.

Habrá que evaluar si realmente merece la pena el esfuerzo en base a los usuarios que pueda llegar a tener realmente 🤔

[2020-12-11 22:35] aosucas499 commented on #33
Si fuese para Gsuite...pero encima de que como dices Teams va a tener poca acogida, Microsoft me da.... pereza (perrete que soy jajaj)

[2020-12-11 22:44] jasvazquez commented on #33
A mí no me mire, que solo de pensarlo me da urticaria ¿¡¿Darle gratuitamente soporte a Microsoft?!? 😳🙈

Aquí los [repositorios](https://docs.microsoft.com/es-es/microsoftteams/get-clients) por si nos animamos a hacer pruebas

[2020-12-11 23:11] jasvazquez commented on #19
Andrés, ¿sería abusar preguntar a los compañeros qué optimización creen que puede influir en el rendimiento que el navegador web (funciona igual de bien en Chromium que en Firefox) a la hora de usar Google Docs?

Parece broma, pero me maravilla que Minino no tiene los lags que presenta cualquier otra distribución por muy optimizada que esté 🤔

[2020-12-11 23:18] jasvazquez opened #34 "Problemas con firmware-b43-installer"
Laura López comenta en telegram TDE que no consigue hacer funcionar la wifi en unos portátiles HP que tiene

![IMG_20201212_001616_303](https://user-images.githubusercontent.com/604744/101963549-45e8e900-3c0f-11eb-80be-8446bbacb48a.jpg)

@aosucas499 propone la siguiente [solución](https://lignux.com/solucion-al-driver-broadcom-bcm4311-para-wireless-en-ubuntu-linux-mint-y-derivadas/)

[2020-12-11 23:19] aosucas499 commented on #19
Buenísima idea, yo lo veo bien. Hay gente con ganas de colaborar. La verdad es que a mí en su día también me dejó perplejo. Y más cuando veía que le quitaba algún servicio y actualizaba navegadores viendo cómo funcionaban.

 Hoy por ejemplo, entré en clase de un compañero y tenía examen con sus estudiantes. Tenía un chuck norris que le dejé hace un año, le pregunto y me dice que lo tenía en el caj

[2020-12-11 23:21] aosucas499 commented on #34
La solución fue una rápida búsqueda en google jajaja, pero sí, la política debian es no incluir los drivers "non-free". Así que lo podremos solucionar rápido incluyendolos en el kernel o añadiendo los repos non-free de debian jessie al sources.list

[2020-12-11 23:25] jasvazquez commented on #19
Si es que el gatito "ronea" cosa mala 🤣👍🏻

[2020-12-11 23:27] jasvazquez commented on #34
Posible, aunque me llama la atención el mensaje de no poder acceder al repositorio.

Necesito verlo en el ordenador. En el móvil poco más puedo hacer y menos a las horas que son

![IMG_20201212_002635_112](https://user-images.githubusercontent.com/604744/101964186-d7a52600-3c10-11eb-8a52-50701e7b8144.jpg)

[2020-12-11 23:39] jasvazquez commented on #19
¿Tú [has visto esto]( https://minino.galpon.org/es/comment/2837#comment-2837) en los foros de Minino? 😳

[2020-12-16 17:42] aosucas499 commented on #28
Se me pasó escribir que lo añadí al script, ya está para el sistema y he añadido colores al script cuando se instala algo.
[commit](https://github.com/aosucas499/minino-TDE/commit/92c1728b9cce0f22311ac19d4e488f8b110c856d)

[2020-12-16 17:42] #28 closed, assigned to aosucas499

[2020-12-16 17:50] jasvazquez commented on #28
No esperaba menos de ti, ya me tenías hasta extrañado 🤣
Genial lo de los colores... tenía pendiente hacerlo 😉
Siento haber bajado el ritmo estos días (evaluaciones "mandan"), ya me desquitaré 👍🏻

[2020-12-16 17:54] aosucas499 commented on #28
jajajajajajajajaj Yo igual no te preocupes, con las evaluaciones.

[2020-12-17 11:27] jasvazquez commented on #34
Cerrada la tarea tras comprobar que el problema se debía a que Laura no tenía conexión a internet en el equipo y que el paquete se puede instalar sin problemas de los repositorios

[2020-12-17 11:27] #34 closed, assigned to jasvazquez

[2020-12-17 16:00] aosucas499 commented on #34
😆

[2020-12-17 16:01] aosucas499 commented on #34
¿Ves necesario añadirlo al customize como opción o al update minino para que tenga más drivers incluidos?

[2020-12-17 20:23] jasvazquez commented on #34
Corrígeme si me equivoco Andrés (no lo he comprobado 😅) pero ¿No viene de serie el paquete en Jessie? Pregunto porque no entiendo la necesidad de añadirlo a _customize_

[2020-12-17 20:28] aosucas499 commented on #34
No lo he probado. Pensé que es de esos que viene en el apartado "non free" de debian y que por lo tanto no lo teníamos. Lo miro porque de memoria ando ya..m

[2020-12-17 23:18] aosucas499 commented on #19
Lo vi, pero parece que al final...cerraron

[2020-12-18 07:01] jasvazquez commented on #19
Pero sería interesante conocer dónde se quedaron y (sobre todo) qué dejaron hecho.
No digo que podamos nosotros sortear el escollo que encontraron pero sí que nos daría mucha información para conocer por qué Minino ha llegado a ser lo que es y por donde tirar a la hora de optimizar un sistema operativo para equipos de bajos recursos ¿No te parece? 🤔

[2020-12-18 07:41] jasvazquez commented on #34
Definitivamente, nos podemos olvidar... viene de serie y sin activar ningún repositorio 👍🏻

![image](https://user-images.githubusercontent.com/604744/102587868-dc844100-410c-11eb-85b2-253ded7c735b.png)

[2020-12-18 15:38] aosucas499 commented on #34
Genial!!!

[2020-12-18 16:25] jasvazquez opened #35 "Cachear DNS localmente"
Pensando en un uso de los portátiles centrado en los servicios online (quizás porque lo primero que hago al arrancar sea abrir el correo electrónico en el navegador web y uso en exceso los servicios de Google) y, tras ver que en la mayoría de las veces (durante excesivo tiempo) aparece en la barra de estado del navegador mensajes del tipo "Esperando a lawebquesea.com...", se me ocurre como posible

[2020-12-18 21:40] jasvazquez opened #36 "Mostrar asteriscos al introducir claves en la terminal"
Mi alumnado suele confundirse mucho cuando escriben contraseñas en la línea de comandos y muchos de nuestros compañer@s deben, sentirse igual.

Es un [cambio sencillo](https://www.omgubuntu.co.uk/2016/08/make-sudo-password-visible-terminal) y requiere poco trabajo por lo que sería interesante incluirlo de serie.

Se puede modificar directamente `/etc/sudoers` y así resulta más sencillo incluirlo e

[2020-12-20 11:27] aosucas499 commented on #35
Genial. ¿Cómo se hace eso?

[2020-12-20 11:30] aosucas499 commented on #36
Perfecta idea.

[2020-12-20 11:34] aosucas499 opened #37 "Refracta o systemback"
Dado que le instalé en su día a minino systemback para personalizar mejor mis instalaciones en los equipos del centro y era algo personal me planteo la duda de si no sería mejor usar refracta que ya viene incluida de fábrica en el sistema para generar la ISO y las instalaciones, ya que parece que a muchos les resulta complejo systemback en el tema de particiones.

[Minino crear iso](https://minino

[2020-12-20 16:47] jasvazquez commented on #35
Existen diferentes alternativas ([p.e. ésta](https://geekflare.com/es/linux-server-local-dns-caching/)) pero habría que hacer algunas pruebas y ver si realmente mejora el rendimiento en los equipos que nos traemos entre manos.

__OFF-TOPIC__ no termino de entender las nuevas etiquetas compi 😏
+ la de DUDA podría pero no creo que fuese necesaria (bastaba con preguntar directamente en los comentario

[2020-12-20 17:01] jasvazquez commented on #29
No entiendo la DUDA, compi
Igualmente sigo empecinado en etiquetar como FUNCIONALIDAD (es un comportamiento, no un programa) la tarea 😉

[2020-12-20 17:16] aosucas499 commented on #29
Me tienes que perdonar compi, creo que la he cambiado sin querer, buscaba otra tarea para cambiar. Sorry!

[2020-12-20 17:17] aosucas499 commented on #35
Aquí igual, no quería cambiar la etiqueta a nada. Creo que jugaba con ponérsela a la que creé hoy y me he equivocado dos veces. Sorry.

[2020-12-20 17:35] jasvazquez commented on #35
Misterio resuelto. No te disculpes por ello Andrés: estamos aprendiendo 👍🏻

[2020-12-20 17:36] jasvazquez commented on #29
No faltaba más... disculpado queda D. Andrés 👍🏻

[2020-12-20 18:02] jasvazquez commented on #37
Sí que está dando problemas a los compañeros pero entiendo que es (a mí también me costó un par de pruebas) por lo poco intuitivo que resulta el tener que pulsar en la flecha para asignar a la partición que se tiene seleccionada en el listado de la izquierda 🤷🏻‍♂️

Puede que el manual de #10 ayude a resolver esa duda (aunque no todos leen y otros ni lo van a buscar siquiera)

Si Refracta ayuda a s

[2020-12-20 18:14] aosucas499 commented on #37
Si el menú nefasto al que te refieres es el de la flecha no es el minino original, es systemback.

[2020-12-20 18:20] jasvazquez commented on #37
Pues entonces igual hay que cambiarlo 😅 👍🏻

[2020-12-20 19:35] aosucas499 commented on #37
Probamos refracta al generar la ISO y vemos qué tal se da. Yo recuerdo que había varias formas y alguna la liaba, se confundía de dispositivo al arrancar en live y te instalaba el sistema en el pendrive, reconocía al pen como sda y el disco duro como sdb.  Los tipos de instalación vienen explicados aquí, en el apartado características. Desatendido, automático, etc... [link](https://minino.galpon.o

[2020-12-20 19:42] jasvazquez commented on #37
Pues entonces lo pasamos a IDEA (ya no hay DUDA que valga) y cuando consideremos oportuno a TODO para meterle mano

[2020-12-20 19:43] jasvazquez commented on #37
Lo paso a ESTUDIO para cubrir las pertinentes pruebas comentadas 👍🏻

[2020-12-21 15:15] jasvazquez opened #38 "Configuración región horaria"
Teniendo en cuenta que _update-minino.sh_ es de "consumo interno" para generar las nuevas versiones de Minino ¿Es realmente necesario tener que indicar la zona horaria a utilizar o (de ser factible y sencillo) podríamos optar por usar el parámetro adecuado y evitar tener que elegir correctamente la zona?

![image](https://user-images.githubusercontent.com/604744/102791563-7b2bce80-43a7-11eb-9408-2

[2020-12-21 17:30] aosucas499 commented on #38
¿Te gusta así más? [commit](https://github.com/aosucas499/minino-TDE/commit/5bb77d4eff7b65ccadab3ff63f4f20b6f965df6f)

[2020-12-21 17:30] #38 closed, assigned to aosucas499

[2020-12-21 17:43] #29 closed, assigned to jasvazquez

[2020-12-21 17:55] aosucas499 commented on #36
He intentado añadirla desde terminal con "echo >>", con "sed -i $a". Todo me da fallo de permiso denegado. Con visudo habría que hacerlo interactivamente, voy a probar en copiar un archivo con esa línea en /etc/sudoers.d/

[2020-12-21 17:56] aosucas499 commented on #36
Acabo de ver que te la has asignado, te la dejo pues.

[2020-12-21 19:13] jasvazquez commented on #36
Sí, ya me estaba "aburriendo" ver una TODO sin quitar de en medio 😉

![image](https://user-images.githubusercontent.com/604744/102813408-0bc6d680-43c9-11eb-8246-8e89f6248e14.png)

[2020-12-21 19:27] #36 closed, assigned to jasvazquez

[2020-12-21 19:48] aosucas499 commented on #36
La cosa pide ISO ¿no?

[2020-12-21 19:57] jasvazquez opened #39 "Crear nueva ISO de Minino-TDE"
Tras comentario de @aosucas499 en #36 sobre la idoneidad (o no) de crear una nueva ISO me animo a crear esta tarea para no "guarrear" dicha tarea con algo que le es "ajeno" 😏 😅

La verdad es que (salvo la tarea #6) pocas tareas TODO quedan en el tintero (el resto son IDEAs que pueden quedar para una futura _release_)

Sólo me preocupa #31 y las consecuencias que pueda tener (no probado ni buscada

[2020-12-21 19:58] jasvazquez commented on #22
Tras comentar/debatir sobre el alcance del proyecto creo que podríamos dar por cerrada esta tarea.
@aosucas499, siéntete libre de abrirla nuevamente si consideras que no es así 👍🏻

[2020-12-21 19:58] #22 closed, assigned to jasvazquez, aosucas499

[2020-12-21 20:10] jasvazquez commented on #35
Como anotación personal dejo indicado que necesité crear el siguiente enlace simbólico al probar _Garuda_ en uno de mis ordenadores

`sudo ln -s /run/systemd/resolve/resolv.conf /etc/resolv.conf`

[2020-12-27 14:58] aosucas499 commented on #6
Creo recordar un mensaje de Telegram tuyo en el que decías que te habías traído este dispositivo para las navidades. Lo has mirado, en caso contrario genero la ISO, ¿no?

[2020-12-27 17:12] jasvazquez commented on #6
En realidad me he traído un Toshiba NB500, Andrés (de los Samsung que indicas en este hilo nunca hemos tenido ninguno físicamente en el centro)

¿Lanzamos la ISO (que entiendo que ya debería ir tocando) a pesar de #31? 🤔

[2020-12-28 16:42] jasvazquez commented on #31
Cambio la etiqueta a TODO tras priorizar su realización debido a las dudas que me plantea sacar una nueva ISO de Minino-TDE en la que los usuarios puedan activar y desactivar opciones sin obtener el resultado esperado

[2020-12-28 16:44] aosucas499 commented on #31
Ok, esperamos que esté cerrada para generar la ISO. Estoy experimentando con varios instaladores a parte de systemback y refracta.

[2020-12-28 18:48] jasvazquez commented on #31
La cierro tras el último commit asociado a esta funcionalidad 9f3ef09

[2020-12-28 18:48] #31 closed, assigned to jasvazquez

[2020-12-30 11:07] aosucas499 commented on #31
Menudo curro, va genial. ¡Enhorabuena!

[2020-12-30 11:12] jasvazquez commented on #31
Me alegra que te guste, Andrés. Algo de trabajo sí ha tenido pero creo que era la solución que merecía el tema 😉

Gracias por probarlo: aunque lo sometí a una batería de tests exhaustiva siempre queda el temor a haber pasado algo por alto 😅

[2020-12-30 11:13] jasvazquez commented on #39
Tras implementar la #31 parece que ya podemos acometer esta tarea ¿No te parece @aosucas499? 😉

[2020-12-30 11:19] aosucas499 commented on #39
Sin duda, estoy probando diferentes instaladores. Un compañero italiano ha sacado una herramienta magnífica para generar ISO y sobretodo usar instaladores, estoy probando, échale un vistazo.
[https://github.com/pieroproietti/penguins-eggs](https://github.com/pieroproietti/penguins-eggs)

[2020-12-30 11:20] aosucas499 commented on #31
Gracias a ti. Hay líneas que ni entiendo, estudiaré ese código para aprender😉

[2020-12-30 14:35] jasvazquez commented on #31
Genial. Cualquier duda que te surja, pregunta: así queda constancia y podría ayudar a otros 👍🏻

[2020-12-30 14:35] jasvazquez commented on #39
Tiene muy buena pinta y, el uso de puppets, abre interesantes posibilidades 🤔

[2021-01-03 18:05] aosucas499 commented on #39
Échale un vistazo a la ISO: http://bit.ly/2KOpodK

No he podido usar la herramienta penguin eggs, hablé con el autor pero lleva mucha modificación para adaptarla a las nuevas distros. Además el instalador calamares quizás fuese lento en algún chuck norris. Pero el aprendizaje de la herramienta ha valido la pena para aplicar en la iso de educaandos y si hacemos algún perrete jajja

He borrado el sy

[2021-01-04 17:00] jasvazquez commented on #39
Hola compi

He estado probando la ISO y va realmente bien, aunque me he encontrado que el _customize-minino_ estaba fallando (ni funcionaba ssh ni dejaba instalarlo y la opción siempre aparece marcada como si estuviese activa en el sistema)

Al final resulta que falta un `apt update` motivo por el cual no encuentra el paquete _openssh-server_

![image](https://user-images.githubusercontent.com/604

[2021-01-04 17:04] jasvazquez commented on #39
En otro orden de cosas este mensaje puede despistar

![default-password](https://user-images.githubusercontent.com/604744/103559634-c28d8100-4eb6-11eb-9b6b-4adb941ed219.png)

pero entiendo que poco vamos a poder hacer al respecto (salvo desear que no lo lean los que vayan a usarlo pues está "oculto" en las opciones avanzadas del instalador 😅 )

Igualmente me llama la atención encontrar estas opcio

[2021-01-04 18:09] aosucas499 commented on #39
Corrígelo en el cusomize-minino que voy a rehacer la ISO por lo que te cuento en el siguiente post y se queda incluído.

[2021-01-04 18:11] aosucas499 commented on #39
Pues se me olvidó incluir la modificación en el script porque modifiqué el instalador y le quité el texto del usuario minino. Miré lo de los scripts pre y postinstall. Estuve pensando en crear la iso con el acceso directo al instalador en el escritorio y que el post-install lo borrara del escritorio al instalar el sistema, pero esa idea es genial. Podemos mirarlo para futuras releases...

[2021-01-04 18:25] jasvazquez commented on #39
Genial... ahí queda y creo tarea como IDEA para una futura _release_ 👍🏻

[2021-01-04 18:28] jasvazquez opened #40 "Convertir update-minino.sh en pre-install script"
Tras conversación en #39 nos planteamos que podríamos delegar en el script de pre instalación de Minino

![image](https://user-images.githubusercontent.com/604744/103566775-e9ea4b00-4ec2-11eb-8d17-af67f5bb870a.png)

de modo que, en lugar de tener que personalizar y crear una ISO pudiésemos realizarlo todo desde la ISO original de Minino

[2021-01-07 20:54] aosucas499 commented on #39
He generado como tres veces hoy la ISO, sigo viendo el fallo del customize, sale activado el ssh y si le das a aplicar no lo instala. En el [código](https://github.com/aosucas499/minino-TDE/blob/a143c77579f296d8a26228cd39abb2c890168a23/update-minino.sh#L159) he incluido el apt get update pero nada.

También he probado que la ISO al arrancar traiga el icono del instalador en el escritorio pero lo d

[2021-01-07 21:33] jasvazquez commented on #39
Lo miro mañana Andrés (llevo unos días "enfilado" con la forma de poder aplicar Scrum con GitHub para mis alumnos de Bachillerato y me tenía algo agobiado el tema. Me pasa por tirarme al charco continuamente... un día de estos pego una "buchá" 😅) y te cuento (prefiero que generes tú la ISO que tienes más pericia 💪🏻

[2021-01-07 22:05] aosucas499 commented on #39
😆😆😆😆😆😆 cuando puedas, no hay prisa. Ya he pensado en dejarla por hoy.

[2021-01-08 17:05] jasvazquez opened #41 "No detecta openSSH sin actualizar repositorios"
Tras [conversación con Andrés](https://github.com/aosucas499/minino-TDE/issues/39#issuecomment-756378494) encontramos que si los repositorios no están actualizados, _customize-minino.sh_ falla al detectar si está o nó instalado _openssh-server_

[2021-01-08 17:13] #41 closed, assigned to jasvazquez

[2021-01-08 20:39] aosucas499 commented on #39
Tras comprobar que lo has solucionado he generado la ISO. He vuelto a modificar el post script del instalador para que borre el icono del escritorio después de instalar, pero sigue sin funcionar. Más adelante lo intentaré que me tiene muy "jarto". En la wiki por ahora viene la explicación de que se borre a mano tras instalar. La ISO está generada en el mismo enlace y tenemos [wiki para la instalac

[2021-01-08 20:40] aosucas499 commented on #37
Pues cerramos tarea con la elección de Refracta por su facilidad de instalación y abanico de posibilidades.

[2021-01-08 20:41] #37 closed, assigned to aosucas499

[2021-01-08 20:42] aosucas499 commented on #10
Esto valdría, ¿no? [wiki - instrucciones de instalación](https://github.com/aosucas499/minino-TDE/wiki/Instalaci%C3%B3n)

[2021-01-08 20:43] #10 closed, assigned to aosucas499

[2021-01-11 16:49] jasvazquez commented on #39
Vaya, me alegro que (ahora sí) te haya funcionado el _customize-minino.sh_ 😅

¿Creamos tarea para resolver el problema que mencionas y damos por buena (=distribuible) la última ISO que has generado o tienes en mente probar alguna cosa más? 🤔

[2021-01-11 16:53] aosucas499 commented on #39
Nada más en mente compañero, distribuye 😉

[2021-01-11 19:57] jasvazquez opened #42 "Añadir vídeos a la wiki"
Álvaro García ha subido, a [su canal de Youtube](https://www.youtube.com/playlist?list=PLTInVXbjD9zvZWyeZvtz3zlu6d77V_zKf), una serie de vídeos explicando algunas de las dudas más habituales que tienen los compañer@s.

Destacar el que explica cómo utilizar Etcher para grabar la ISO de Minino.

¿Te parece que incluyamos aquellos que nos resulten de interés a la wiki @aosucas499? 🤔

[2021-01-11 19:58] aosucas499 commented on #42
Es una idea genial, menudo crack. Añádela a la wiki al lugar que veas mejor.

[2021-01-11 19:59] jasvazquez commented on #39
Como hablamos, cierro la tarea tras darle difusión a la nueva versión en Telegram y [foro TDE](https://educacionadistancia.juntadeandalucia.es/aulavirtual/mod/forum/discuss.php?d=1197#p3845).
Buen trabajo, compi 👍

[2021-01-11 19:59] #39 closed, assigned to aosucas499

[2021-01-11 20:00] jasvazquez commented on #42
Anoto revisar los vídeos e incluirlos según proceda (temo que alguno haya dejado de funcionar tras cambiar a Refracta)
Me alegra que te haya gustado 👍🏻

[2021-01-11 20:01] aosucas499 commented on #39
Buen trabajo el tuyo compañero!!!

[2021-01-11 21:07] jasvazquez commented on #39
Esto es trabajo en equipo, que bastante "tute" llevas 🤣👍🏻

[2021-01-11 21:10] aosucas499 commented on #39
Total, me voy a jubilar de PC.

[2021-01-11 21:38] jasvazquez commented on #39
¿Jubilar de PC? Eso no lo he entendido 😳

[2021-01-11 21:54] aosucas499 commented on #39
Quitarme de usar el PC un tiempo jajaka

[2021-01-12 06:58] jasvazquez commented on #39
Ya veo que quieres dedicarte en cuerpo y alma a las Vexia 😏🤣

[2021-01-13 11:39] MaestroMallo opened #43 "Ultraportátiles verdes"
En dos ultraportátiles verdes, los samsung, se instala bien pero luego no funciona el audio.

En otros 2 se para la instalación cuando se indica la zona horaria, directamente al poner Madrid, se sale de la ventana de instalación y vuelve al escritorio.

[2021-01-13 12:25] Profetonino opened #44 "No funciona el sonido después de instalar minino en Toshiba Tecra M5"
Aparentemente todo funciona bien, pero el sonido no hay manera.

[2021-01-13 14:50] jasvazquez commented on #43
Hola @MaestroMallo, bienvenido.
Sería útil conocer el modelo exacto de este ultraportátil ¿Lo tendrías a mano?
Samsung tenemos algunos azules en mi centro pero verdes no (igual son los mismos "pintados" 😉 )

[2021-01-13 18:42] aosucas499 commented on #42
Yo hoy he estado instalando minino en PC's del centro y la instalación con refracta no es lo que más me gusta, he recordado porqué cambié a systemback. Algunas veces supone que el usb es /dev/sda y te instala el sistema en el pendrive. También leí de pasada comentarios hoy de gente en el grupo de telegram de que se le quedaba pillado en la selección de la hora. Total, que para uso personal me voy

[2021-01-13 19:57] jasvazquez commented on #42
¿Puedo entender que cambiaremos la ISO al sistema que menos problema dé a los compañeros/as? 🤔

[2021-01-13 19:59] aosucas499 commented on #42
Sí, a ver qué cuentan. Yo me haré una iso con systemback privada, para mi uso en el centro. A mí no me cuesta utilizar systemback jaja

[2021-01-14 08:07] acmaraverm opened #45 "Instalación de Minimo OS (versión 7 enero) en Toshiba PTM50E (Chuck Norris)"
Buenos días,

Antes de nada agradeceros el trabajo y dedicación que estáis haciendo para hacernos la vida un poco más fácil a los coordinadores TDE. La verdad es que hacéis una labora encomiable y es digno de alabar.

Os escribo porque estoy intentando salvar un carro de portátiles de los Toshiba PTM50E (los que llamáis Chuck Norris). He instalado la última versión de Minino OS siguiendo las indic

[2021-01-14 11:55] acmaraverm commented on #45
He conseguido arreglarlo eliminando las particiones anteriores y creando unas nuevas con GParted antes de instalar la nueva versión de Minino.

[2021-01-14 20:08] aosucas499 commented on #45
Sí, el problema es en la instalación "Desasistida". A veces, no siempre, en el chuck norris que yo haya probado, intercambia los /devices. Piensa que el pendrive es /dev/sda y el disco duro /dev/sdb. La solución es usar la opción de instalación básica u otra.
Gracias por el feedback.

[2021-01-14 20:09] #45 closed, assigned to aosucas499

[2021-01-14 20:10] aosucas499 commented on #44
¿Este modelo es el chuck norris? Lo digo porque siempre ha ido bien y este modelo tiene una ruedecita física para el volumen en el frontal o el lateral. Me pasó muchas veces que estaba en el mínimo la "ruedecita".

[2021-01-14 20:11] aosucas499 commented on #43
Para el problema de la hora, prueba la instalación "básica" o experto.

[2021-01-15 18:58] jaimecarrascogarcia opened #46 "Toshiba nb500 (Problema con driver sonido)"
Hola! Al instalar el sistema, no funciona el driver...he encontrado [esta solución](https://www.linux.org/threads/solved-peppermint-on-toshiba-nb500-no-audio.28042/)...y parece que funciona pero al meter los códigos que se indican en ella para que realmente reinicies la computadora y no tengas que realizar el proceso de seleccionar la tarjeta de sonido cada vez que inicias, no me ha funcionado...s

[2021-01-15 19:02] jaimecarrascogarcia opened #47 "Propuesta "Actualizador Sistema""
Hola! Propongo, incluir alguna aplicación, dentro del sistema operativo que te facilite el "actualizar" el mismo tipo "Minino Update" para que los sistemas siempre tengan la última versión. Creo que sería una buena idea, para mantener el sistema siempre a la última y resolver fallos....

Un saludo y dejo el tema abierto a debate....

[2021-01-16 15:17] jasvazquez commented on #47
Hola Jaime, diría que la idea que propones va en la línea de la tarea #32 creada por @aosucas499 🤔

[2021-01-16 15:24] jasvazquez commented on #46
Agradecidos a ti, Jaime... intento sacarle un rato y probar en el NB500 que tengo "secuetrado" en casa con Minino-TDE 😉

[2021-01-16 15:48] jasvazquez commented on #44
¿@Profetonino pudiste comprobar si el problema era por la "ruedecita"?
Físicamente no tengo Chuck Norris (para poder hacer pruebas), para mí sería un alivio 😅

[2021-01-16 15:51] jasvazquez commented on #42
Suelto la tarea por no haberle podido dedicar tiempo hasta ahora y existir otras donde podría ser más "rentable" mi tiempo.
Si nadie se anima a hacerla, la retomaré más adelante

[2021-01-16 15:52] jasvazquez commented on #43
¿@MaestroMallo nos confirmas si se ha resuelto con la sugerencia de Andrés?
Gracias

[2021-01-16 15:54] jasvazquez commented on #47
La etiqueto como DUDA mientras acordamos si es equivalente a la propuesta de la tarea #32

[2021-01-16 16:17] jaimecarrascogarcia commented on #32
Creo que la idea, teniendo en cuenta...que muchos "equipos" necesitan "mejoras", sería mas que recomendable. Si fuera posible, añadirla al customize "El actualizador de Sistema" ....al igual que añadir por poner un ejemplo en customize:

"Toshiba nb500 Fix driver sonido" haces click y solucionado.....

Ya me decís que os parece...

[2021-01-16 16:30] jasvazquez commented on #32
Pues me parece que si es un "fix" debe ir "de serie" o, lo que es lo mismo: que si se detecta el modelo de equipo, se solucione automáticamente.

Por _customize_minino.sh_ entiendo dar al usuario la posibilidad de elegir comportamientos de Minino y que funcione, per se, no es algo opcional 😉

[2021-01-16 16:31] jasvazquez commented on #32
@jaimecarrascogarcia ¿debo entender que la tarea #47 que creaste es exactamente esta en la que estamos? 🤔

[2021-01-16 17:02] jaimecarrascogarcia commented on #32
Efectivamente compañero, te respondo a ambos comentarios afirmativamente. Lo que propongo es exactamente esto en lo que estamos. Y por otra parte sería genial, que el sistema detectara el modelo del equipo y lo solucionara automáticamente....espero lo puedas conseguir, yo aun no llego a tanto....aunque intentaré ayudar en lo que pueda @jasvazquez MUCHAS GRACIAS!

[2021-01-16 17:22] jasvazquez commented on #32
Gracias a ti por tomarte la molestia de comentar y aportar tu experiencia con Minino-TDE.
Sin vuestras pruebas, vamos un poco a "ciegas", Jaime
Opto por cerrar entonces la otra tarea para que no se acumule trabajo "inncesariamente" 👍🏻

[2021-01-16 17:23] jasvazquez commented on #47
Cierro la tarea tras comprobar que es similar a la propuesta de la tarea #32

[2021-01-16 17:23] #47 closed, assigned to nobody

[2021-01-17 00:05] acmaraverm commented on #44
Tenía el mismo problema con el sonido al instalar Minino en los Chuck Norris... Acabo de comprobar lo que comenta @jasvazquez sobre la ruedecita y es así... tenía el audio apagado... al girar la ruedecita ya funciona perfectamente el sonido. Os hablo del Toshiba PTM50E (azul).

A veces la solución es mucho más obvia de lo que todos pensamos...

[2021-01-17 10:28] jasvazquez commented on #44
Genial, muchísimas gracias por confirmarlo 😍
Entonces, salvo que @Profetonino diga lo contrario, optaré por cerrar esta tarea ¡Una menos! 😅👍🏻
Gracias a los dos por ayudar a mejorar Minino-TDE

[2021-01-17 10:28] #44 closed, assigned to jasvazquez

[2021-01-18 18:36] aosucas499 commented on #43
Esto es que el compañero ha usado la versión antigua que venía con el sonido bajado o que lo ha solucionado y no entra por aquí. Los samsung verdes están más que comprobados, de hecho creé la primera versión en ellos que son los que tengo en el centro. Cierro.

[2021-01-18 18:37] #43 closed, assigned to nobody

[2021-01-18 18:39] aosucas499 commented on #45
El nuevo instalador está dando problemas. Escribe la gente diciendo que le falla en Pc's que nunca falló, por eso lo cambié a systemback. Tenemos que estudiar la posibilidad de modificar el instalador (daría trabajillo), dejar dos versiones, una con systemback o buscar otra alternativa.

[2021-01-18 18:41] aosucas499 opened #48 "Instalador a usar"
Tal y como [hemos comentado](https://github.com/aosucas499/minino-TDE/issues/45#issuecomment-762414551) estamos observando nuevos problemas al instalar Minino en equipos en los que antes funcionaba bien.

Nos planteamos la posibilidad de cambiar el instalador, usar dos versiones distintas o bien buscar alternativas viables.

[2021-01-18 18:55] jasvazquez commented on #43
Me parece perfecto, una cosa menos 👍🏻

[2021-01-18 18:56] jasvazquez commented on #48
Pasará a TODO cuando resolvamos la DUDA 😉

[2021-01-18 18:57] aosucas499 commented on #43
Y comentar que la iso actual arranca el sistema con el volumen bajado. Se quedó así hasta que solucionemos lo de los Toshiba pequeñitos

[2021-01-18 18:59] jasvazquez commented on #45
Seguimos la conversación en la tarea #48 que has creado

[2021-01-18 19:03] jasvazquez commented on #43
Igual vamos a tener que crear tarea específica para tratar los problemas de sonido y abordar una posible solución lo más genérica posible 🤔

[2021-01-18 19:10] jasvazquez commented on #48
Andres, actualmente ando algo perdido con el instalador (ya no sé ni cuál ha quedado 😅 ) puesto que hasta la fecha, he preferido que seas tú (por haberlo hecho anteriormente pero por pereza o no invertir tiempo en aprender cómo lo estás haciendo por mi parte) el encargado de generar las ISOs.

Yo descartaría tener dos instaladores de lo mismo (mucho trabajo que entiendo sólo debería hacerse de no

[2021-01-18 19:13] aosucas499 commented on #48
Jajajja, te resumo.

En su día minino venía con refracta, es el instalador que tenemos ahora actual. Como daba fallos, (que son los que la gente reporta ahora, ya que a veces el sistema arranca y piensa que sda es el pendrive, pues no se instala), pues cambié a systemback que va genial pero que hemos dejado de lado por la dificultad de la instalación al seleccionar particiones.

[2021-01-18 19:15] aosucas499 commented on #48
El instalador [calamares](https://github.com/calamares), que he puesto en educandOS sería genial, tiene menos peso que el de Ubuntu y se usa hoy día en lubuntu. Pero habría que buscar una versión funcional para 32 bits e instalarla en minino. Lo investigaré, pero está complicado.

[2021-01-18 19:36] jasvazquez commented on #48
Mas bien imposible porque [empieza en Buster](https://packages.debian.org/search?arch=x32&searchon=names&keywords=calamares) (Debian 10) y tiene lo más grande en [dependencias](https://packages.debian.org/buster/calamares) 🙈

[2021-01-18 19:37] aosucas499 commented on #48
Qué pena, igualmente probaré a ponerle los repos sid y romperlo jjajaj

[2021-01-18 19:40] jasvazquez commented on #48
Yo intenté pasarlo a una Debian más moderna (Buster 10) y ya sabes cómo acabó la cosa 🙈

Dudo que el fallo de Refracta no esté documentado por ahí y alguien tenga un parche 🤔

[2021-01-18 20:01] jasvazquez commented on #46
Se observa que, en cada reinicio, se desactiva el "hack" de activar el _headphone_ como salida de audio.
Esta tarea es parecida (tiene la misma solución) que la #6 por lo que descartamos esta en favor de la más antigua Jaime 👍🏻

[2021-01-18 20:01] #46 closed, assigned to jasvazquez

[2021-01-18 20:11] jasvazquez commented on #48
Anoto aquí mirar _[refractaUSB](http://forums.debian.net/viewtopic.php?f=17&t=119875&start=15)_

[2021-01-24 11:36] jasvazquez commented on #6
Bueno, como comenté ayer en el grupo de Telegram, he encontrado una solución al problema aunque sería interesante (por evitar fallos en otros equipos) limitarla a la tarjeta de sonido del NM10/ICH7 (que, al igual que el Samsung N100SP que indicas más arriba, es la que tiene el Toshiba NB500)

Tengo código para detectar dicha tarjeta pero no sé si sería posible aplicarlo con los famosos scripts pos

[2021-01-24 11:41] jasvazquez opened #49 "Documentar generación de la ISO en la wiki"
Todavía no me he decidido a crear una ISO pues tendría que ponerme a mirar cómo lo está haciendo @aosucas499.

Entiendo que no será complejo y que seguramente exista algo de documentación hecha (aunque sea en inglés) que se podría aprovechar (ahorrándonos trabajo de documentación) pero sería interesante contar con una pequeña reseña (tipo resumen) que facilite la tarea la primera vez 😅

[2021-01-24 13:12] aosucas499 commented on #6
Eres un crack. Por curiosidad, ¿es esta?:
add "blacklist i82975x_edac" to /etc/modprobe.d/alsa-base-blacklist.conf
sudo modprobe -r i82975x_edac
sudo alsa force-reload

Yo veo la mejor opción esa que comentas, con el post-script. La otra opción sería actualizar kernel, pero por lo que veo no es algo que se solucione en kernels más modernos. Otra opción también es añadirlo en customize minino, pero

[2021-01-24 13:19] aosucas499 commented on #49
No le he dedicado tiempo al instalador, debido a que me he centrado en el problema de las pizarras en educaandos y ahora a instalar minino en la tablet vexia, pero la última vez que probé el instalador, los post-script no funcionaron, lo utilicé para borrar el acceso directo del escritorio en la versión instalada, pero nada, quizás necesitaría un chroot. Solo había que añadir scripts a esa carpeta

[2021-01-24 13:28] aosucas499 commented on #49
Lo primero que voy a probar es a instalar una versión similar de refracta installer a la que traía el sistema, la última que vez puse una más nueva y puede que eso traiga problemas, voy a probar con la versión que traía minino original. También probaré a dejar el usuario minino, a ver qué ocurre.

[2021-01-24 13:36] jasvazquez commented on #6
Si hay que estudiar... se estudia y, de paso aprovechamos para acometer la tarea #49.

Sólo espero que, con los distintos modos de instalar que existen, se aplique siempre el parche que propongo 😅

Por cierto, esa solución tampoco era la apropiada. En realidad he hecho un parche (de ahí mis reticencias y dudas de si afectará a otros y quiera limitar la posible "onda expansiva"): he optado por anul

[2021-01-24 13:38] aosucas499 commented on #49
He visto que no borré refractainstaller al cambiar por systemback, solo borré refractasnapshot que es el que hace la ISO. Poco problema daba esto entonces. Es el encargado de construir la ISO y la ISO la hace bien, sigue habiendo problema con refracta installer y siempre lo hubo, por eso cambié a Systemback.

[2021-01-24 13:39] jasvazquez commented on #49
Uufff... mucha incertidumbre veo en este punto joven padawan 🤣👍🏻

[2021-01-24 13:43] aosucas499 commented on #6
Tendremos que estudiar los diferente métodos de instalación de minino  (/usr/local/bin/minino-installer-selector) para saber siempre se aplica el post-install, en teoría si todos los métodos usan refracta-installer, debería de ser así.

Si lo desactivé antes de generar la ISO fue algo totalmente incosciente. Antes si lo hacía por mis estudiantes, pero desde que tenemos la versión TDE no. Lo invest

[2021-01-24 13:46] aosucas499 commented on #49
Me he liado esta mañana, dormí poco jajajaja. Igualmente voy a probar todas las cosas hasta que tengamos un instalador decente. ¿Qué opinas tú sobre el instalador? ¿Debería seguir habiendo opciones y diferentes formas o solo una desatendida y sin muchas opciones debido a que se suele instalar en equipos que no necesitan mucho uso de particiones?

[2021-01-24 14:57] jasvazquez commented on #6
Teniendo en cuenta el grado de incertidumbre y el coste que va a tener en investigación, me estoy planteando (aunque no es la solución que prefiero) incluirlo en `customize-minino` buscando:
1. sacar una solución relativamente "ágil" (Jaime está deseando contar con ella)
2. permitir que otros compañer@s puedan probar (acá hacer de "conejillos" de  indias) cómo les va en sus equipos

De esta forma

[2021-01-24 15:01] jasvazquez commented on #49
Hombre, tener posibilidad de elegir (aunque nos complique la vida) siempre es un punto a su favor pero he de confesar que he estado tentado de plantear una instalación desatendida que se cargue todas las particiones e instale (sí o sí) Minino en el equipo 😅

Un poco radical pero, como decían en el Milagro de P. Tinto: si hay que sanear, se sanea 🤣

![imagen](https://user-images.githubusercontent.c

[2021-01-24 15:47] jaimecarrascogarcia commented on #6
Jaime está deseando, y tanto....!!!!
Creo que podrías introducirlo como dices en customize-minino e ir probando como funciona....me ofrezco para ser conejillo de india en todo lo que propongais....@jasvazquez @aosucas499

[2021-01-24 15:50] aosucas499 commented on #6
Pues genial idea. Probamos y sacamos tiempo para mejorar el instalador. Siempre tienes ideas funcionales y prácticas. Así de paso vemos cómo funciona antes de incluirlo y se queda listo para cuando tengamos instalador mejorado. Es genial lo de sacar tiempo mientras se prueba ya que estamos sin tiempo y con muchas ideas.

[2021-01-24 15:58] jasvazquez commented on #6
Vaya, parece que el amigo @jaimecarrascogarcia tenía la oreja "puesta" 🤣 👍🏻  (de lo cual  me alegro)

@aosucas499 soy amante de las metodologías ágiles (este año estoy emperrado en enseñar SCRUM y Kanban a mi alumnado de bachillerato, no descartes que termine aplicándolo a Minino-TDE 🤣 😇 ) y el principio KISS (amén de, como informático, haberme llevado algún que otro palo y haber aprendido cuál es

[2021-01-24 16:00] jasvazquez commented on #49
Dejo aquí referencia a la escasa documentación que existe (de forma oficial) sobre [Refracta](https://refracta.org/documents.html) para cuando abordemos este tema

[2021-01-24 16:01] jasvazquez commented on #40
Aunque ya lo he apuntado en otra tarea, dejo aquí la [documentación oficial de Refracta](https://refracta.org/documents.html) pues nos hará falta

[2021-01-24 16:02] aosucas499 commented on #6
Genial, yo voy a intentar a instalar refracta snapshot, la versión que traía y no la versión nueva que puse, a ver si así funciona mejor el installer. Me da que al ponerle la versión nueva la otra vez, puede ser el motivo de los últimos fallos.

[2021-01-24 16:05] jasvazquez commented on #6
Otra gente habla de [RemasterSys](https://mejorsoftware.info/tools/linux-respin) a la hora de generar ISOs a partir de cambios en un sistema

[2021-01-24 16:06] aosucas499 commented on #40
Genial. Dejo aquí la dirección de los paquetes a instalar. [Refracta files](https://sourceforge.net/projects/refracta/files/tools)
No confundir con la distro refracta que de ella vienen estas herramientas.

[2021-01-24 16:13] aosucas499 commented on #6
Quizás me falle la memoria, pero refracta estaba basado en la antigua remastersys. Yo quería probar también [pinguybuilder](https://sourceforge.net/projects/pinguy-os/files/ISO_Builder/), pero no sé si iba en debian o solo Ubuntu.
Aquí un resumen de opciones también: [tools](https://www.linuxadictos.com/crear-distribucion-linux.html)

[2021-01-24 17:26] aosucas499 commented on #49
Interesante tener aquí el código del archivo minino-installer-selector, alojado en /usr/local/bin. Este archivo lleva al tipo de instalación que hemos seleccionado.

![VirtualBox_minino TDE_24_01_2021_18_26_12](https://user-images.githubusercontent.com/72696244/105638202-b3747000-5e71-11eb-97bc-2393a5ca494f.png)

[2021-01-24 17:34] aosucas499 commented on #49
Como vemos hay diferentes instalaciones:

a) desasistido: usa el archivo **minino-installer-b** alojado en esta misma carpeta (/usr/local/bin).

b) básico: utiliza **remastersys-installer**, alojado en /usr/bin

c) avanzado: utilizar el archivo **minino-installer-r**, alojado en /usr/bin.

d) experto: utilizar el archivo **refractainstaller-e-wrapper.sh**, alojado en /usr/bin.

[2021-01-24 17:41] aosucas499 commented on #49
No veo mala idea borrar estos casos del instalador y dejar solo la desasistida, es la más efectiva, incluso es la única que me ha detectado las particiones de la tablet vexia que usa tarjeta de memoria en lugar de disco duro "/dev/mmcblk0". En la versión manual de esta opción incluso te deja seleccionar y editar las particiones con gparted. Siempre podemos solo esconder la opción sabiendo que las

[2021-01-24 17:54] jasvazquez opened #50 "Convertir la activación del sonido en un post-install script"
Habiendo optado por incluir el código de corregía los problemas de sonido en el Toshiba NB500 y el Samsung N100SP como una opción de _customize-minino.sh_ para permitir las pruebas de las personas interesadas y un atajo mientras resolvemos el modo de incluirlo como script de Refracta, queda pendiente de eliminarlo de _customize_ e incluirlo como script post instalación.

[2021-01-24 17:54] jasvazquez commented on #6
Creo la tarea #50 para que no olvidemos convertirlo a script de Refracta

[2021-01-24 17:56] #6 closed, assigned to jasvazquez, aosucas499

[2021-01-24 17:59] aosucas499 commented on #49
Otra de las cosas que teníamos pendiente y que más "morcilla" da a los compañeros, es que la instalación desasistida, hay veces que confunde los dispositivos del pendrive de minino live con el que arrancamos y el disco duro a instalar. Parece ser que lo instala en el usb otra vez y los compañeros se encuentran con un sistema tal cual estaba antes de la instalación.

Esta es la función que detecta

[2021-01-24 18:01] jasvazquez opened #51 "Estudiar el funcionamiento de los post-install scripts de Refracta"
En la tarea #50 vamos a necesitar ejecutar determinado código que se adapte al equipo sobre el que se está instalando y, tras los problemas que ha tenido @aosucas499 eliminando el icono del escritorio, se hace necesario investigar con calma su funcionamiento

[2021-01-24 18:20] jasvazquez commented on #49
No, está mirando en qué partición se ha montado _/live/image_ y se asegura que no sea _/dev/sda1_.
Si no lo es, utiliza _/dev/sda1_ como destino de la instalación (y si resulta que en _/dev/sda1_ está montado el _/live/image_, se va por la otra unidad)

No me parece muy limpio lo que está haciendo y presupone cosas que no debería, por lo que no me extraña que falle.

Sería interesante conocer qué

[2021-01-24 18:20] aosucas499 commented on #49
Haciendo búsquedas en los cuatro archivos de la instalación (o alguno al que se refiere/conecta alguno de ellos) observo que las opciones desatendida o básica no lanzan los pre-scripts o post-scripts de instalación. Sí que hacen referencia en su código, las instalaciones avanzada y experto. Quizás por eso falló mi intento de borrar el icono del escritorio, por impaciente claramente.

![VirtualBox_

[2021-01-24 18:22] aosucas499 commented on #51
[algo de estudio](https://github.com/aosucas499/minino-TDE/issues/49#issuecomment-766407249)

[2021-01-24 18:25] jasvazquez commented on #51
Sí, he estado tentado de traérmelo aquí 😅 👍🏻

[2021-01-24 18:32] aosucas499 commented on #51
jajajaja

No sé cómo lo ves compañero, pero veo una buena opción mantener solo la opción desatendida, centrándonos en modificar este script y esconder los otros. Añadiendo a este: rectificación de los dispositivos,  post-script por nuestra cuenta, eliminar lo de establecer la hora con solo borrar una línea ya que daba fallos y ya lo tenemos establecido en cada arranque con ntpfix e incluso lo de b

[2021-01-24 18:41] jasvazquez commented on #51
Sería una opción más cómoda aún a costa de perder funcionalidad (siempre tenemos la posibilidad de retomar las otras opciones más adelantes si vemos que son realmente una necesidad)

[2021-01-24 18:45] aosucas499 commented on #51
Genial. He subido el script de la instalación desatendida a la carpeta tools (cajón de sastre) del repo: [minino-installer-b](https://github.com/aosucas499/minino-TDE/commit/082d0949676a4eafd178c610c65b81bcbc0b027b)

[2021-01-24 18:54] jasvazquez opened #52 "En ocasiones Minino se instala en el pendrive"
@aosucas499 tras probar [el código de la captura de pantalla que has subido](https://github.com/aosucas499/minino-TDE/issues/49#issuecomment-766403357) (especialmente en la línea `mount | grep "/live/image" | cut -d " " -f 1`) observo que está algo obsoleto y que "acierta por casualidad" cuando determina la partición en la que se encuentra el disco duro del equipo.

En vbox ni por casualidad

![im

[2021-01-24 18:56] aosucas499 commented on #52
Genial, estupenda investigación.¿Alguna idea para mejorarlo?

[2021-01-24 18:59] jasvazquez commented on #52
Tengo un par de ideas pero necesito madurarlas un poco... quedan en mi cabeza como "threads" de baja prioridad, seguramente mañana (o pasado) se me encienda la "mono neurona" 🤣

[2021-01-24 19:13] jasvazquez commented on #52
El tema de las Vexia es el que me "descuadra" (y eso que entiendo que no debería estar entre los dispositivos objeto de Minino a día de hoy 😅 ) ya que, [al tratarse de una tarjeta de memoria](https://github.com/aosucas499/minino-TDE/issues/49#issuecomment-766400760) lo que usa como disco, me impide listar particiones y/o discos con un simple `grep /dev/sd` 🤔

[2021-01-24 19:14] aosucas499 commented on #52
Ya te contaré con detenimiento. Me ha traído loco, pero eso sí, he aprendido muchísimo de arranques uefi, grub, etc....
Sí, las particiones son mmcblk*.

[2021-01-24 19:15] jasvazquez commented on #42
Degrado la tarea a "simple" IDEA tras ver que la carga actual de trabajo desaconseja (e impide) abordarla en el corto plazo (amén de que puede que cambie el instalador y queden obsoletos los vídeos que podamos subir)

[2021-01-24 19:22] jasvazquez commented on #52
Duda "tonta" (que ya estoy licuado) ¿Puedo entender que en las Vexia, el instalador que te ha funcionado ha sido el manual eligiendo particiones, verdad?

Lo digo porque el famoso código en una Vexia te asignaría `/dev/sda` como destino de la instalación y, dicha partición no existe en las tablets 🤔

[2021-01-24 19:24] aosucas499 commented on #52
Sí. El desatendido en su versión manual. Aunque lo dificil es arrancar un sistema de 64 bits con bios excluiva uefi 32 bits.

[2021-01-29 16:28] jasvazquez opened #53 "Se baja el brillo al conectarlo a pantalla externa"
Comenta [Javier Ávalos](https://t.me/coordinacionTicAndalucia/7659):

[2021-01-29 16:40] jasvazquez opened #54 "Falla el micro en Toshiba NB200"
Jaime González [comenta](https://t.me/coordinacionTicAndalucia/7661) que no puede usar el micro del netbook en las videoconferencias de la Moodle

[2021-01-29 19:12] chipygr commented on #53
Puede ser por algo parecido a lo que les pasa a agunas pizarras por la conexion del vga? Los q no van amplificados.

[2021-01-29 19:28] jasvazquez commented on #53
No sabría decirte.

Por lo que comenta Javier, le ocurre lo mismo al conectar el portátil con un monitor.

Además, parece que sólo presenta el problema si se hace una vez arrancado el equipo: si se enciende el ordenador con un monitor (o pizarra) conectado, parece que no da el problema 🤔

Sería interesante que alguien confirme este problema (yo sólo tengo el NB500 de Toshiba) para confirmar el pro

[2021-01-29 20:41] chipygr commented on #53
Yo los tengo en el cole, este finde no os sirvo de tester pero lo veo muy raro para ser un error de software.

[2021-01-29 22:46] jasvazquez commented on #53
Genial. No hay prisa: este fin de semana (si hay suerte) con suerte consigo encontrar una solución al tema del instalador que está siendo prioritario 😅

[2021-01-30 17:45] jasvazquez commented on #52
Con temor (por ir a ciegas y no tener datos de equipos en los que ha dado problemas) doy por cerrada la tarea (aunque las pruebas que hagan los compañer@s determinarán si habrá que retomar, o no, el tema 😅 )

En principio es algo más robusto de lo que había:

+ Lista los discos existentes en el equipo
+ Elimina de la lista anterior cualquier partición que pueda estar montada (normalmente el pendri

[2021-01-30 17:55] jasvazquez commented on #53
Jose Luís [comenta en el grupo de Telegram](https://t.me/coordinacionTicAndalucia/7757) (y tiene sentido) que los equipos sufren cuando el cable de vídeo es relativamente largo y mucho más con un netbook que está usando batería.

[2021-01-30 21:08] chipygr commented on #53
Si, es a lo que hacia referencia. A ver si pueban y confirman que es eso, pero me huele a que si.

[2021-01-30 21:32] aosucas499 commented on #52
Eres un crack. Enhorabuena por tu trabajo. He generado la ISO y la he probado en virtualbox y va genial. Aquí te paso el enlace para que la pruebes en los dispositivos reales.
[minino-tde-testing](https://drive.google.com/file/d/1AFOcrOuHGwzmxOwo_7ajE3k69VT8l33O/view?usp=sharing)

[2021-01-30 22:38] jasvazquez commented on #52
Se agradece Andrés, pero no las tengo todas conmigo, de ahí mis reticencias respecto a la solución planteada. Puedo probarla en el NB500 y creo que tengo algún Samsung (no sé el modelo) en el centro.
Sería interesante contactar con algunos de los que han tenido problemas para que prueben ¿Te parecería descabellado? 🤔

[2021-01-30 22:41] aosucas499 commented on #52
No me parece descabellado. Si te vale, yo voy a empezar esta semana a instalar mi clase de informática con 30 Chuck Norris que me dieron problemas de instalación en modo desatendido-automático y los dejé sin instalar pensando en ponerlos de conejillo de indias cuando se reparase el instalador.

[2021-01-31 11:19] jasvazquez commented on #52
Y tanto que vale, Andrés. No cabría mejor prueba ni "tester" 👍🏻

[2021-01-31 13:00] jasvazquez opened #55 "Documentar cómo crear pendrive con la ISO de Minino-TDE"
Tras [conversación con Gema](https://t.me/c/1191811099/56135) en el grupo de Telegram, sería interesante dejar constancia en la wiki del proyecto sobre cómo crear un liveUSB a partir de la ISO.

No es necesario esmerarse mucho (corremos riesgo de cansar y/o aburrir al lector/a), bastará con unas pinceladas "en modo texto" (incluyendo las imágenes imprescindibles) o un vídeo corto (si encontramos u

[2021-01-31 13:12] jasvazquez commented on #55
@jaimecarrascogarcia me tomo la licencia de asignarte la tarea (ya te irás acostumbrando e incluso estoy convencido que, más pronto que tarde, terminarás cogiendo tareas tú mismo 🤣 👍🏻 )

[2021-01-31 13:13] jasvazquez commented on #55
Creo que _Etcher_ podría ser la solución más sencilla y eficiente (por ser multiplataforma y así no tenemos que distinguir si están usando Windows, Linux o Mac)

[2021-01-31 13:13] jaimecarrascogarcia commented on #55
Estupendo, antes de subirla por aquí o las mandare para que la veais....!!! Me pongo a ello compis

[2021-01-31 13:14] jasvazquez commented on #55
No temas... súbela directamente y ya se irá corrigiendo (no hagas trabajo en balde que el tiempo es un bien escaso 😉 )

[2021-01-31 13:15] jasvazquez commented on #55
¿Te manejas con [markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) (el lenguaje de marcas de la wiki)?

[2021-01-31 13:31] jaimecarrascogarcia commented on #55
La verdad es que no, ¿para que sirve?

[2021-01-31 14:18] jasvazquez commented on #55
Para dar formato a textos planos como este que escribimos en los comentarios de Github 😉

En el enlace que te he puesto (usando markdown 😇) tienes ejemplos de uso por si lo necesitas.

Cualquier duda, pregunta 👍🏻

[2021-01-31 14:40] jaimecarrascogarcia commented on #55
# [CREAR LIVE ISO MININO.pdf](https://github.com/aosucas499/minino-TDE/files/5899914/CREAR.LIVE.ISO.MININO.pdf)
* Aquí os dejo un "breve tutorial"....ya me decís que os parece.
* Como ves compañero aquí practicando con MARKDOWN....jaja

**ESPERO VUESTRO FEEDBACK**

[2021-01-31 14:53] chipygr commented on #55
Claro y al grano

[2021-01-31 15:50] jasvazquez commented on #55
Pues no sé qué opinará el amigo @aosucas499 pero yo veo dos posibilidades:

1. Incluir en la wiki (justo delante de las instrucciones de instalación que existen actualmente) un enlace al pdf que has generado
2. Copiar y pegar el contenido del pdf a una página de la wiki

Ambas soluciones resolverían el problema de los compañeros/as menos "duchos" en la tarea pero creo que (con la primera opción) n

[2021-01-31 16:03] aosucas499 commented on #55
Muy bien Jaime. Pero me ha puesto la piel de gallina ver las instrucciones de etcher para Windows. Eso va en contra de todo esto. Más teniendo en cuenta que existe la opción para linux. No te pediría corregirlo, pero por favor hazlo, me ha dolido ver una pantalla de Windows y un archivo .exe jajja

[2021-01-31 16:03] jaimecarrascogarcia commented on #55
Ya estoy creando el punto 2 !!!!! A ver como sale......;)

[2021-01-31 16:04] chipygr commented on #55
Jejeje, es cierto, con una opcion aprenden unos y con la otra aprenden igual pero a la vez el brincamontes sigue en su progresivo avance.

[2021-01-31 16:05] jaimecarrascogarcia commented on #55
jajajaaj...pero tened en cuento que la mayoría usa Windows....quizás las 2 opciones en una pagina de WIKI???Una versión windows otra versión LINUX? estoy haciendo la wiki a ver si me "sale"

[2021-01-31 16:07] aosucas499 commented on #55
Tú también usabas Windows 🙄...en serio, sin Windows 😆

[2021-01-31 16:07] jasvazquez commented on #55
Vaya @aosucas499, ¿¡¿al final vas a ser más talibán que yo?!? (que oficialmente me declaro "liberal" al respecto 🤣)

@jaimecarrascogarcia, no creo que sea necesario tanto esfuerzo y optaría por una solución intermedia: crear un epígrafe de "Problemas frecuentes" (o similar) al final del documento o donde lo estés explicando e incluir ahí la solución por si a alguien se le presenta la duda y no sab

[2021-01-31 17:21] jaimecarrascogarcia commented on #55
Aquí os dejo la "wiki" hecha, la he añadido en la página principal.....editar lo que veáis oportuno...

Puedo hacer otra "igual para Linux" pero primero decirme....

### https://github.com/aosucas499/minino-TDE/wiki/Creaci%C3%B3n-Live-ISO

[2021-02-01 08:27] jaimecarrascogarcia commented on #54
Efectivamente, el micro del nb200 no funciona. Lo puedo confirmar.
Parece que subiendo el volumen del micro y todo lo que veo en Mute, lo detecta, aunque la calidad del sonido deja mucho que desear...![image](https://user-images.githubusercontent.com/77231941/106433299-4ca61680-6470-11eb-8c8a-762c586ff988.jpeg)
Observando tu foto veo que estás en el menu de reproducir, no? Pulsa en f4 que es para

[2021-02-01 09:23] jasvazquez commented on #54
Pues pocos milagros vamos a poder hacer 😔
Quizás sea cuestión de dejarlos "subidos" antes de generar la ISO
¿Qué opinará @aosucas499?

[2021-02-01 09:35] aosucas499 commented on #54
¿Es solo en este modelo o en todos? Lo digo porque en la tablet tampoco me iba el micro y quizás sea algo general.

[2021-02-01 10:01] jaimecarrascogarcia commented on #54
La verdad no he probado el micro hasta ahora en ningun Pc, ya he conseguido que se escuche decentemente. Subiendolo todo asi, incluso he puesto el "parche" del nb500. En fin, pero reiniciando no se guarda....!![image](https://user-images.githubusercontent.com/77231941/106443497-d5c34a80-647c-11eb-9517-49bd6b182f66.jpeg)

[2021-02-01 11:07] aosucas499 commented on #54
Prueba con el siguiente comando al terminar de configurar alsamixer: sudo alsactl store

[2021-02-01 22:20] jaimecarrascogarcia commented on #54
Perdón por el retraso pero los lunes por la tarde son horror..
Acabo de probar el comando y no, no funciona, cuando reinicias vuelve a su estado...
He probado el fix del nb500 y me apaga el speaker así que suponía que no tenía sentido pero...lo probé....

[2021-02-01 23:53] aosucas499 commented on #54
Podriamos hacer un script que se instale solo para ese modelo en customize-minino y que se ejecute en cada inicio con el comando amixer subiendo el volumen del micro, ¿no?

[2021-02-01 23:55] aosucas499 commented on #54
Me he puesto a pensar y recuerdo que había en los postscript de la instalación de guadalinex edu unos comando relacionados con los nb200. Lo miro por si tenemos la solución ahí.

[2021-02-02 06:53] jasvazquez commented on #54
Claro que es posible esa personalización, aunque sin el equipo, las pruebas tendréis que hacerlas vosotros y me vais a tener que ir proporcionando una serie de datos que necesitaría (volveríamos a ir a "ciegas")

Quedo a la espera de que puedas mirar eso scripts de Guadalinex para ver qué hacemos 👍🏻

[2021-02-02 07:02] jaimecarrascogarcia commented on #54
Sin problema, quedo a la espera de vuestras indicaciones "para probar" maestros!!

[2021-02-02 12:08] jasvazquez commented on #52
Vuelvo a abrir la incidencia tras ser varios los [compañer@s que comentan que les sigue fallando](https://t.me/coordinacionTicAndalucia/7925) 😅

[2021-02-02 12:11] aosucas499 commented on #52
Pues yo hoy he instalado 10 chuck norris en automático y todo perfecto

[2021-02-02 12:17] jasvazquez commented on #52
Igual Antonio no está haciéndolo en un Chuck Norris y/o tenemos la oportunidad de encontrar cuál es el problema con algunos equipos.
Voy a dejarla abierta unos días (para darle tiempo a poder comentar en la tarea) y si no hay "feedback" la vuelvo a cerrar 👍🏻

[2021-02-02 12:24] aosucas499 commented on #52
Por hablar. El onceavo ha reconocido el pendrive como sda. Primer fallo.

[2021-02-02 12:33] jasvazquez commented on #52
No diré que me alegro de oírlo pero sí que nos viene genial

¿Puedes pasarme el resultado *completo* de lanzar un `mount`?

[2021-02-02 12:51] aosucas499 commented on #52
![IMG_20210202_134654](https://user-images.githubusercontent.com/72696244/106602759-b4865b00-655d-11eb-80fa-f5b8fe259d90.jpg)
![IMG_20210202_134712](https://user-images.githubusercontent.com/72696244/106602762-b6e8b500-655d-11eb-950a-dcece92fdb83.jpg)

[2021-02-02 12:54] jasvazquez commented on #52
Y para terminar de abusar de su cortesía amigo Andrés... ¿mucho pedir un `lsblk`? 😅

[2021-02-02 12:57] aosucas499 commented on #52
Casi jajaja. He abandonado la clase jajaj. Mañana que sigo, en nada que falle otro te lo mando.

[2021-02-02 12:58] aosucas499 commented on #52
Por ahora han fallado 3 de 13

[2021-02-02 13:39] jasvazquez commented on #52
Cachis.... esta noche no voy a poder dormir con tanta intriga 😏🤣

La buena noticia de ese 3/13 es que tenemos "conejillos de indias" para hacer pruebas 😉 (que precisamente lo que estaba echando de menos y me preocupaba 👍🏻)

[2021-02-03 17:03] aosucas499 commented on #52
![IMG_20210203_101935](https://user-images.githubusercontent.com/72696244/106782153-1e7c2e80-664a-11eb-941d-63669e62cc15.jpg)

[2021-02-03 17:16] jasvazquez commented on #52
Muchas gracias compañero... parece que el disco del equipo está en el /dev/sdb
¿A qué `mount` de los que mandaste ayer corresponde esa captura?
Necesito "casar" mount y lsblk para ver cómo se comporta (y cómo debería hacerlo) el script en el equipo 👍🏻

[2021-02-03 17:19] aosucas499 commented on #52
Pues son diferentes compañero. Pero todos los que te mandé ayer y hoy hacen lo mismo, montar el sdb como disco duro y sda el usb. Aunque eso ya lo sabías. Me quedan 4 o 5 por instalar, en cuánto me falle uno te hago todos los comandos en el mismo.

[2021-02-03 17:38] jasvazquez commented on #52
No tiene ningún sentido... la variable `discoduro`, con los datos proporcionados, debería quedar como `sdb` sí o sí
Si no te es demasiada molestia, redirecciona la salida de los comandos a ficheros y me los mandas (para probar contra el script)

![image](https://user-images.githubusercontent.com/604744/106786253-a106ed00-664e-11eb-9d7e-e019864561d4.png)

Porque no estar usando la última versión de

[2021-02-03 17:40] aosucas499 commented on #52
Me haces dudar con que si en alguno de los dos pendrives he utilizado la versión anterior, yo juraría que no. Olvida esas fotos y las próximas los hago a 100% y mandando todo del mismo. Mi cabeza no anda muy allá últimamente con tanta cosa.

[2021-02-03 17:49] jasvazquez commented on #52
No me extraña, andamos locos algunas veces 🙈

[2021-02-03 19:39] jasvazquez opened #56 "Problema actualización fecha y hora del sistema"
Me comenta Antonio Cervantes por privado problemas con el script de actualización de la hora por NTP en Minino.

Tras descartar que se deba a falta de conexión a internet en los equipos en los que lo ha detectado me planteo si el problema pudiese deberse a la no visibilidad de acceder desde la Red Coporativa a los servidores de la hora

![image](https://user-images.githubusercontent.com/604744/106

[2021-02-03 20:37] aosucas499 commented on #56
Me pilla muy lejos, yo recuedo haberlo probado en Ubuntu y ver cómo se cambiaba la hora. Seguro que no ha cambiado el usuario a uno sin derechos root? Me ha pasado hoy que en educandOS funcionaba si lo hacía con mi usuario admin pero no con el usuario sin derechos y es el mismo script.
Recuerdo que compañeros en el grupo de telegram dijeron que se le había solucionado el problema de los chuck norr

[2021-02-03 20:41] aosucas499 commented on #56
Este es el script:

# Establece la hora al inicio
# ---

function ntp-fix {
    sudo timedatectl set-timezone Europe/Madrid
    sudo cp ./ntp/fix-ntp /usr/bin
    sudo chmod +x /usr/bin/fix-ntp
    sudo chown root:root ./ntp/zz-fix-ntp
    sudo chmod 0440 ./ntp/zz-fix-ntp
    sudo cp ./ntp/zz-fix-ntp /etc/sudoers.d/
    sudo cp ./ntp/fix-ntp.desktop /etc/xdg/autostart/
	echo -e "${ROJO}Fix-ntp tim

[2021-02-03 21:36] jasvazquez commented on #56
Buen apunte el de los permisos pero creo más acertado meterlo como "demonio" o bien darle permisos para que cualquiera pueda ejecutarlo como si lo estuviese lanzando un usuario administrador y/o con permisos (el SUID bit en Linux si no recuerdo mal)

[2021-02-03 21:40] aosucas499 commented on #56
Primera imagen se ve la hora actual y cambio la hora a otra.
![IMG_20210203_223551](https://user-images.githubusercontent.com/72696244/106812927-a2e1a800-6670-11eb-8808-91b236aedc30.jpg)
Segunda imagen, ejecuto el comando que ejecuta en cada inicio minino y se ejecuta sin problema y pone la hora actual.
![IMG_20210203_223800](https://user-images.githubusercontent.com/72696244/106813034-c73d8480-66

[2021-02-03 21:41] aosucas499 commented on #56
No sé si vale, pero en educandOS lo he solucionado para que lo pueda ejecutar cualquier usuario sin permisos root añadiendo /bin/date al archivo /etc/sudoers.d/...

[2021-02-04 10:26] profeIAP commented on #56
Compruebo igualmente en mi centro que se puede actualizar la fecha usando los servidores de NTP indicados en Minino

![image](https://user-images.githubusercontent.com/16881846/106879693-c4c44480-66db-11eb-9b21-ea2ef7410630.png)

[2021-02-04 10:27] jasvazquez commented on #56
Compruebo igualmente en mi centro que se puede actualizar la fecha usando los servidores de NTP indicados en Minino

![image](https://user-images.githubusercontent.com/16881846/106879693-c4c44480-66db-11eb-9b21-ea2ef7410630.png)

[2021-02-05 18:19] aosucas499 commented on #52
[lsblk.lst](https://github.com/aosucas499/minino-TDE/blob/main/tools/lsblk.lst)

[mount.lst](https://github.com/aosucas499/minino-TDE/blob/main/tools/mount.lst)

[2021-02-06 15:53] jasvazquez commented on #52
Se comprueba que, en la beta, incluso con la configuración indicada por Andrés, la elección de la partición a usar como _discoduro_ es la correcta (_sdb_)

![image](https://user-images.githubusercontent.com/604744/107123030-97be9000-689b-11eb-9d2f-deee91ab62ab.png)

Procedo a revisar cuándo (y dónde) se está usando el código que hemos modificado (la única explicación que encuentro es que no se est

[2021-02-06 18:31] jasvazquez commented on #52
Definitivamente, el fichero utilizado es `/usr/local/bin/minino-installer-b` y no existe otra referencia a la función `partauto()` en el sistema

Se activa la opción de _debug_ en el script de instalación

[code]

[2021-02-06 18:38] jasvazquez commented on #52
Se detecta que el script desmonta unidades y deja el sistema (entre otros) sin el disco de swap dando errores si se intenta instalar (con 1GB) cualquier cosa (ni un mísero comando _less_ con _apt_) aunque, a todos los efectos el usuario sólo ve el mensaje "en verde" (dando la sensación de haber finalizado el proceso correctamente) y no se percata del problema

![image](https://user-images.githubus

[2021-02-06 18:41] aosucas499 commented on #52
1. Sí.
2. Son todos iguales. Chuck Norris.
3. Solamente lanzo un "df" para ver dónde se ha montado el live y ejecutar la versión manual o automática.

[2021-02-06 19:09] jasvazquez commented on #52
Simulo el cambio de "nomenclatura":

+ añadiendo a la máquina virtual un segundo disco
+ montando el primer disco (para simular) que es el pendrive en VBox

el script selecciona correctamente el segundo disco (_sdb_) para hacer la instalación

![image](https://user-images.githubusercontent.com/604744/107127550-25f43f80-68b7-11eb-97c3-27d3e42719fb.png)

[2021-02-06 19:13] jasvazquez commented on #52
@aosucas499:

+ ¿podrían tener Windows los equipos en los que falla?
+ ¿están particionados los discos de los equipos con problemas?
+ ¿instalación desde pendrive o desde cdrom?
+ ¿has podido usar [PloP Manager](https://www.google.com/search?q=plop+manager&sxsrf=ALeKk01fryWa1feQs6R6EN15OxCTQWtT2A:1612638956563&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjdo6Ch_NXuAhWah1wKHSMrAHAQ_AUoAnoECAcQBA&biw=1918&b

[2021-02-06 19:21] aosucas499 commented on #52
1. No. ¿Menuda pregunta a estas alturas? En mi centro no entra eso jajaja
2. Tenían este sistema [link](https://sites.google.com/site/guadalinexunofficial/inicio) versión ggcloud i386 que ya han borrado. Supongo que tenía una partición ext4 y otra swap.
3. USB
4. Plop Manager no era necesario, arrancaba perfectamente el pendrive.

[2021-02-07 09:50] aopen03 commented on #56
Hola a todos,
soy Antonio Cervantes Alarcón, profesor de Informática (FP) del IES Al-Ándalus de Almería. Decir que muchísimas gracias por vuestro trabajo, es muy emocionante!

Ya veo que se ha solucionado el problema de la fecha.

Saludos

[2021-02-07 11:15] jasvazquez commented on #56
Hola Antonio

gracias por tus palabras (sobre todo viniendo de un compañero "de armas" que trabaja en un centro "hermano" al mío y al que le guardo un especial cariño: mi hermano sacó las oposiciones en vuestro centro 😉 )

Con tu comentario (y ahora que caigo en que eres quien se puso en contacto conmigo por Telegram 🤣 🙈 ) entiendo que puedo dar por cerrada la tarea 🎉 👍🏻

Gracias por reportar tant

[2021-02-07 11:15] #56 closed, assigned to nobody

[2021-02-07 20:25] aosucas499 commented on #52
Confirmado que el pendrive que estuve usando tiene tu código y es el minino-testing.

[2021-02-08 06:53] jasvazquez commented on #52
@aosucas499:

1. ¿el fallo es determinista o espúreo? (cuando un equipo falla lo hace siempre o según le parece?
2. Si te proporciono el modo ¿podrías ejecutar el instalador automático en un equipo que falle y proporcionar el fichero de depuración?

[2021-02-08 07:19] aosucas499 commented on #52
1. Pues no he repetido la instalación en ninguno.
2. Claro

[2021-02-08 08:08] jasvazquez commented on #52
Sospecho que es "espúreo" pero sería interesante hacer la prueba nuevamente, Andrés

Respecto a la depuración, bastaría con lanzar el siguiente comando

[code]

Gracias, monstruo 👍🏻

[2021-02-08 18:23] FernandoRodero opened #57 "Incluir programas CAD en minino"
Hola, ¿Es posible incluir algún programa de dibujo técnico tipo libreCad en minino? ¿Y software para programar arduino?

[2021-02-09 14:56] jasvazquez commented on #57
Hola Fernando, entiendo que has mirado en Synaptic, ¿no hay ningún programa que se acerque a lo que necesitáis?

[2021-02-09 14:59] jasvazquez commented on #54
@aosucas499 sé que andas bastante liado estos días con las Vexia... ¿sabrías decirnos algo que nos ayudase a localizar los scripts que comentas? (por buscarlos nosotros, igual hasta el amigo @jaimecarrascogarcia se anima y hace la investigación 😅 ) y darle una vuelta de tuerca a este tema 👍🏻

[2021-02-09 15:08] jasvazquez commented on #55
Sin saber qué opinará el "padre prior", yo daría por buena la documentación: entiendo que muchos compañeros (nos guste más o menos) usarán Windows y, los acostumbrados a Linux igual no lo necesitan (si se detectan casos, ya se añadirá la documentación oportuna)

Como recomendación "a futuro" trata de capturar las imágenes siempre con un tamaño similar: queda raro ver pequeñas imágenes insertadas e

[2021-02-09 15:13] jasvazquez opened #58 "Falla micro Samsung N100sp"
Comentado por Jose María Gomáriz por privado en Telegram

[2021-02-09 15:16] jasvazquez opened #59 "Falla sonido Samsung N100sp"
Comentado por Jose María Gomáriz por privado en Telegram

[2021-02-09 15:30] aosucas499 commented on #55
Yo si lo veis bien, por mi perfecto. Nos debemos al pueblo jajja

[2021-02-09 15:33] jasvazquez commented on #55
Mira que "democrático" te nos estás volviendo 🤣 👍🏻
@jaimecarrascogarcia, ¿te das el gustazo de cerrar tu mismo tu primera tarea? 😉

[2021-02-09 18:50] aosucas499 commented on #54
Aquí tienes el [script](https://github.com/aosucas499/minino-TDE/blob/269f4cdb1547871e8d9476179301359d85daf8a8/tools/late_commands.sh#L54), después te busco el paquete .deb al que hace referencia.

[2021-02-09 18:59] aosucas499 commented on #54
Por ahora no lo encuentro. Buscando en los repos [catcorner](http://centros.edu.guadalinex.org/Edu/catcorner/pool/main/c/) y [precise](http://centros.edu.guadalinex.org/Edu/precise/pool/main/c/) de guadalinex, no lo veo, que es donde suelo buscar. He montado la iso en el sistema y con find tampoco aparece.

![Captura de pantalla de 2021-02-09 19-54-17](https://user-images.githubusercontent.com/726

[2021-02-09 19:00] jasvazquez commented on #54
Gracias monstruo pero sin prisa: hace un rato ha muerto la fuente de alimentación (y espero que haya quedado ahí porque el "explotío" ha sido brutal) de mi ordenador de trabajo 😤🙈

[2021-02-09 19:17] aosucas499 commented on #54
OMG cómo te apañas????

[2021-02-09 20:15] jaimecarrascogarcia commented on #55
Buenas noches equipo!!!!! ¿de verdad puedo cerrar yo la tarea??? Pues nada!!!!!! ahi va....!!! jaja

PD: no me importaba hacerlo para linux...que conste...jaja

[2021-02-09 20:15] #55 closed, assigned to jaimecarrascogarcia

[2021-02-09 20:16] jaimecarrascogarcia commented on #54
Compis, he llegado tarde al foro ¿No?

[2021-02-09 20:17] jaimecarrascogarcia commented on #54
Tengo un NB200 por aqui.....si hace falta me indicais!!!

[2021-02-09 20:26] jasvazquez commented on #54
Por equipos en casa no va a ser pero sin el equipo principal (que lo tengo realmente como me gusta trabajar y donde estoy cómodo realmente) imagina.

Mañana le compraré la fuente y rezaré porque no haya sido la placa o alguno de los discos también 😅

[2021-02-09 20:28] jasvazquez commented on #55
Jaime se nos hace mayor: ya cierra tareas y todo 🤣

Enhorabuena, monstruo 👍🏻

[2021-02-09 20:31] aosucas499 opened #60 "HGR-Sigala"
Es bastante interesante incluir las aplicaciones de HGR en minino. La situación que yo me planteo es utilizar educandos o ubuntu/mint en el pc del docente, instalado con[ docker](https://github.com/aosucas499/hgr-dre), ejecutando el hgr-server, que funciona perfectamente y en las tablets/ultraportátiles con minino la versión cliente de la versión .deb de guadalinex.

Para añadir algo a esta tarea,

[2021-02-09 20:42] aosucas499 opened #61 "Drivers Promethean"
Aunque a día de hoy yo no veo necesario instalar minino en un pc conectado a la pizarra digital, pues suelen ser pc's que les podemos pedir algo más de sistema operativo, o más actual, sí que es interesante para llevar en un laptop minino con los drivers y usar para probar errores en pizarras, a modo "te reparo la pizarra con mi laptop minino".

A modo de info, los paquetes para los drivers, que s

[2021-02-09 20:53] aosucas499 opened #62 "Drivers Smartboard"
Aunque a día de hoy yo no veo necesario instalar minino en un pc conectado a la pizarra digital, pues suelen ser pc's que les podemos pedir algo más de sistema operativo, o más actual, sí que es interesante para llevar en un laptop minino con los drivers y usar para probar errores en pizarras, a modo "te reparo la pizarra con mi laptop minino".

A modo de info, los paquetes para los drivers, que s

[2021-02-10 09:17] FernandoRodero commented on #57
Buenos días, ¿Qué es Synaptic?  y ¿Cómo puedo mirar ahí?
gracias

[2021-02-10 09:48] FernandoRodero commented on #57
Perdona, ya he mirado y no veo estas aplicaciones, aunque se que están libres para linux.

[2021-02-10 10:56] jasvazquez commented on #60
Me parece una buena opción ¿incluimos el cliente de serie o lo ponemos como una opción en customize-minino?

[2021-02-10 10:59] jasvazquez commented on #57
Fernando, ¿te animarías a escribir en una terminal de Minino un `sudo apt install librecad`?

[2021-02-10 11:09] FernandoRodero commented on #57
Me dice que no su pudieron instalar algunos paquetes. ... Los siguientes paquetes tienen dependencias incumplidas:
Librecad: depende: Libmuparser2 (>= 2.1.0) pero no es instalable. ... usted ha retenido paquetes rotos.

[2021-02-11 21:16] madoju78 commented on #59
Hola. Me quedo por aquí. Minino instalado en 10 o 12 Samsung N100SP y no va el audio en ninguno.

[2021-02-11 23:45] aosucas499 commented on #54
Buscando el paquete en internet he encontrado que está en los repos de una versión antigua de guadalinex que nunca había mirado, la basada en Ubuntu 10 lucid. Mañana lo miro en el pc a ver que contiene el paquete.
Aquí pongo las direcciones, aunque por el tamaño parece el mismo paquete.

[1.Bonnie](http://guadalinex-edu.cica.es/Edu/bonnie/pool/main/c/cga-toshiba-nb200-sound-config/)

[2.Lucid](htt

[2021-02-12 06:09] jasvazquez commented on #59
Era de esperar, José María que ocurriese en todos por lo que habías comentado.

¿Dijiste que el sonido se podía hacer funcionar pero que había que configurarlo en cada reinicio del equipo? 🤔

[2021-02-12 17:03] aosucas499 commented on #54
![Captura de pantalla de 2021-02-12 17-57-28](https://user-images.githubusercontent.com/72696244/107798110-00a27e00-6d5c-11eb-8220-111cc4482299.png)
![Captura de pantalla de 2021-02-12 17-57-43](https://user-images.githubusercontent.com/72696244/107798119-039d6e80-6d5c-11eb-827c-7ffb7dc553d3.png)

Lo que contiene el paquete son esos dos scripts, el primero, el de instalación a simple vista hace, c

[2021-02-12 20:37] jasvazquez commented on #54
Normal que no encuentres el fichero: habrá cambiado en Minino respecto a las versiones de Guadalinex que has encontrado.

La buena noticia es que sirve cualquier nombre de fichero (de hecho, ya tenemos uno con la configuración de la tarjeta de sonido que, si no contiene lo mismo que has encontrado, cambia realmente poco por desgracia)

Esa carpeta (modprobe.d) incluye parámetros para los distintos

[2021-02-12 20:52] jasvazquez commented on #57
Anoto mirarlo este fin de semana Fernando.
Gracias por intentarlo 👍🏻

[2021-02-12 21:29] chipygr commented on #54
Yo tengo uno en casa. Decidme q hacer y pruebo

[2021-02-13 07:19] jasvazquez commented on #54
Genial, anotado quedas para las prácticas, gracias 👍🏻

[2021-02-13 11:25] tecnojose commented on #57
Buenas, en primer lugar agradeceros el trabajazo y la generosidad, a mí se me ha instalado bien LibreCAd.

[2021-02-13 14:53] jasvazquez commented on #57
Gracias @tecnojose por tu aportación

He hecho la prueba y, como a ti, me funciona correctamente la instalación.
Posiblemente @FernandoRodero no tenga actualizados los repositorios pero se resuelve fácilmente lanzando

[code]

para poder disfrutar de libreCad en Minino-TDE 💪🏻 👍🏻

![imagen](https://user-images.githubusercontent.com/604744/107852904-85040800-6e13-11eb-9885-ae38350672cd.png)

[2021-02-13 14:53] #57 closed, assigned to jasvazquez

[2021-02-13 15:07] jasvazquez commented on #54
Bueno, pues parece que no existe tal fichero actualmente en Minino-TDE (parece que me confundí con la pruebas que estuve haciendo para resolver el sonido en el Toshiba NB500 de la #46 😅 )

![imagen](https://user-images.githubusercontent.com/604744/107853267-217ada00-6e15-11eb-89ae-6308f9edf0bb.png)

Pues se agradecería que alguno de los compañeros (@chipygr o @jaimecarrascogarcia) probasen a:

1.

[2021-02-13 15:22] tecnojose commented on #57
Incluso se puede instalar el FreeCad. Que es más potente aún..

[2021-02-13 16:08] jasvazquez commented on #57
Espectacular. Gracias, monstruo 👍🏻

[2021-02-13 17:42] aosucas499 commented on #59
No entiendo este fallo. Este modelo es el que usé para desarrollar minimo tde. El sonido iba bien. Recuerdo que en alguna versión de las primeras lo que pasaba es que lo instalaba con el volumen desactivado para que en clase no sonaran 25 gaticos ¿Hemos modificado algo en posteriores arreglos?

[2021-02-13 17:44] jasvazquez commented on #59
En código no (salvo el fix **opcional** del NB500)
Las ISOs que generas entiendo que siguen el mismo criterio que indicas

[2021-02-13 17:47] jasvazquez commented on #53
Esto lleva 14 días pendiente y nadie ha comentado ni aportado nada... ¿lo descartamos? 🤔

[2021-02-13 17:53] jasvazquez commented on #59
Iba a pedir un `lspci` de este equipo para ver qué tarjeta de sonido tiene y he descubierto [la siguiente página](https://linux-hardware.org/index.php?probe=35deee72d4#Devices) 🙈

Hablamos del NM10/ICH7 como tarjeta de sonido

[2021-02-13 18:05] aosucas499 commented on #53
Descartamos, mi experiencia dice que cuando alguien tiene un problema y no aparece en tiempo o nadie lo reporta es que lo han solucionado.

[2021-02-13 18:07] chipygr commented on #54
me da un permiso denegado
![índice](https://user-images.githubusercontent.com/77987435/107857461-b9d18880-6e2e-11eb-911d-0393f7a2558a.jpg)

[2021-02-13 18:08] jasvazquez commented on #53
Pues cerrada queda hasta que aparezca alguien indicando lo contrario 👍🏻

[2021-02-13 18:08] #53 closed, assigned to jasvazquez, aosucas499

[2021-02-13 18:09] jasvazquez commented on #54
Reviso comando: lo escribí sin probar y es posible que el `sudo` esté dando problemas.

[2021-02-13 18:14] jasvazquez commented on #54
Efectivamente, modifico comando sobre el comentario original (para evitar que otros puedan confundirse 👍🏻 )

[2021-02-13 18:16] jasvazquez commented on #54
Aprovecho para buscar en Internet la tarjeta de sonido. Debe ser ésta pero no estaría de más confirmación:

[2021-02-13 18:17] aosucas499 commented on #59
Jajajaja buen enlace para conocer todo en ese modelo

[2021-02-13 18:20] jasvazquez commented on #60
@aosucas499 ¿Sería factible contar con HGR-server para poder hacer pruebas?

Si te parece, podemos poner esta tarea como IDEA (que ya sabes cómo me "estresa" ver tareas TODO y FIX por considerarlas de "acción inmediata") mientras que no disponemos del servidor y, tan pronto puedas tenerlo listo, acometemos la implementación de un posible cliente HGR en Minino 🤔

[2021-02-13 18:21] jasvazquez commented on #59
Sí que es bueno (y me ha sorprendido no conocer la página... manda "webs") por desgracia, no he encontrado el otro modelo (Toshiba NB200) de netbook que nos traemos entre manos pero, como recurso, nos puede venir muy bien 👍🏻

[2021-02-13 18:23] aosucas499 commented on #60
Si lo conseguimos de serie. Se usa mucho en las clases esta aplicación.

[2021-02-13 18:25] chipygr commented on #54
Hecho. estos son los resultados
![photo5857057020954392394](https://user-images.githubusercontent.com/77987435/107857737-9a3b5f80-6e30-11eb-9a75-baf7d890486f.jpg)
![photo5857057020954392393](https://user-images.githubusercontent.com/77987435/107857738-9ad3f600-6e30-11eb-8ac8-9bbb8f6cd50e.jpg)
![photo5857057020954392392](https://user-images.githubusercontent.com/77987435/107857739-9ad3f600-6e30-11e

[2021-02-13 18:25] jasvazquez commented on #60
Sea... yo no la he usado nunca pero entiendo que en Primaria puede ser muy útil 👍🏻
¿Acepta el pasarla a IDEA o tiene ya resuelto el problema del HGR-server?

[2021-02-13 18:26] aosucas499 commented on #60
Vale

Vale, cambia etiqueta, ya que es un proceso difícil. El servidor y el cliente se instalan en el mismo proceso. Si funciona uno funciona el otro. En cuanto tenga tiempo me pongo a ello.

[2021-02-13 18:27] aosucas499 commented on #54
Algún fallo al escribir has cometido. "bash" no "bush"

[2021-02-13 18:28] jasvazquez commented on #54
Bush, George Bush... padre 😉
Has estado más rápido que yo buscando el motivo del ">" final 👍🏻

[2021-02-13 18:29] jasvazquez commented on #60
Descuida... las Vexia son muchísimo más importantes.
Esto no deja de ser un "capricho" 🤣 😇

[2021-02-13 18:32] jasvazquez commented on #54
Igualmente, recurda @chipygr que cuando tengas creado el fichero, debes reiniciar el equipo para que intente usarlo

[2021-02-13 18:34] aosucas499 commented on #59
Yo la vi una vez buscando drivers para la tablet. Es muy buena. Gracias por compartir el link.

[2021-02-13 18:36] aosucas499 commented on #60
El hgr-server no me da problemas. El problema es corregir las dependencias de guadalinex al instalar en minino. No me expliqué bien jajaj

[2021-02-13 19:00] jasvazquez commented on #60
O yo que ando espeso y no sé de qué va la película 😅  (por no haberme metido nunca en el mundillo HGR)
¿Se podría dar "por bueno" lograr instalar el paquete del cliente HGR en Minino resolviendo los problemas de dependencias? 🤔

[2021-02-13 20:09] aosucas499 commented on #60
En verdad es una aplicación hecha en python. En minino voy a instalar los paquetes deb o desde el repo de guadalinex. Cuando lo instalas, los dos programas van dentro, simplemente los lanzas diferente, con su lanzador. En docker no falla, simplemente tengo que testear una cosilla. Pero en minino que es de la "epoca" de Guadalinex, simplemente resolvemos alguna dependencia (si se puede) y lo instal

[2021-02-13 20:10] aosucas499 commented on #60
Claro. Por bueno y por genial, es una de las apps más queridas del profesorado y que más echan en falta cuando actualizan o cambian de sistema operativo.

[2021-02-13 20:55] jasvazquez commented on #60
Perfecto, ya tengo una visión más amplia del problema.

Miraré esas dependencias y veo qué ser podría hacer.

Igual mejor empezar con el más próximo en el tiempo a Debian Jessie. Lo iremos viendo

[2021-02-14 08:17] chipygr commented on #54
A ver entonces... yo pensaba que estaba todo ok y probe el micro con el recordmydeskop y se me oia... eso si, tras subirle el micro en el alsa mix...
Voy a mandar el bash a ver que pasa

[2021-02-14 08:20] chipygr commented on #54
Hecho con el bash y se queda el prount tambien, lo dejo a ver si reacciona

[2021-02-14 08:22] jasvazquez commented on #54
¿Funciona el micro con calidad aceptable?

@jaimecarrascogarcia ya comentó que subiendo volumen funciona pero que la calidad no era buena

[2021-02-14 08:34] chipygr commented on #54
A ver... yo me escuchaba... es el micro de un portatil... no van a cantar un casting para operacion triunfo 28, no?... seria cuestion de probarlo en una videoconferencia... lo pruebo a ver

[2021-02-14 08:58] jasvazquez commented on #54
😂 Totalmente de acuerdo (para lo que es el equipo, con ser funcional nos podemos dar con un canto en los dientes)

Quedo a la espera de esas pruebas 👍🏻

¿El micro mantiene la configuración cada vez que reinicias el equipo? 🤔

[2021-02-14 09:20] chipygr commented on #54
Hecho pruebas con la sala de videoconferencias de Moodle en mi misma casa, (no se si influira positiva o negativamente...) es infumable... un lag enorme. oirse se oye pero a tirones, esto es: "Hol         a     est          amos        prob        ando...."
Oirse se oye, y habiendo reiniciado, de hecho he restaurado minino y sigo oyendolo... no se si estas pruebas han servido de algo... voy a volv

[2021-02-14 09:39] jasvazquez commented on #54
Claro que sirven, y mucho.

Si te parece, prueba a borrar el fichero que hemos creado con un `sudo rm /etc/modprobe.d/snd-alsa.conf` y reiniciar el equipo para ver si el lag lo ha introducido dicho cambio.

[2021-02-14 12:57] chipygr commented on #54
Procedo a hacer las pruebas desde cero, habiendo reinstalado Minino.
Desde 0
1- Pruebo salida audio con Alsa abierto. No obtenemos sonido porque está silenciado. Desclicamos Sonido ok. (que recuerdos el winamp version linux)
Por cierto, lo de la calidad del micro no sé como la comprobo D. Jaime, pero la de los altavoces es atroz... que será lo malo, la salida o la entrada de audio....
2- Reinicio

[2021-02-14 13:09] aosucas499 commented on #54
Impresionante review compañero.
Me está pasando igual con la tablet. He reparado todo excepto el micro, pero lo voy a dejar porque las llamadas van a saltos. Estos dispositivos no dan para videollamadas modernas. (No sé si en el pasado fueron funcionales las videollamadas) .
Por probar algo si quieres, antes de la llamada, busca una aplicación llamada "frecuencia cpu" o algo parecido, en el menú d

[2021-02-14 16:48] jasvazquez commented on #60
Buenas tardes don @aosucas499 ¿podría estar funcionando el "cliente HGR"? 😉

![image](https://user-images.githubusercontent.com/604744/107883050-d6cc9100-6eec-11eb-97a4-c42f53b288fd.png)

[2021-02-14 16:53] aosucas499 commented on #60
Ya te digo crack jajaa

[2021-02-14 16:56] aosucas499 commented on #60
Te han servido mis scripts a medio terminar?

[2021-02-14 16:59] jasvazquez commented on #60
Bueno, si soy capaz de reproducir el "logro" aceptaré el cumplido porque he liado la "del tigre".

En realidad me he puesto a resolver dependencias "a lo loco" y, con el toque final de _avahi-daemon_ se ha obrado el milagro.

Voy a intentar reproducir el proceso (crucemos los dedos), en una versión previa de la máquina virtual, siguiendo las anotaciones del comando `history`

Luego te cuento 👍🏻

[2021-02-14 17:00] aosucas499 commented on #60
Genial!!! Menudo curro me has ahorrado, y así lo puedo meter en la tablet que está ya para probar

[2021-02-14 17:02] jasvazquez commented on #60
Pelotazo... parece que el fin de semana (nuevamente) confinado va a cundir.
Como levanten el veto no me vuelves a ver el pelo de ganas que le tengo 🤣 😇

[2021-02-14 17:03] aosucas499 commented on #60
Jajajaja igual estoy yo. Como levanten nos vamos de cañas jaja

[2021-02-14 18:11] jasvazquez commented on #60
Bueno, creo que tenemos bien merecida esa "cerveza" 😉 👍🏻

![imagen](https://user-images.githubusercontent.com/604744/107885034-35e3d300-6ef8-11eb-8211-255011dff3de.png)

¿Al final quedamos que HGR_Sigala iba de serie en Minino-TDE o lo metemos como opción en _customize-minino_? 😏

[2021-02-14 18:13] aosucas499 commented on #60
Eres un crack. La merecemos sin duda jajaja. A mí me gustaría de serie.

[2021-02-14 18:14] jasvazquez commented on #60
Tuyo es y "minino" no... de serie lo incluyo 👍🏻

[2021-02-14 18:18] aosucas499 commented on #60
Jajaja lo que te gustan los juegos de palabras...minino solamente no, tuyo, mío y de todos

[2021-02-14 18:37] aosucas499 commented on #60
Veo que has usado la versión de guadalinex next/slim, perfecto. Voy a probarlo en la tablet que estaba a punto de crear un clon para dárselo a Jaime y que me haga testing. Ya de paso lo pruebo tanto en servidor como cliente con otro pc y con el docker. Mil gracias compañero, me has ahorrado tela de curro.

[2021-02-14 19:01] jasvazquez commented on #60
Me alegra saber que te he liberado tiempo para otros "menesteres" Andrés.

Quedo a la espera de esas pruebas porque me he limitado a lograr que instale y arranque... todavía me quedan dudas respecto a que todo sea correcto 😉 👍🏻

[2021-02-15 19:04] chipygr commented on #54
Probado con alto rendimiento el hacer videoconferencia desde la Moodle y no es viable. Este dispositivo no nos sirve para esto, pero el sonido y el micro sin problemas para otras tareas.

[2021-02-15 19:05] aosucas499 commented on #54
Me lo temía. Gracias compañero.

[2021-02-15 19:11] chipygr commented on #54
A vosotros

[2021-02-15 19:34] jasvazquez commented on #54
Gracias @chipygr

¿Hablamos de Minino recién instalado verdad? (me refiero a sin aplicar cambios de ningún tipo?)
Imagino que habrás grabado alguna cosilla con Audacity o similar y escuchado algún audio

Perdón por insistir, es sólo por dejar constancia y cerrar la tarea si lo consideráis oportuno 👍🏻

[2021-02-16 06:22] FernandoRodero commented on #57
Buenos días, efectivamente al actualizar he podido instalar LibreCad, FreeCad y Arduino. Me ha quedado pendiente S4A, pero seguramente descargando el instalador pueda hacerlo.
Muchas gracias. Un saludo.

[2021-02-16 09:20] jasvazquez commented on #57
Genial, gracias Fernando

Si da problemas S4A avisa y le echamos un vistazo 👍🏻

[2021-02-16 19:36] aosucas499 commented on #60
He podido probarlo y aunque abre el cliente, daba mala sensación. El server no abría.
He mirado el código y recuerdo de mi docker que es mejor tener muchos de los paquetes del mismo guadalinex y no de minino. La suerte es que podemos añadirlos sin problema porque esta versión basada en ubuntu 16, su paquetería es más moderna que la de minino.
Por lo pronto he añadido todas las dependencias del ser

[2021-02-16 19:44] aosucas499 commented on #60
El error que salta justo al pulsar "crear grupo" en el hgr-server:

![VirtualBox_minino TDE_16_02_2021_20_42_34](https://user-images.githubusercontent.com/72696244/108113320-ac6b0700-7097-11eb-93c8-9438baa3d60f.png)

Me da que python, quizás se utilizaron algunas librerías más nuevas en guadalinex next.

[2021-02-16 19:47] aosucas499 commented on #60
![VirtualBox_minino TDE_16_02_2021_20_42_34](https://user-images.githubusercontent.com/72696244/108113546-f227cf80-7097-11eb-9413-9a70cf697f79.png)
 Fallo que da el hgr-server al pulsar en el icono de "crear grupo". No soy un experto pero quizás las librerías python de minino no son tan nuevas como las de guadalinex next y el programador usó alguna librería o función de la versión moderna de algun

[2021-02-16 20:20] chipygr commented on #54
Probado con el MWave, creo que se llama... Todo desde cero, solo toque en el alsa subi y baje volumen y activé y desactivé opciones... de hecho para hacerlo funcionar solo habia que subir el volumen del capture para que captara el micro, simple...

[2021-02-17 18:03] jasvazquez commented on #54
Gracias Jaime.
Si os parece bien a todos, cierro la incidencia hasta "nueva orden" 👍🏻

[2021-02-17 18:03] #54 closed, assigned to nobody

[2021-02-17 18:12] jasvazquez commented on #60
@aosucas499 ¿si utilizas el server en otro equipo (que no sea Minino) es factible conectarse a él usando el cliente que hemos logrado abrir?

La idea que persigo es la siguiente: dividir el problema en dos de modo que podamos cerrar la parte del cliente (que es la que entiendo se debe gestionar en equipos con menos recursos) y confiar (de momento y hasta que encontremos la solución definitiva) en

[2021-02-17 18:18] aosucas499 commented on #60
Era una opción que barajaba, me encanta que pensemos igual jajaja. En cuanto tenga hoy un rato lo pruebo. Voy a poner en minino el cliente y en un educandOS mi docker con el server. Te cuento crack...

[2021-02-17 18:29] jasvazquez commented on #60
Bueno, creo que vamos cogiendo una "filosofía común" para el proyeto: te recuerdo que al principio las decisiones no eran tan "fluidas" 😉 🤣 Menos mal que hemos encontrado un punto "de equilibrio" 👍🏻

Como punto extra sería interesante comprobar si es funcional con los servidores que vienen "de facto" en los Guadalinex anteriores (así podríamos redirigir a los compañeros tanto a tu educAndOS unoffi

[2021-02-17 18:39] aosucas499 commented on #60
Veo que no confías en mi docker jajajaja. La función del docker es funcionar en sistemas modernos, ubuntu, mint, educaandos...vistas al futuro y para usar en un pc moderno en la pizarra. Lo probamos también con una versión de guadalinex next, hay que probar todo.

[2021-02-17 19:01] jasvazquez commented on #60
Hombre no, tampoco es eso. Entiendo y valoro su utilidad y estoy convencido que funciona perfectamente pero quiero centrarme en lo más probable de encontrar en un centro educativo: Guadalinex 😉

[2021-02-17 19:18] aosucas499 commented on #60
Lo tengo aún en fase testing.

 Al turrón, no funciona el cliente. No aparecen en él ninguno de los servers que he abierto en una tablet con guadalinex edu (ni la versión sigala antigua, ni tras actualizar a la versión hga como la de guadalinex next), ni docker en educaandos. No funciona, mi experiencia en esta app a la que tanto tiempo le he dedicado es que hay que utilizar paquetes del mismo gua

[2021-02-17 22:00] jasvazquez commented on #60
¿Y con máquinas virtuales de Guadalinex Next (una para servidor y otra para el cliente) funciona?

Lo digo porque el WebDAV (y su uso dentro del centro educativo con el servidor de contenidos) me hace desconfiar 🤔

[2021-02-18 18:03] jasvazquez commented on #60
Sí que va a costar... sí

![imagen](https://user-images.githubusercontent.com/604744/108400753-e49b5280-721b-11eb-8bc4-7212a190c324.png)

[2021-02-18 18:29] jasvazquez commented on #60
Oooohh... con Guadalinex Next (en máquinas virtuales) funciona perfectamente

![imagen](https://user-images.githubusercontent.com/604744/108403972-98521180-721f-11eb-9bdd-1e63ad98109b.png)

Eso sí: me obliga a arrancar el servidor con permisos de administración 😮

[2021-02-18 18:39] jasvazquez commented on #60
Lo cual me ha dado una "pista"

![imagen](https://user-images.githubusercontent.com/604744/108404521-42319e00-7220-11eb-9179-eca81ea5a8e0.png)

Pero, fino fino, no termina de ir... (no le gusta ningún fichero que intento compartir con el "maestro" 😅 )

![imagen](https://user-images.githubusercontent.com/604744/108405115-fdf2cd80-7220-11eb-829c-92ebf4992bc1.png)

[2021-02-18 18:40] jasvazquez commented on #60
![imagen](https://user-images.githubusercontent.com/604744/108405264-2975b800-7221-11eb-8a6c-638af5dbeff7.png)

[2021-02-18 18:44] jasvazquez commented on #60
El "maestro" comparte sin problemas

![imagen](https://user-images.githubusercontent.com/604744/108405706-b3be1c00-7221-11eb-890a-9d0221f620fa.png)

[2021-02-18 19:00] aosucas499 commented on #60
Es el mismo problema que tenía con mi docker. Compartir del cliente al servidor arrastrando en la pestaña, no iba. Y ese método de compartir utilizaba WebDAV. Pensé, a unas malas en los pc's modernos con Ubuntu/educandOs, uso el docker que el server funciona todo y en los ultraportátiles, el cliente con minino.
Sin embargo igual que me cuentas el server comparte sin problema.
Has utilizado tu scri

[2021-02-18 19:01] aosucas499 commented on #60
Será algo de Python relacionado con el entorno gráfico al usar el arrastrar para compartir? Yo recuerdo que si lo lanzaba en terminal y compartía, podía ver el fallo en el terminal. Pensé mucho tiempo en el dbus, pero lo solucioné y di con el comando para compartir el dbus de la máquina en docker y así funcionó la pizarra Smartboard qur era más chungo aún...me deja desconcertado, a ver si tú lo ve

[2021-02-18 19:05] jasvazquez commented on #60
El fallo en la terminal [lo he puesto aquí](https://github.com/aosucas499/minino-TDE/issues/60#issuecomment-781554913)

Ya deberías ir viendo que soy "tela de cabezón" o, lo que es lo mismo: sigo con el script de _update-minino_ con un leve cambio.

Quiero seguir explorando esa senda, de momento no es "angosta" y sigo viendo "camino" que recorrer. En el momento que se vuelva farragoso, investigaré

[2021-02-18 19:07] jasvazquez commented on #60
En realidad el problema parece de "encoding" 🤔

[2021-02-18 19:11] aosucas499 commented on #60
Lo que tu veas maestro, es que el otro día sin los cambios daba fallo incluso de crear la carpeta de compartir. Por si el pequeño cambio de instalar el paquete de gualinex te ayuda.
Igualmente haz como hasta ahora y me tienes al tanto, que a ese programa le he dedicado mil horas, aunque en el código Python estoy pez

[2021-02-18 19:11] aosucas499 commented on #60
Y eso?

[2021-02-18 19:14] jasvazquez commented on #60
![imagen](https://user-images.githubusercontent.com/604744/108408967-f4b82f80-7225-11eb-8c13-7390a599b765.png)

[2021-02-18 19:40] jasvazquez commented on #60
Algo hemos avanzado pero tanto como "correcto", no me atrevería a decir yo tanto 🤣

![imagen](https://user-images.githubusercontent.com/604744/108411953-82494e80-7229-11eb-9062-96302d8b2836.png)

[2021-02-18 19:44] jasvazquez commented on #60
Uuummm, creo que me he ganado la cena hoy 🤣

![imagen](https://user-images.githubusercontent.com/604744/108412361-12879380-722a-11eb-84c9-84c73b1b1c13.png)

[2021-02-18 19:46] aosucas499 commented on #60
Qué crack eres jajajjaja, ya lo tienes!!!

[2021-02-18 20:08] jasvazquez commented on #60
Gracias Andrés 😅

Para "nota" queda el poder ver las pantallas de las "criaturitas" (que ahora mismo no sé ni por dónde empezar 🤣 ... porque no veo errores por ningún sitio que me den alguna pista) pero con la posibilidad de compartir archivos hemos ganado una importante funcionalidad 👍🏻

[2021-02-18 20:10] aosucas499 commented on #60
Lo de las pantallas yo creo que ni iba en su entorno natural...yo creo que es una opción que funcionaba en sigala y aquí ni con Guadalinex funcionaba. Vamos a mí lo que me demandan es el envíar archivos, que el profe pueda recoger el trabajo diario en su pc, con eso yo veo el proyecto terminado.

[2021-02-18 20:17] jasvazquez commented on #60
Creo que sí iba (y que se te ha escapado el [detalle en esta foto](https://github.com/aosucas499/minino-TDE/issues/60#issuecomment-781548758) 😉)

[2021-02-18 20:20] aosucas499 commented on #60
La he visto, he mirado todo lo que has puesto con ojos de lince. Es que me queda en la memoria residual que me decían los profes que no se podía en Guadalinex next...pero vamos no me hagas mucho caso. Pues supongo que tiene que ver con el vlc que instala, y sobretodo con el xvncserver no? Estoy deseando que subas el fix para probar a compartir, me daba úlcera cada vez que decía que no se podía com

[2021-02-18 20:25] jasvazquez commented on #60
Tengo (por hoy) "orden de alejamiento" del ordenador 😅

Mañana sin falta lo subo, descuida 👍🏻

[2021-02-18 20:28] aosucas499 commented on #60
Haces bien...yo hoy me comprometí a no encenderlo y por eso te contesto con el móvil. Eres un crack compañero, lo has solucionado en un rato jajakka

[2021-02-18 20:51] aosucas499 commented on #60
También he estado pensando y quería saber tu opinión sobre si pasar esta app a optativa (customize-minino). Para mi centro el uso va a ser seguro, pero dudaba en si esta app que tiene que ralentizar seguramente el sistema un poquito, al usar el server ejabber siempre al inicio, si deberíamos replantearnos el pasarla a opción. Pensaba en si habrá centros donde esto no lo usen, etc... Si preguntar a

[2021-02-18 20:52] jasvazquez commented on #60
Juego con ventaja: soy un crackER "old school" (y no es broma 😉)

[2021-02-18 20:53] aosucas499 commented on #60
Eres de los que hacía los crack .exe para los juegos? Jajaja

[2021-02-18 21:48] jasvazquez commented on #60
Para juegos no, pero sí que desensamblaba código para saltarme protecciones en algunos programas en mis tiempos de mozalbete imberbe 😅 😉

[2021-02-18 21:56] jasvazquez commented on #60
Ya en su momento me planteé ponerlo como opcional: sin ir más lejos no lo he usado en la vida "Hulio" pero igual (ahora que está moribundo, me da por hacerlo... cualquier cosa con tal de ir contra corriente 🤣 )

Sí que arranca servicios que pueden afectar al rendimiento (habría que hacer algunas pruebas en hardware real para valorar su impacto) pero entiendo que sería de ayuda para aquellos que lo

[2021-02-18 22:03] jasvazquez commented on #32
Quizás en este hilo hemos estado mezclando temas y no sea necesario un Timeshift simplemente para gestionar los cambios de _customize_minino_ (tema distinto serían las actualizaciones de Minino en _update_minino_)

Tras los últimos cambios en el código de _customize_ sería factible añadir/eliminar opciones (y detectar cuáles han sido usadas, para marcarlas como tal) en el listado que ofrece.

Resp

[2021-02-18 22:07] aosucas499 commented on #60
Jajajajja vale "Hulio", mañana con más neuronas y en el finde lo pensamos todo

[2021-02-19 18:57] jasvazquez commented on #60
Habría que eliminar la opción del servidor del menú pero de momento se deja así hasta que pruebes si te funciona 😉

![image](https://user-images.githubusercontent.com/604744/108548905-bdf91c80-72ec-11eb-8542-9bd273f3ac3d.png)

[2021-02-20 10:52] aosucas499 commented on #60
Me pongo a ello, que estoy deseando, en cuanto tenga un ratillo entre la tablet de cargador blanco (siendo igual estéticamente que la de cargador negro y el por saco que me va a dar), corregir exámenes y tomarme hoy unas cervezas que me han abierto el pueblo jajaa

[2021-02-20 11:12] jasvazquez commented on #60
Take it easy, bro 👍🏻

[2021-02-20 11:14] aosucas499 commented on #60
You too dude😉

[2021-02-20 17:31] jasvazquez opened #63 "Autoactualizar customize-minino.sh"
En base a la idea propuesta en #32 y, como prueba de concepto, se opta por implementar la actualización automática de `customize-minino.sh` pues, al tener implementadas las comprobaciones de las opciones ya utilizadas por el usuario (para poder marcarlas en la lista de opciones como "instaladas")

![imagen](https://user-images.githubusercontent.com/604744/108603656-7edcd100-73a9-11eb-8598-4263cda8

[2021-02-20 17:32] #63 closed, assigned to jasvazquez

[2021-02-20 18:01] jasvazquez commented on #32
Tras implementar la actualización automática de `customize-minino.sh` se me ocurre una solución que rompería con el enfoque actual de Minino pero que evitaría a los compañeros tener que estar "quemando" ISOs y actualizando equipos "desde cero" en los que ya tienen instalado el sistema.

La idea es delegar en cada usuario la ejecución de `update-minino.sh` para ello:

+ Utilizamos la comprobación d

[2021-02-20 18:15] aosucas499 commented on #32
Esa es una idea genial, creo que la hablamos al principio del proyecto, aunque ahora con el código que has creado tiene forma. Seguro que los compañeros adorarán un minino que se actualice sin tener que instalar otra vez. Bravo!

[2021-02-20 18:28] aosucas499 commented on #60
![VirtualBox_minino TDE_20_02_2021_19_27_15](https://user-images.githubusercontent.com/72696244/108605027-b2235e00-73b1-11eb-928f-65c81eac517c.png)

[Commit](https://github.com/aosucas499/minino-TDE/commit/a02f577681120f3f99815fd461edfd1aedc3cb1f)

[2021-02-20 18:40] jasvazquez commented on #60
Me ha gustado que dejes el fichero de la opción de menú como `.save`
Así no se nos "pierde" 🤣 👍🏻

[2021-02-20 18:42] jasvazquez commented on #52
Tras no recibir "feedback" y no poder avanzar (por no tener equipos en los que me falle) me desasigno temporalmente la tarea y la etiqueto como DUDA hasta que haya noticias/información que nos permita progresar 🤷🏻

[2021-02-20 18:42] aosucas499 commented on #60
Sabía que te gustaría 😄😄.

[2021-02-20 18:46] jasvazquez opened #64 "Activar server de HGR-Sigala en Minino"
Tras lograr hacer funcionar el cliente de Sigala en #60 y, [habiendo desactivado temporalmente la opción del servidor](https://github.com/aosucas499/minino-TDE/issues/60#issuecomment-782728585), sería interesante seguir investigando para hacerlo operativo.

A día de hoy no se considera prioritario (de ahí que se etiquete como IDEA) puesto que:

1. Minino-TDE va enfocado a equipos de bajos recursos

[2021-02-20 18:51] jasvazquez opened #65 "Pasar HGR-Sigala a customize-minino.sh"
Tras implementar la tarea #60 decidimos que para [evitar arrancar servicios innecesariamente en equipos con bajos recursos](https://github.com/aosucas499/minino-TDE/issues/60#issuecomment-781626683), sería más  apropiado pasar a `customize-minino.sh` el poder elegir si se quiere contar (o no) con el cliente de HGR-Sigala

[2021-02-20 19:37] jasvazquez commented on #65
¿ @aosucas499 cambiarías el texto descriptivo ?

![imagen](https://user-images.githubusercontent.com/604744/108606646-71c8dd80-73bb-11eb-9713-cd394e6b61f2.png)

[2021-02-20 19:52] jasvazquez commented on #32
Pues la estoy viendo todavía mejor: si lo hacemos así podríamos documentar la forma de crear las ISOs (ahí igual se puede "invitar" el amigo @jaimecarrascogarcia 😅)

De esta forma, cada profesor/a podría personalizar (usando `customize-minino.sh`) cómo quiere que estén los ordenadores que va a instalar y generar una ISO personalizada a sus necesidades y centro.

Ya sólo tendría que ir con el pendr

[2021-02-20 20:12] aosucas499 commented on #65
Para nada. Creo que se llamó sigala, después hga y al final hgr. Pero todo el mundo la conoce como sigala.

[2021-02-21 15:42] jasvazquez opened #66 "Documentar el uso de Synaptic"
Han sido varios los compañeros/as que han preguntado por software que se encuentra en los repositorios.

Igual sería de interés incluir en la wiki información sobre cómo instalar programas usando Synaptic (indicando dónde se encuentra en el menú de aplicaciones) y haciendo mención a la actualización de los repositorios (no sea que no estén actualizados las listas de paquetes disponibles y no encue

[2021-02-21 16:15] jasvazquez commented on #65
Tarea implementada tras el commit 1c38b77

[2021-02-21 16:15] #65 closed, assigned to jasvazquez

[2021-02-21 22:07] jaimecarrascogarcia commented on #32
Lo que mandeis, aunque me tendreis que explicar como se hace compis!!!!

[2021-02-22 12:59] aosucas499 commented on #52
Done [log](https://github.com/aosucas499/minino-TDE/blob/9c2735ce316e5a9a58271658ca40c8cc13e0e93b/tools/minino-tde.log)

[2021-02-22 17:21] jasvazquez commented on #32
Genial, gracias Jaime.
Te remito a la tarea #66 para seguir la conversación 👍🏻

[2021-02-22 17:25] jasvazquez commented on #66
Básicamente debemos explicar:
1. Cómo se llega a Synaptic
![imagen](https://user-images.githubusercontent.com/604744/108745342-3ead5800-753b-11eb-972c-2503df39490d.png)

2. La necesidad de actualizar la lista de paquetes
![imagen](https://user-images.githubusercontent.com/604744/108745060-f4c47200-753a-11eb-9c21-61d9e62b1d4a.png)

3. Cómo se busca (p.e. Gimp que es uno de los más solicitados y que

[2021-02-24 14:59] jasvazquez opened #67 "Recuperara panel inferior"
Javier comenta en el [grupo TDE de Telegram](https://t.me/c/1191811099/58033) que ha perdido el panel inferior y no sabe cómo recuperarlo.

Sería interesante documentar (o incluso incluir opción al menú contextual que aparece al pulsar el botón secundario sobre el escritorio) dicha posibilidad

[2021-02-24 15:01] jasvazquez commented on #67
Poco después comenta que con CTRL+ESC logra abrir el "menú"... habrá que mirarlo

[2021-02-24 15:04] chipygr commented on #67
No se hace con la opcion de restaurar minino?

[2021-02-24 15:08] jasvazquez commented on #67
Ni idea compañero: no uso habitualmente Minino y hasta que no pueda sentarme en mi equipo (con la máquina virtual) no voy a poder hacer pruebas (por éso lo he etiquetado como DUDA 😅 )

Si es fácil recuperarlo, al final pasamos la tarea como DOC para dejar constancia porque seguro que alguno que otro tiene el mismo problema y no estará de más tenerlo "por escrito" 😉

[2021-02-24 17:42] jasvazquez commented on #67
Bueno, acabo de echar un vistazo al tema y se puede recuperar relativamente fácil con la opción "Restaurar Minino" que comenta @chipygr 👍🏻

Sólo habría que abrir la terminal (CTRL+ALT+F2) y lanzar el comando correspondiente

![minino-restore](https://user-images.githubusercontent.com/604744/109041935-e0fe4480-76cf-11eb-8b80-e0870cad3d3c.png)

Para que funcione, se hace necesario cerrar la sesión y

[2021-02-24 18:02] jasvazquez commented on #67
Doy por cerrada la tarea tras incluir [explicación en la wiki](https://github.com/aosucas499/minino-TDE/wiki/FAQs) de cómo resolver el problema.

Si vemos que a los compañer@s les cuesta seguir el "truco", nos podríamos plantear modificar el script `minino-restore-defaults` para que ejecute el `lxde-logout` pero, a día de hoy, creo que es más que suficiente ¿Se acepta la "moción"? 😉

[2021-02-24 18:02] #67 closed, assigned to jasvazquez

[2021-02-24 18:08] jasvazquez commented on #52
Pues, aunque tengo pendiente volver a echarle un vistazo con algo más de tiempo (y calma) he cometido el tremendo error de no pedir, junto al comando que puse algo más arriba un listado de particiones.

Corrijo mi "craso error" 😅  para cuando tengamos una nueva ocasión de probarlo (sorry, man)

[2021-02-24 18:13] jasvazquez commented on #52
No obstante, en el log proporcionado llama (poderosamente) la atención la siguiente entrada

![image](https://user-images.githubusercontent.com/604744/109045885-6a177a80-76d4-11eb-9417-fabe2eeabea5.png)

[2021-02-24 20:28] josemariagomariz commented on #59
No sé por qué no me saltaron las alertas en esta tarea, he estado pendiente de la solución del sonido del nb500 y conozco la conclusión, habría escrito antes de haberlo visto.

El sonido no solo atraca SIEMPRE silenciado aunque lo apagues con el volumen activo. Para que suene debes meterte en los menús de sonido y subir el volumen y activar de algunos parámetros, no recuerdo el nombre de la column

[2021-02-24 20:29] josemariagomariz commented on #59
Quizás no estoy siendo muy explícito, si lo necesitáis hago una foto para que veáis a lo que me refiero.

[2021-02-25 09:48] jasvazquez opened #68 "Falla wifi Acer Aspire One"
Comentado por [Samuel Cárdenas en el grupo de Telegram](https://t.me/c/1191811099/58179)

Se pide modelo de tarjeta wifi e indica tratarse de la Qualcomm atheros AR9285

[2021-02-25 10:02] jasvazquez commented on #68
Como dudas, me quedan saber si es un problema para detectar wifis o si la tarjeta de red está sin drivers y ni está funcionando.

En foros encuentro que el [driver asociado es el ath9k](https://wiki.debian.org/ath9k#Supported_Devices)

![imagen](https://user-images.githubusercontent.com/604744/109136700-aee4f500-7758-11eb-891b-51ea567136c7.png)

y en Minino hay alguna referencia pero no el paquete

[2021-02-25 10:05] jasvazquez commented on #68
Ok, los drivers de _ath9k_ han sido [incluidos en el kernel](https://wireless.wiki.kernel.org/en/users/Drivers/ath9k#get_the_latest_ath9k_driver)

[2021-02-25 10:06] jasvazquez commented on #68
Quedo pendiente de que Samuel

1. lance un `sudo iwlist scan` (para ver si puede detectar wifis)
2. adjunte captura de pantalla

[2021-02-25 12:56] jasvazquez commented on #52
Descarto log tras comprobar que se trata de una instalación "manual" y, por tanto, poco significativa para determinar por qué falla la instalación "automática" de Minino

![imagen](https://user-images.githubusercontent.com/604744/109156512-38a0bc80-7771-11eb-991f-a3dee0e4e264.png)

[2021-02-25 12:59] aosucas499 commented on #52
Lo sientoz supuse que valía la manual...las prisas y no pensar. Otro día te lo hago en automático aunque detecte mal las particiones. ¿Qué comando necesitas a parte del debug?

[2021-02-25 13:04] jasvazquez commented on #52
El `lsblk` para ver la configuración real del equipo y sus discos (te lo he dejado [anotado más arriba](https://github.com/aosucas499/minino-TDE/issues/52#issuecomment-774955547))

[2021-02-25 13:05] aosucas499 commented on #52
Ok. Me pusieron ayer la vacuna y ando con la cabeza para arrancármela  ajaja....espeso total

[2021-02-25 15:07] jasvazquez commented on #52
Se entiende perfectamente: a saber cómo "termino" yo cuando me la pongan (estoy en capilla)

[2021-03-03 17:34] jaimecarrascogarcia commented on #66
Voy a ello, perdonad pero he tenido unos días moviditos!!!  Lo hago en una wiki

[2021-03-03 17:46] jaimecarrascogarcia commented on #66
https://github.com/aosucas499/minino-TDE/wiki/Uso-de-Synaptics

¿Algo asi? He usado tus imágenes, alguna otra?

[2021-03-03 21:01] jasvazquez commented on #66
Francamente bien, Jaime

Yo echo de menos alguna captura del final en el que se vea cómo marcar la paquetes y aceptar cambio

[2021-03-04 17:11] aosucas499 commented on #66
Eres un crack. Esperamos que vayan mejor esos días moviditos.

[2021-03-06 11:40] jaimecarrascogarcia commented on #66
Ahi vamos Andrés un poco liado pero mejorando, muchas gracias crack. Compañero @jasvazquez si me haces una captura de la imagen que quieres que ponga la añado a la wiki, te lo agradecería si puedes, no tengo ningún dispositivo con Minino por aquí....!!!

Por cierto @aosucas499 como va la tablet de 5v?? ya hasta se me ha olvidado.... un abrazo a todos compis

[2021-03-07 21:13] aosucas499 commented on #66
Me alegro que mejora la cosa. Pues tienes en telegram el enlace para ambaa tablets, la de cargador negro como el que te pasé pero con sigala añadido y la blanca trae varios kernel, espero que la gente con toda la documentación que he puesto ayude a mejorarla, falta audio y táctil como cosa más reseñable.

[2021-03-10 22:51] aosucas499 commented on #64
![IMG_20210310_231633](https://user-images.githubusercontent.com/72696244/110708064-78988280-81fa-11eb-9c3f-7600831751e7.jpg)

He conseguido que funcione, para ello como te comenté, algunos paquetes son importantes que sean el mismo o casi misma versión. En este caso el paquete involucrado es el servidor ejabberd.

El método seguido para que funcione es previamente a tu script de instalación de hg

[2021-03-10 23:08] aosucas499 commented on #60
El fallo que te comenté que se producía cuando conectaba el cliente de minino al servidor de mi docker, también se produce con otras versiones originales de guadalinex, en este caso, con Guadalinex edu, instalado en una tablet vexia.

![IMG_20210310_233924](https://user-images.githubusercontent.com/72696244/110709831-273dc280-81fd-11eb-8af5-0bbbb123f574.jpg)

Al pulsar en descargar se produce el f

[2021-03-12 19:07] aosucas499 commented on #60
Te paso el script/función para que funcione el server en minino y el cliente sea compatible con la descarga desde el server en Guadalinex edu y docker hgr. Como sé que tu tiempo vale oro te paso los comandos para que lo pruebes rápidamente en guadalinex next que tienes instalado. Lo he alojado en el proyecto del docker para no ponerlo aún en el oficial customize hasta ver qué tal funciona.

`wget

[2021-03-12 19:09] aosucas499 commented on #64
Closed [#60](https://github.com/aosucas499/minino-TDE/issues/60?_pjax=%23js-repo-pjax-container#issuecomment-797691628)

[2021-03-12 19:09] #64 closed, assigned to aosucas499

[2021-03-13 18:31] profeIAP commented on #60
Tampoco es para tanto que parece que soy importante y todo 🤣
Funciona perfectamente en Guadalinex Next 👍🏻
Buen trabajo Andrés

[2021-03-13 18:33] aosucas499 commented on #60
Multiples cuentas de github?

[2021-03-13 18:34] jasvazquez commented on #60
🙈 Voy a borrar el comentario (sorry): no me gusta "mezclar" perfiles

[2021-03-13 18:34] jasvazquez commented on #60
Tampoco es para tanto que parece que soy importante y todo rofl
Funciona perfectamente en Guadalinex Next 👍🏻
Buen trabajo Andrés

[2021-03-13 19:14] #60 closed, assigned to jasvazquez

[2021-03-13 19:50] aosucas499 commented on #64
[Closed](https://github.com/aosucas499/minino-TDE/commit/8c5c99b6bd54fe03fd97543d227de6ea79b43aba)

[2021-03-13 19:50] aosucas499 commented on #60
[Closed](https://github.com/aosucas499/minino-TDE/commit/8c5c99b6bd54fe03fd97543d227de6ea79b43aba)

[2021-03-13 19:57] aosucas499 commented on #66
Closed [updated wiki](https://github.com/aosucas499/minino-TDE/wiki/Uso-de-Synaptics)

[2021-03-13 19:57] #66 closed, assigned to jaimecarrascogarcia

[2021-03-13 20:08] jasvazquez commented on #66
El paso "se marcan los paquetes a instalar" me da la sensación de dejar muchas cosas "a la imaginación" 🤔

[2021-03-13 20:14] aosucas499 commented on #66
Sírvete jajaja

[2021-03-13 20:15] aosucas499 commented on #66
Yo es que pienso que no era necesario esto, es decir, la gente ya no sabe buscar en google "tutorial uso synaptic"? Como sigamos así nos ponen un teléfono fijo y una oficina en el CAU

[2021-03-14 17:33] jasvazquez commented on #66
Servido... 👍🏻

[2021-03-17 14:08] madoju78 commented on #59
Hola, que me había dejado esto atrás. He podido comprobar que el compi tiene razón. En control de volumen, hay que quitar el tick del Mute de Headphones y subir a tope la barra d esa opción. Hay que hacerlo con cada reinicio.
Al menos a mí en Customize minino no me sale la opción de fix para estos Samsung verdes.

[2021-03-20 20:24] aosucas499 opened #69 "Control de presencia de Séneca en customize minino"
Tras comentario de @jasvazquez en telegram y visto que mucha gente está instalando minino en PC's antiguos como dispositivos para el control de presencia de Séneca en los  coles, sería una buena idea incluir una opción instalable para incluir toda la configuración de modo opcional (A.K.A customize-minino)

Debe incluir al menos:

1. Configuración de página principal en Firefox v.83 del [control de

[2021-03-20 21:37] tecnojose opened #70 "Instalación dual Minino y Windows"

[2021-03-20 21:43] tecnojose commented on #70
Buenas, quisiera instalar en un Pc Minino y Windows.
Lo que he hecho ha sido lo siguiente:
- Instalo Windows.
-  Hago particiones.
-  Instalo Minino en la partición que había creado antes.
Al arrancar el PC solo arranca en Minino, no me deja seleccionar Windows y Minino. La partición de Windows está aún, ya que abro el terminal y ejecuto sudo update-grub2 y pone Encontrado Windows 10 (loader) en d

[2021-03-21 12:44] jasvazquez commented on #69
Actualizo etiquetas considerando

+ que no es SOFTWARE al tener ya instalado todo lo que necesitamos pero lo que buscamos es una FUNCIONALIDAD concreta en Minino
+ IDEA pues todavía no ha sido asignado (aunque ya me haya "invitado" a hacerlo públicamente) ni va a ser acometido hasta (mínimo la próxima semana 🙈 )

[2021-03-21 12:57] aosucas499 commented on #69
😄😄😄😄 genial todo

[2021-03-21 13:01] jasvazquez commented on #70
Hola Jose ¿has probado a pulsar ESC en el arranque de Minino?

![imagen](https://user-images.githubusercontent.com/604744/111905782-b17ff500-8a4d-11eb-8de1-3f72f9768b5f.png)

Te lo comento porque observo que, por defecto, no muestra GRUB y arranca con el sistema por defecto (Minino)

Si tras intentar acceder a Grub (pulsando ESC en el arranque) te resulta imposible, agradecería que nos porporciona

[2021-03-21 17:39] jasvazquez commented on #52
#IDEA ¿y si preguntamos al usuario dónde lo quiere instalar @aosucas499?

![imagen](https://user-images.githubusercontent.com/604744/111915050-be640f00-8a74-11eb-8383-7b9a7b6aabc3.png)

[2021-03-21 17:47] aosucas499 commented on #52
Qué bonito queda!!!!. El problema creo que radica en que la información que muestra del disco duro y el usb (en los que da el problema del intercambio) no era muy aclaratoria. Pero no estoy seguro. Si quieres añadelo y pruebo cuando pueda en un chuck norris. Igualmente cuando tenga tiempo quiero probar la herramienta easter egg para crear un instalador debian.

[2021-03-21 18:03] jasvazquez commented on #52
Éso va a ser el "perrete" que tengo de fondo de escritorio 😏 🤣

Como pequeña mejora le he incluido la comprobación del atributo RM (*R*emovable *M*edia) que nos permite conocer (y  marcar por defecto una de las opciones) si el disco es fijo o "removible" (sospechoso de ser un pendrive)

![imagen](https://user-images.githubusercontent.com/604744/111915710-eb65f100-8a77-11eb-8189-0fd3f9f6c4f0.png)

[2021-03-21 18:04] aosucas499 commented on #70
Aquí principalmente el problema es que estamos mezclando un sistema que arranca en modo UEFI (windows 10) y una instalación de minino que no tiene soporte para uefi, por lo que la instalación de minino ha machacado el arranque de windows pero no puede encontrarlo porque windows 10 no arranca en modo legacy (si fuese windows 7 creo recordar es diferente).

Aquí la única manera que se me ocurre y qu

[2021-03-21 18:07] aosucas499 commented on #52
Es una mejora bastante importante la del RM. Pues lo que te decía es que cuando instalaba en los chuck norris, costaba detectar realmente cuál era el usb o el disco duro, incluso con el comando df. Porque no mostraba la cantidad de GB de los discos bien creo recordar. Pero vamos, tiene muy buena pinta, yo lo pruebo cuando lo finalices porque tiene pintaza.

[2021-03-21 18:11] jasvazquez commented on #52
Me alegra que te guste 👍🏻

En base a tu comentario estoy tentado a dejar sólo la detección del RM  y olvidarme del menú de selección (no me gusta molestar "innecesariamente" a los usuarios 😏 )

[2021-03-21 20:00] #52 closed, assigned to jasvazquez

[2021-03-21 20:04] jasvazquez commented on #52
Bueno, mejora subida pero, "a ciegas"... cuesta resolver el problema 😅

Al menos ahora podrán elegir la unidad de destino y, al mostrar las unidades que pueden usarse, igual descubrimos (por salir a la luz situaciones que no cuadren a los usuarios) qué ocurre cuando falla el instalador 🤔

Cruzo los dedos 👍🏻

[2021-03-23 18:30] jasvazquez opened #71 "Driver wifi BCM4312"
Máximo Cruz [comenta en el grupo de Telegram](https://t.me/TDEAndalucia/59815) que tiene problemas con la wifi de su DELL Inspiron 1110.

Teóricamente, debería funcionarle con el paquete `firmware-b43-installer` disponible en los repositorios de Minino

[2021-03-23 18:30] jasvazquez commented on #71
Le pido que instale el driver y quedo a la espera de noticias

[2021-03-28 17:48] jasvazquez opened #72 "Controlar actualizaciones de customize-minino.sh"
Actualmente, cualquier cambio (y en ocasiones hay que hacer pruebas incluso subiendo a Github) en customize-minino provoca la notificación de actualización en los distintos equipos en los que esté instalado.

Para evitar dicho comportamiento y controlar cuándo es seguro poder actualizar el script, planteo la posibilidad de utilizar las _releases_ de Github de modo que la actualización se hará sobr

[2021-03-28 18:00] #72 closed, assigned to jasvazquez

[2021-03-30 07:11] Samcarfe opened #73 "Instalar adaptador wifi usb TP-Link Archer T2U"
He intentando instalar el adaptador wifi usb Archer T2U en un ordenador de sobremesa con Minino y no reconoce ni el dispositivo (no aparece en el listado lspci), ni tengo muy claro como puedo instalar el driver, pues la única versión que he podido tener para Linux está basada en Ubuntu.
¿Cómo puedo resolver este inconveniente?

[2021-03-30 07:35] Samcarfe commented on #68
Hola:
He ejecutado el comando y adjunto la captura de de pantalla.
[minino.pdf](https://github.com/aosucas499/minino-TDE/files/6227232/minino.pdf)

[2021-03-30 09:05] jasvazquez commented on #68
Gracias Samuel

Pues según se observa en la "captura", parece que sí detecta las wifis disponibles.

¿No te aparecen en el applet del escritorio? 🤔

[2021-03-30 09:20] Samcarfe commented on #68
No, no me aparecen las redes disponibles... o algo no estoy haciendo bien

[2021-03-31 14:06] jasvazquez commented on #68
Perdón por ser tan "pesado" Samuel... ¿no aparecen en el siguiente applet del panel inferior?

![imagen](https://user-images.githubusercontent.com/604744/113157243-046e5f00-923b-11eb-965b-b738df31545f.png)

[2021-03-31 17:05] jasvazquez commented on #73
Empecemos por algo más sencillo Samuel... prueba a lanzar un

`lsusb`

al tratarse de un dispositivo usb no aparece con `lspci` 😉

[2021-04-01 09:42] jasvazquez commented on #71
Suelto la tarea tras no haber recibido respuesta hasta la fecha

[2021-04-05 06:19] Samcarfe commented on #68
Hola:
Gracias por tu inestimable ayuda, pero lamentablemente, no me parece el icono de redes, solo el de redes cableadas, me dice que "el dispositivo no está gestionado"
![MININO](https://user-images.githubusercontent.com/79637829/113543870-8b2e8d80-95e7-11eb-9df8-7d0f61972c23.jpeg)

[2021-04-05 06:45] Samcarfe commented on #73
Hola José Antonio:
Adjunto pantallazo del
lsusb
No soy un experto en esto, pero no veo el dispositivo en la lista.
![MININO_LSUSB](https://user-images.githubusercontent.com/79637829/113545850-3856d500-95eb-11eb-8d49-a2b0594567da.jpeg)

[2021-04-05 16:32] jasvazquez commented on #68
Es raro porque como mostrabas el otro día, las wifis las detecta
Igual no usan la misma "nomenclatura" para las tarjetas de red ¿Podrías enviar captura de lanzar un `ip addr`? 🤔

[2021-04-05 16:32] jasvazquez commented on #73
Efectivamente... no se ve el dispositivo en la lista
¿Funciona en otros equipos, Samuel? 🤔

[2021-04-06 06:20] Samcarfe commented on #73
Hola:
Si, funciona en otros equipos, es nuevo y al ver que no funcionaba "Minino" lo probé en otros equipos y funciona perfectamente.
¿Qué puede ser?

[2021-04-06 06:45] Samcarfe commented on #68
Hola José Antonio:
Encontré [la solución](https://www.wifi-libre.com/topic-25-configurar-network-manager-para-que-gestione-la-interfaz-ethernet.html) de rebote en este artículo.
Ya funciona perfectamente.
Muchísimas gracias por tu tiempo y esfuerzo.

[2021-04-06 17:40] jasvazquez commented on #68
Al contrario: gracias a ti Samuel.
El artículo con la solución seguro que le es de utilidad a algún que otro compañero 👍🏻

[2021-04-06 17:41] #68 closed, assigned to jasvazquez

[2021-04-06 17:49] jasvazquez commented on #73
¿Podrías aplicar un `lusub` en alguno de los equipos (si es Linux) en los que funcione?

Me gustaría conocer el ID del fabricante y el producto.

De todos modos, echa un vistazo al siguiente [comentario en foros](https://forums.linuxmint.com/viewtopic.php?p=1726488&sid=5503a62ea4c2ad913a8b3b12e2083d81#p1726488) que podría sernos de utilidad 👍🏻

[2021-04-07 08:37] Samcarfe commented on #73
Hola:
Ayer estuve trasteando en el mismo foro, pero no he tenido pantalones de instalar el controlador del Archer, me da error constantemente con todos los comandos que he intentado. Me da "Error 127"

Por otra parte, te envío la ID del producto:
USB\VID_2357&PID_011F&REV_0200
Sigo bicheando en busca de una solución.

[2021-04-07 08:55] jasvazquez commented on #73
Ok. Intentaré sacar hueco e intentar compilarlo yo 👍🏻

[2021-04-07 10:00] Samcarfe commented on #73
Sigo intentándolo, he logrado algunos avances, pero esto de ser neófito en linux, me limita mucho.
Ya reconoce el dispositivo USB, es el que aparece con ID 2357::
![ARCHER_1](https://user-images.githubusercontent.com/79637829/113848341-a8568e00-9798-11eb-9858-79defc05c337.jpeg)
Intento instalar el drive siguiendo los pasos de [este tutorial](https://forums.linuxmint.com/viewtopic.php?f=53&t=307023

[2021-04-07 11:57] jasvazquez commented on #73
El "máster" que vas hacer no tiene precio Samuel 😉👍🏻
Estás haciendo grandes avances, enhorabuena.
Para que quede registrado por si le sirve de utilidad a otro ¿cómo han logrado que identifique el dispositivo?

[2021-04-08 06:54] Samcarfe commented on #73
Jajaja, un máster o dos...
Para que reconozca las unidades USB he activado los repositorios privativos, he hecho un upgrade y update. Una vez hecho, ya han aparecido las unidades.
He intentado instalar el driver oficial y algunos alternativos de GitHub, pero me da siempre el mismo error es como si faltase algo en el kernel, aparece algo así como linux-header 3.15.0.6
Espero que esto ayude.

[2021-04-08 09:56] jasvazquez commented on #73
El linux-header es básico para poder compilar cualquier cosa que haga uso de los servicios del kernel por lo que te recomendaría instalar dicho paquete (un apt search linux-header) debería ser suficiente para localizarlo (perdona que no sea más concreto estoy con el móvil y sin un Minino a mano 😅)

[2021-04-08 10:49] Samcarfe commented on #73
Pues ya se lo que es, pero no se como se soluciona:
Resulta que estos drivers no son compatibles con la versión del kernel y me dan error por eso, el kernel es el 3.16.0 y precisa de uno anterior... y no se como se puede hacer eso.
Eso si, esto me está enseñando muchísimo y me alegro.

[2021-04-08 15:03] jasvazquez commented on #73
Bueno, parece que ha cambiado algo la [forma de instalar el driver](https://github.com/aircrack-ng/rtl8812au#installation-of-driver)

Indica claramente qué linux-headers necesitamos

![imagen](https://user-images.githubusercontent.com/604744/114045006-fbf3d500-9887-11eb-8d33-1dbcbe757cb1.png)

Parece que, como bien comentabas, no está la versión exacta por lo que voy a instalar la inmediatamente p

[2021-04-08 15:05] jasvazquez commented on #73
Samuel... ¿en los logs (usa dmesg) observas algún comentario del tipo "firmware: failed to load rtlwifi"?

Observo que el paquete firmware-realtek incluye un driver binario para tu pincho wifi

![imagen](https://user-images.githubusercontent.com/604744/114050414-89d1bf00-988c-11eb-916a-59fe94412de6.png)

¿Tienes instalado el paquete firmware-realtek?

[2021-04-08 16:47] aosucas499 commented on #73
1. Si el dispositivo es nuevo, cómo es que necesita un kernel anterior al 3.16?
2. La versión actual de minino está basada en el kernel 3.16 pero no hay kernel-headers para compilar, si se necesitan te puedo indicar como instar 3.19, 4.12, 5.10 (muy actual), que en algunos de ellos si se puede instalar los kernel-headers. Pero haz caso del comentario anterior del compañero @jasvazquez a ver si se

[2021-04-09 06:14] Samcarfe commented on #73
¡Cuidado! Me está encantando esto del Github para proyectos... veremos donde acaba todo esto (Jajajaja)

Si, instalé el firmware de realtek y también el de mediatek (pues según leí en varios foros, hay algunos pinchos que traen ese chipset). He intentado la instalación desde repositorios non-free, así como desde alternativas de GitHub y la oficial, pero suele darme error, siempre llego al mismo lu

[2021-04-09 07:00] jasvazquez commented on #73
Al final te harás un "adicto" a esto de Github 🤣 👍🏻

Me alegra que te esté gustando, Samuel y ten por seguro que (tarde o temprano) terminaremos resolviendo el problema con el dichoso pincho 😅

¿Has podido mirar si hay algún mensaje en los logs (dmesg) como [te pedí](https://github.com/aosucas499/minino-TDE/issues/73#issuecomment-815899388)?

[2021-04-09 07:59] Samcarfe commented on #73
He hecho el dmesg y no aparece ningún mensaje relacionado con rtlwifi, me ha confirmado que está instalada la última versión del firmware realtek.

[2021-04-09 08:34] jasvazquez commented on #73
¿Podrías enviarlo para echarle un vistazo tranquilamente? 🤔

[2021-04-09 09:25] Samcarfe commented on #73
Aquí te lo dejo:

[DMESG.pdf](https://github.com/aosucas499/minino-TDE/files/6284626/DMESG.pdf)

No obstante, por lo visto el Chipset de esta versión del Archer es un Realtek en concreto el RTL8811AU, a ver si es una cuestión de la versión del driver.
A ver si pude ser

[2021-04-09 20:28] jasvazquez commented on #73
Gracias Samuel ¿Por qué apuntas al rtl8811au?¿Dónde lo has visto?

 En la web solo encuentro [referencias al 8812au](https://linux-hardware.org/index.php?id=usb:2357-011f) 🤷🏻‍♂️

[2021-04-12 06:16] Samcarfe commented on #73
Buenas. Leí la información en esta wiki:
http://en.techinfodepot.shoutwiki.com/wiki/TP-LINK_Archer_T2U_v3
No obstante, puede que el driver rtl8812au sea una actualización para el chipset de este adaptador.

[2021-04-12 16:28] jasvazquez commented on #73
Navegando por la web proporcionada he llegado a un pdf de la propia TP-Link con instrucciones para la [compilación y carga del driver en Linux](https://static.tp-link.com/2018/201812/20181207/Installation%20Guide%20for%20Linux.pdf) y [el código fuente para Linux del driver](https://www.tp-link.com/en/support/download/archer-t2u/#Driver)

[2021-04-12 16:39] jasvazquez commented on #73
El problema es que no cumplimos ninguno de los requisitos (ni podremos cumplirlos, fácilmente)

![image](https://user-images.githubusercontent.com/604744/114430116-65445280-9bbe-11eb-91c8-6e8e7ebc77f2.png)

[2021-04-12 16:41] jasvazquez commented on #73
Volviendo a la conversación original del chipset, aunque se hace mención al 8811au parece recomendar el 8812au

![image](https://user-images.githubusercontent.com/604744/114430363-a50b3a00-9bbe-11eb-8ddf-0dc7a687e915.png)

[2021-04-12 16:53] jasvazquez commented on #73
@Samcarfe salgamos de dudas... como escribí en su día: [actualiza la lista de controladores conocidos](https://andalinux.wordpress.com/2014/07/08/actualizar-datos-identificacion-dispositivos-usb/) y me cuentas qué sale (volviendo a lanzar _lsusb_).

En la foto que subiste falta el modelo

![image](https://user-images.githubusercontent.com/604744/114431956-65dde880-9bc0-11eb-961c-a5cbd82057c6.png)

[2021-04-12 17:33] jasvazquez commented on #73
@Samcarfe, tras actualizar el kernel a la versión __3.16.0-6__

```sudo apt install linux-image-3.16.0-6-686-pae linux-headers-3.16.0-6-686-pae```

he reiniciado el equipo (para que cargue el nuevo kernel)

He descargado los drivers ofrecidos por EdiMax y los he compilado del siguiente modo

[code]

Tras todo este "jaleo" parece que hemos logrado compilar (sin errores) el driver de tu pincho usb.

[2021-04-13 06:32] Samcarfe commented on #73
Hola:
Gracias por tu enorme trabajo, pero siento decirte que el pincho sigue sin funcionar. Toda la compilación ha funcionado perfectamente, pero a pesar de varios reinicios, nada no hay manera... seguro que he hecho algo mal.

Siento mucho la lata que estoy dando, pero no encuentro la manera de resolver este inconveniente.

He hecho la actualización y ya reconoce el pincho USB.

[2021-04-13 07:53] Samcarfe commented on #73
Una pregunta: ¿por qué usas el driver de Edimax?
Aquí te dejo la captura de pantalla en la que se aprecia el usb Tp-Link:

![Captura_mar abr 13 09:52:10](https://user-images.githubusercontent.com/79637829/114516792-058d8c00-9c3e-11eb-8a97-3c57b29d4350.png)

[2021-04-14 15:10] jasvazquez commented on #73
Más lo siento yo compañero... tenía serias esperanzas en haberlo resuelto 🤷🏻‍♂️
En fin, ¡sigamos!

Uso el de EdiMax porque es, de los recomendados en la wiki que proporcionaste, el que menos problemas da y es para el mismo chipset (8812au) que nos traemos entre manos

Una duda, el haber aparecido la referencia TP-Link en tu captura anterior ¿se debe al driver que has estado compilando o a que has

[2021-04-14 18:18] aosucas499 commented on #63
Hoy me he dado cuenta de un fallo.

Si instalas un pc y abres customize-minino sin tener conexión a internet, te muestra que hay una nueva versión pero se rompe el script y no puedes volver a abrirlo aunque posteriormente tengas conexión a Internet. Por lo tanto, tienes que descargar el proyecto y volver a copiar customize-minino en /usr/bin.

Quizás la posible solución pase por anteriormente a la

[2021-04-14 19:52] profeIAP commented on #63
Me alegra que hayas sido tú quien lo ha detectado 😉

Como bien intuyes, el fallo es común pues ambos comparten código.

Anoto mirarlo, es poca cosa 👍🏻

[2021-04-14 19:55] aosucas499 commented on #63
Genial ProfeIAP!!! En cuánto esté resuelto, a ver si saco tiempo para el dichoso control de presencia, es poca cosa pero el otro día no daba con la manera de poner una página web en firefox como principal desde la consola de comandos...y entonces yo creo que es cuestión de generar la iso y mandarla como definitiva

[2021-04-14 19:56] profeIAP commented on #63
🙈🤣

[2021-04-15 06:09] Samcarfe commented on #73
Hola:
La referencia en el lsusb apareció justo después de lanzar la actualización del listado que me pediste.

[2021-04-16 06:24] jasvazquez commented on #73
Perdóname por presuponer cosas @Samcarfe ¿has cargado el driver con un _modprobe_?

Deberías lanzar un

![imagen](https://user-images.githubusercontent.com/604744/114980694-1da71a80-9e8d-11eb-84b9-6079c20ac2c1.png)

para que el kernel pueda hacer uso de él.

El segundo comando que aparece en la captura (_lsmod_) no es necesario, lo he lanzado para que veas que está cargado el driver wifi (y aprend

[2021-04-16 11:04] Samcarfe commented on #73
Pues parece ser que no, como puedes comprobar en la imagen:
![Captura_vie abr 16 13:03:27](https://user-images.githubusercontent.com/79637829/115015641-4393e580-9eb4-11eb-8597-9fb9c0949997.png)
¿Qué debo hacer en este caso?

[2021-04-16 13:53] profeIAP commented on #73
Tenemos que revisar la compilación que has podido hacer en base a las instrucciones que puse hace unos días.

En mi máquina virtual y sin tener el pincho USB me funciona perfectamente y consigo cargar el driver

[2021-04-18 15:05] jasvazquez commented on #63
Se acabó "chimpón" (o eso espero 😅 )

![imagen](https://user-images.githubusercontent.com/604744/115150370-4d5e4a00-a068-11eb-9832-7085ad48c939.png)

[2021-04-20 19:52] aosucas499 commented on #32
Si descargo el git e instalo update-minino desde la versión anterior a esta que tenía en la máquina virtual, no hay problema, pero si monto en la máquina virtual nuestro minino desde el que partimos "fix-centros", descargo nuestro proyecto (git clone) y ejecuto update-minino, en cada inicio del sistema o tras cerrar e iniciar sesión, me muestra consola de comandos para poner la contraseña del usua

[2021-04-21 14:54] jasvazquez commented on #32
Anoto revisarlo... gracias compañero 👍🏻

[2021-04-21 21:31] aosucas499 commented on #69
Aquí te pongo la función del [control de presencia de Séneca](https://github.com/aosucas499/minino-TDE/blob/main/customize/controldepresencia.sh). Funciona la instalación, la comprobación y la desinstalación.  La he intentado incluir en customize-minino pero no ejecuta la llamada a la función "activarAutoLogin" que es necesaria para esta nueva función. He probado a llamarla, a simplemente colocar

[2021-04-23 19:41] aosucas499 opened #74 "Nuevo instalador"
El amigo [Piero](https://github.com/pieroproietti/penguins-eggs) y su herramienta penguin eggs siempre me ha fascinado para crear instaladores e ISO's. La uso en [educaAndOS plus](https://github.com/aosucas499/guadalinex) con el instalador calamares y me ha hecho generar la ISO y un instalador fascinantes para resolver el problema de no tener ISO en los centros.

Llevo tiempo intentando usarla en

[2021-04-23 21:16] jaimecarrascogarcia commented on #74
Excelente idea compañero, cuenta conmigo para "TESTEAR".....espero la ISO....

[2021-04-24 18:36] jasvazquez commented on #32
@aosucas499 en teoría ya tendría el mismo comportamiento en las dos versiones que mencionas.

No obstante (salvo que demos permisos de administrador a `/usr/bin/update-minino` o lo incluyamos en el fichero de _sudoers_) seguirá pidiendo clave tan pronto comience a "hacer cosas" ya que update-minino como bien sabemos, toca ficheros del sistema e instala programas.

Agradecería comprobases si ya no

[2021-04-24 18:40] aosucas499 commented on #32
Intento probarlo esta misma tarde, gracias compañero. No habría problema en incluir en sudoers, tenemos el código que lo hace para el ntpfix, serían dos minutos si lo ves apropiado.

[2021-04-24 18:44] jasvazquez commented on #32
No corre prisa... yo me he sentado un rato a cerrar esto y lo voy a dejar por hoy.

Anoto como nueva tarea el tema de incluirlo en _sudoers_ pues aunque poco, requiere desarrollo, estamos ante nueva funcionalidad y requerirá alguna que otra prueba (y esta tarea ya está "creciendo demasiado" y soy minimalista, a parte de cabezón, para estas cosas 🤣 😅 )

¿Divide y vencerás? Naaahhh... mas bien manía

[2021-04-24 18:49] jasvazquez opened #75 "Incluir update-minino en listado sudoers"
Tras "pelear" en la tarea #32 con los permisos y tener que estar introduciendo contraseñas para poder actualizar minino cada vez que aparezca una nueva _release_, nos planteamos la posibilidad de incluir el script `/usr/bin/update-minino` dentro del fichero _sudoers_ para evitar al usuario tener que hacerlo.

[2021-04-24 18:51] jasvazquez commented on #73
@Samcarfe ¿cómo llevas este tema?

Imagino que andarás ocupado pero desde aquí reiterarte que puedes contar conmigo para poder comprobar qué está ocurriendo realmente y si hemos encontrado una posible solución al tema de la conexión wifi 💪🏻

[2021-04-24 19:18] aosucas499 commented on #32
He probado con la versión fix-centros y no funciona, al ejecutar update-minino se queda muerto, el cursor en blanco de la terminal parado hasta la eternidad.

![VirtualBox_minino TDE_24_04_2021_21_13_46](https://user-images.githubusercontent.com/72696244/115970433-991a6300-a542-11eb-91b5-e8c705800e69.png)

[2021-04-24 19:22] aosucas499 commented on #32
Si quieres volvemos a la versión anterior y añado update-minino a sudoers. Menos dolor de cabeza...

[2021-04-24 19:41] aosucas499 commented on #74
[link testing iso](https://drive.google.com/file/d/19QUmFUnLtoCm7rJnDlQ4xLXguxXjaKGY/view?usp=sharing)

Habría que modificarla para que no perdamos los iconos en el escritorio tipicos de minino ni el fondo de pantalla, así como el arranque cambiar la imagen del pinguino por el gatito, pero lo tengo todo de cuando las lamentablets, así que como testing del instalador por ahora vale esta.

[2021-04-24 20:08] profeIAP commented on #32
No tiene sentido (salvo que update-minino no esté en /usr/bin)

¿Dónde puedo descargar la fix-centros? (ya no me fío de la vbox que tengo)

[2021-04-24 21:14] aosucas499 commented on #32
No sé, tenía una snapshot desde la que siempre parto que es la instalación de fix centros [fix centros](https://drive.google.com/file/d/14_v_ru-CU1bzMSCtWGhJJgkx7idXxckq/view?usp=drivesdk)

[2021-04-25 05:39] pieroproietti commented on #74
Que bueno! Justo ahora esto lejendo su post companero, por el momento que tengas un buen domingo.

[2021-04-26 06:18] Samcarfe commented on #73
Hola @jasvazquez:
La verdad es que no se que hacer, estoy muy perdido, no sé por donde tirar. ¿Algún consejo?
Como puse en un mensaje anterior, el modprobe dio fallo y no se como agregar el driver al kernel... si es que es eso lo que tengo que hacer, claro.
Como te dije en su momento, soy "primerizo" en estas lides y ando a ciegas.
Muchas gracias por tu ayuda.

[2021-04-26 09:14] MMONTAVEZ opened #76 "reinstalar SO Vexia"
Hola, trabajo en un centro educativo de primaria de Sevilla, alfonso de Orleans. Varias vexia me dan problemas y quiero reinstalar el SO. He seguido las instrucciones que aparecen en el Github, pero nada. Me aparece la pantalla en negro y el número 92 en pequeño.
Gracias.

[2021-04-26 09:23] MMONTAVEZ commented on #76
TE mando una captura del correo con José, quien me dijo que contactara con usted. Lo de lo grupos Telegram no lo he visto. Soy también el coordinador TDE en mi colegio
![correo_aosucas](https://user-images.githubusercontent.com/83212471/116060067-cde10400-a681-11eb-89e5-7c9bae0806e0.png)

[2021-04-26 11:27] jasvazquez commented on #76
Hola compi, desgraciadamente (y aunque me líe hasta yo 😅 ) este no es el repositorio del proyecto de las Vexia.
Mejor dirígete a @aosucas499 a través d[el siguiente enlace](https://github.com/aosucas499/lamentablet-vexia)
Suerte y un saludo

[2021-04-26 11:28] #76 closed, assigned to nobody

[2021-04-26 11:31] jasvazquez opened #77 "Compartir ISO mediante bittorrent"
Tras comentar en el grupo de Telegram la posibilidad de usar el protocolo P2P para compartir las ISOs del proyecto y no depender de servidores externos sino de los miembros de la comunidad, se publicó artículo intentado resumir [cómo crear ficheros .torrent](https://andalinux.wordpress.com/2021/04/13/crear-ficheros-torrent-facilmente/).

Queda probar que funciona correctamente y evaluar si es viab

[2021-04-26 11:32] jasvazquez commented on #77
Tras las pruebas realizadas con @aosucas499, el único fichero que hemos compartido sin problemas ha sido una imagen en la que se han utilizado varios trackers con objeto de intentar acelerar su publicación y disponibilidad

![imagen](https://user-images.githubusercontent.com/604744/116075941-e1956600-a693-11eb-8da8-4c27153f50cd.png)

[2021-04-26 14:10] aosucas499 commented on #77
Si probaste los que te pasé el otro día y que había puesto en un pc de sobremesa, decirte que el finde ha estado muchas horas apagado.

[2021-04-26 14:22] jasvazquez commented on #77
Y bien merecido que os le teníais... no obstante (mi NAS suele estar encendida más de lo que me gustaría) sigue sin moverse

![imagen](https://user-images.githubusercontent.com/604744/116098650-88d1c780-a6ab-11eb-8524-b2777a7ad57f.png)

Yo probaría a añadir todos los trackers que aparecen en la captura (en el mismo comando, añade tantos -t como trackers necesites) y enviar el nuevo .torrent

[2021-04-26 14:29] aosucas499 commented on #77
Si quieres por descartar historias en mi conexión, bájate el plus que lo tengo en drive, lo creas como hiciste con la imagen y me lo pasas el .torrent

[Educaandos plus hp  clonezilla](https://drive.google.com/file/d/1S0UM0oJ7hmOkS4grxm5KBi_Mh1UcLorZ/view?usp=drivesdk)

[2021-04-27 19:15] aosucas499 commented on #75
Archivo añadir sudoers: [commit 3609990](https://github.com/aosucas499/minino-TDE/commit/360999011b6fad78eeddfcf80aeae72ea403dd66)

function sudoersUpdate: [commit c239ba](https://github.com/aosucas499/minino-TDE/commit/c239ba897d7f314d0a721c7e27ef53581fcb5214)

añadido sudo a updateMinino.desktop: [commit 71b008c](https://github.com/aosucas499/minino-TDE/commit/71b008caadbd3844a3440f03e8bd6ec1af8

[2021-04-27 19:33] aosucas499 commented on #75
He añadido /usr/bin/update-minino a sudoers creando una función para que lo añada en update-minino. He modificado también tu código que creaba el archivo update-minino.desktop de autoinicio, simplemente añadiendo sudo, ya que sin él seguiría pidiendo contraseña en cada inicio. Con esto resolvemos el problema.

Por ahora en cada inicio siempre ejecuta todo el update-minino, supongo que tendré que c

[2021-04-27 19:53] aosucas499 commented on #75
Creo que con esto tenemos solucionado el problema.

Cada destacar que update-minino se ejecuta en cada inicio. No lo veo un gran problema sino fuese porque sale la ventana de xterm siempre.

Una fotografía de la primera vez que detecta una release nueva:

![VirtualBox_minino TDE_27_04_2021_21_37_22](https://user-images.githubusercontent.com/72696244/116304468-e563de00-a7a2-11eb-808a-68654eae34f5.p

[2021-04-27 20:28] aosucas499 commented on #75
Solucionado el problema anterior con la release [1.2.4](https://github.com/aosucas499/minino-TDE/releases/tag/1.2.4) modificando otra vez el .desktop de autoinicio y eliminando xterm, que supongo pusiste como una manera de visualizar su ejecución. Muy inteligente!

Hay que destacar que la función [autostartupdateminino](https://github.com/aosucas499/minino-TDE/blob/49ec7da4a49104bc56ebc188869fcc35

[2021-04-27 20:32] aosucas499 commented on #32
Creo que podemos cerrar este problema y dado como finalizado con la release [1.2.3](https://github.com/aosucas499/minino-TDE/releases/tag/1.2.3)  y [1.2.4](https://github.com/aosucas499/minino-TDE/releases/tag/1.2.4)

Mil gracias por esta función tan deseada y productiva !!!

[2021-04-27 21:14] aosucas499 opened #78 "customize-minino suplantado por update-minino"
Tras la creación de la release [1.2.3](https://github.com/aosucas499/minino-TDE/releases/tag/1.2.3)  y [1.2.4](https://github.com/aosucas499/minino-TDE/releases/tag/1.2.4) si ejecutamos customize-minino detecta una nueva versión. Si actualizamos update-minino suplanta el código de customize-minino. Si cancelamos todo marcha bien. Todo esto partiendo de la versión original "fix-centros"

No sé si h

[2021-04-27 21:23] aosucas499 commented on #78
Por último observo que si parto de una máquina virtual con el proyecto actualizado a fecha de 22 abril, compruebo que customize-minino está actualizada y se lanza bien, posteriormente descargo la release de hoy 1.2.4 y reinicio, customize-minino no detecta problemas, supongo que porque no detecta cambio de versión.